[2018-02-07 09:38] 0crat commented on #176
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-07 15:49] yegor256 commented on #176
@rok-povsic this "bug" is not relevant to 0pdd. Please, report it to Zerocrat repository. Also, I would not recommend to report it there, since Zerocrat has no idea who is a bot and who is not. All users are equal to it.

[2018-02-07 15:49] #176 closed

[2018-02-07 15:49] 0crat commented on #176
Job `gh:yegor256/0pdd#176` is not assigned, can't get start time

[2018-02-07 15:59] 0crat commented on #176
Job [#176](https://github.com/yegor256/0pdd/issues/176) was not in scope

[2018-02-13 18:44] 0crat commented on #99
The job [#99](https://github.com/yegor256/0pdd/issues/99) assigned to @valentjedi[/z](https://www.0crat.com/u/valentjedi), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/441843943). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). I

[2018-02-14 17:14] 0crat commented on #164
The job [#164](https://github.com/yegor256/0pdd/issues/164) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/451714310). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-21 19:12] 0crat commented on #174
The job [#174](https://github.com/yegor256/0pdd/issues/174) assigned to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/521912865). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9).

[2018-02-21 20:03] #96 closed

[2018-02-21 20:03] 0crat commented on #47
Job [#47](https://github.com/yegor256/0pdd/issues/47) is now in scope, role is `DEV`

[2018-02-21 20:03] #91 closed

[2018-02-21 20:04] 0crat commented on #47
Thanks for your contribution, @0pdd[/z](https://www.0crat.com/u/0pdd)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://datum.zerocracy.com/pages/policy.html#29). You can join and apply to it, see [§2](http://datum.zerocracy.com/pages/policy.html#2).

[2018-02-21 20:04] 0crat commented on #57
Job [#57](https://github.com/yegor256/0pdd/issues/57) is now in scope, role is `DEV`

[2018-02-21 20:04] 0crat commented on #57
Thanks for your contribution, @0pdd[/z](https://www.0crat.com/u/0pdd)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://datum.zerocracy.com/pages/policy.html#29). You can join and apply to it, see [§2](http://datum.zerocracy.com/pages/policy.html#2).

[2018-02-21 20:04] yegor256 opened #177 "notify parent tickets on puzzles update"
Let's notify parent issues when puzzles get opened or closed.

[2018-02-21 20:07] 0crat commented on #177
The job [#177](https://github.com/yegor256/0pdd/issues/177) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/522008315). The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If

[2018-02-21 20:08] 0crat commented on #177
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10609](https://www.0crat.com/u/yegor256)

[2018-02-21 20:08] 0crat commented on #177
Manual assignment of issues is discouraged, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -5 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10609](https://www.0crat.com/u/yegor256)

[2018-02-21 20:08] 0crat commented on #177
It is strongly discouraged to assign jobs to their creators, see [§19](http://datum.zerocracy.com/pages/policy.html#19): -15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10609](https://www.0crat.com/u/yegor256)

[2018-02-21 21:49] ashtonhogan commented on #96
It's cool, this is old news, I completely forgot about `elegantdb` to be honest

[2018-02-21 22:14] yegor256 commented on #177
@rultor release, tag is `0.29`

[2018-02-21 22:15] rultor commented on #177
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13974-367493656)

[2018-02-21 22:20] rultor commented on #177
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13974-367493656) (took me 4min)

[2018-02-22 07:58] #177 closed

[2018-02-22 08:01] 0crat commented on #177
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+10649](https://www.0crat.com/u/yegor256)

[2018-02-22 08:02] 0crat commented on #177
The job [#177](https://github.com/yegor256/0pdd/issues/177) is now out of scope

[2018-02-22 09:52] rok-povsic commented on #164
@0crat refuse

[2018-02-22 09:54] 0crat commented on #164
@rok-povsic The user @rok-povsic[/z](https://www.0crat.com/u/rok-povsic) resigned from [#164](https://github.com/yegor256/0pdd/issues/164), please stop working

[2018-02-22 09:55] 0crat commented on #164
Tasks refusal is discouraged, see [§6](http://datum.zerocracy.com/pages/policy.html#6): -15 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic), total is [+105](https://www.0crat.com/u/rok-povsic)

[2018-02-23 06:41] 0pdd commented on #10
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #11
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #12
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #13
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #15
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #16
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #14
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #17
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #22
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #34
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #35
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #36
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #37
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #38
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #39
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #47
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #48
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #55
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #56
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #58
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #64
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #65
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #77
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #83
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #84
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #111
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #112
@0pdd all puzzles are solved

[2018-02-23 06:41] 0pdd commented on #113
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #10
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #11
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #12
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #13
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #15
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #14
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #16
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #17
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #22
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #34
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #35
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #36
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #37
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #38
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #39
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #47
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #48
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #55
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #56
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #58
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #64
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #65
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #77
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #83
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #84
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #111
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #112
@0pdd all puzzles are solved

[2018-02-23 06:57] 0pdd commented on #113
@0pdd all puzzles are solved

[2018-02-23 12:44] 0crat commented on #164
The job [#164](https://github.com/yegor256/0pdd/issues/164) assigned to @prondzyn[/z](https://www.0crat.com/u/prondzyn), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/541246535). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, r

[2018-02-23 13:33] 0crat commented on #139
The job [#139](https://github.com/yegor256/0pdd/issues/139) assigned to @valentjedi[/z](https://www.0crat.com/u/valentjedi), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/541331026). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clea

[2018-02-23 14:49] 0crat commented on #24
The job [#24](https://github.com/yegor256/0pdd/issues/24) assigned to @valentjedi[/z](https://www.0crat.com/u/valentjedi), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/541448505). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear,

[2018-02-23 15:58] valentjedi commented on #24
@yegor256  How about 0-33% completed is red, 33-66% completed is orange and >66% completed puzzles is green? Seems like most obvious division.

[2018-02-23 15:59] valentjedi commented on #24
@0crat waiting

[2018-02-23 15:59] 0crat commented on #24
Are you speaking to me or about me [here](https://github.com/yegor256/0pdd/issues/24#issuecomment-368050936). You must always start your message with my name if you want to address it to me, see [§1](http://www.zerocracy.com/policy.html#1).

[2018-02-23 16:04] valentjedi commented on #24
0crat waiting

[2018-02-23 16:04] valentjedi commented on #24
@0crat waiting

[2018-02-23 16:05] 0crat commented on #24
@valentjedi The impediment for [#24](https://github.com/yegor256/0pdd/issues/24) was registered successfully by @valentjedi[/z](https://www.0crat.com/u/valentjedi)

[2018-02-23 18:44] 0crat commented on #99
The user @valentjedi[/z](https://www.0crat.com/u/valentjedi) resigned from [#99](https://github.com/yegor256/0pdd/issues/99), please stop working

[2018-02-23 18:45] 0crat commented on #99
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @valentjedi[/z](https://www.0crat.com/u/valentjedi), total is [-120](https://www.0crat.com/u/valentjedi)

[2018-02-23 21:26] 0crat commented on #143
The user @prondzyn[/z](https://www.0crat.com/u/prondzyn) resigned from [#143](https://github.com/yegor256/0pdd/issues/143), please stop working

[2018-02-23 21:26] 0crat commented on #143
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @prondzyn[/z](https://www.0crat.com/u/prondzyn), total is [-90](https://www.0crat.com/u/prondzyn)

[2018-02-24 17:11] amihaiemil opened #178 "0pdd comments "All puzzles are solved" in all repo's opened and closed tickets"
1) git push with new puzzle (and also one puzzle removed)
2) 0pdd closes the removed puzzle's Issue and opens a new one for the new puzzle - OK
3) 0pdd comments on all the Issues (both opened and closed): "``@0pdd All puzzles are solved"

[2018-02-24 17:11] 0crat commented on #178
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-25 07:12] yegor256 commented on #178
@amihaiemil can you give an example? Where did it happen?

[2018-02-25 07:16] 0pdd commented on #10
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #11
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #12
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #13
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #15
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #16
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #17
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #14
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #22
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #34
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #35
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #36
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #37
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #38
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #39
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #47
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #48
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #55
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #56
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #58
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #64
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #65
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #77
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #83
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #84
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #111
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #112
@0pdd all puzzles are solved

[2018-02-25 07:16] 0pdd commented on #113
@0pdd all puzzles are solved

[2018-02-25 07:16] yegor256 commented on #178
@amihaiemil I see it myself, here for example: https://github.com/zerocracy/farm/issues/89#issuecomment-368227489

[2018-02-25 07:18] 0crat commented on #178
Thanks for your contribution, @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-02-25 07:43] yegor256 commented on #24
@valentjedi yes, sounds right, let's do it

[2018-02-26 19:14] 0crat commented on #174
@rok-povsic[/z](https://www.0crat.com/u/rok-povsic) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-02-28 13:55] 0crat commented on #139
@valentjedi[/z](https://www.0crat.com/u/valentjedi) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-01 07:47] rok-povsic commented on #174
@0crat refuse

[2018-03-01 07:48] 0crat commented on #174
@rok-povsic The user @rok-povsic[/z](https://www.0crat.com/u/rok-povsic) resigned from [#174](https://github.com/yegor256/0pdd/issues/174), please stop working. Reason for job resignation: Order was cancelled

[2018-03-01 07:49] 0crat commented on #174
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 points just awarded to @rok-povsic[/z](https://www.0crat.com/u/rok-povsic)

[2018-03-02 07:19] 0crat commented on #178
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-03 13:33] 0crat commented on #139
@valentjedi[/z](https://www.0crat.com/u/valentjedi) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-03 14:09] ralfw opened #179 "0PDD unable to retrieve PDD puzzles from source code files"
0PDD worked fine yesterday while I directly pushed to master. Puzzles were retrieved correctly.

Today I changed my approach. No direct push to master, instead merging a PR with master.
0PDD did not flag any inability until there were puzzles in the source code.

See here for example: https://github.com/ralfw/pddevaluation/blob/master/kata_todo/todo/MainController.cs#L3

This is what 0PDD then sta

[2018-03-03 14:09] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) please, charge attention to this issue

[2018-03-03 15:53] php-coder commented on #172
It's still there. Looks like the limit is about 5 puzzles for my repo. Some new issues were created only now, 1 week after I added @todos, that is unexpected. :-(

[2018-03-05 07:18] 0crat commented on #178
@yegor256[/z](https://www.0crat.com/u/yegor256) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-03-05 12:43] 0crat commented on #164
The user @prondzyn[/z](https://www.0crat.com/u/prondzyn) resigned from [#164](https://github.com/yegor256/0pdd/issues/164), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-05 12:43] 0crat commented on #164
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @prondzyn[/z](https://www.0crat.com/u/prondzyn)

[2018-03-05 12:46] 0crat commented on #99
The job [#99](https://github.com/yegor256/0pdd/issues/99) assigned to @prondzyn[/z](https://www.0crat.com/u/prondzyn), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/641245441). The budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4). Please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9). If the task is not clear, rea

[2018-03-05 13:35] 0crat commented on #139
The user @valentjedi[/z](https://www.0crat.com/u/valentjedi) resigned from [#139](https://github.com/yegor256/0pdd/issues/139), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-03-05 13:35] 0crat commented on #139
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 points just awarded to @valentjedi[/z](https://www.0crat.com/u/valentjedi)

[2018-03-05 14:01] yegor256 opened #180 "latest pdd (0.20.3)"
Let's use it.

[2018-03-05 14:05] yegor256 commented on #180
@rultor release, tag is `0.29.1`

[2018-03-05 14:06] rultor commented on #180
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14049-370429071)

[2018-03-05 14:07] yegor256 commented on #179
@ralfw read the stacktrace, the problem is in this file:

[code]

The puzzle is not formatted correctly.

[2018-03-05 14:07] #179 closed

[2018-03-05 14:10] rultor commented on #180
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14049-370429071) (took me 4min)

[2018-03-05 14:12] #180 closed

[2018-03-05 14:44] ralfw commented on #179
Thx for pointing that out. Will be more careful in the future.

[2018-03-05 14:56] ralfw opened #181 "Improve puzzle format description"
Add syntax for puzzles to https://github.com/yegor256/pdd#how-to-format (or wherever it's relevant). This way it would be unambiguous how to format a puzzle. Examples always leave room for misunderstanding and require abstraction by every reader.

Of course, examples are easier to read than a syntax spec. So the spec is there only in case of doubt or error.

Example

[code]

[2018-03-05 14:56] 0crat commented on #181
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-03-05 15:23] yegor256 commented on #181
@ralfw that's a good idea indeed, but it belong to this repository:  https://github.com/yegor256/pdd Can you please submit it there?

[2018-03-05 15:23] #181 closed

[2018-03-05 16:24] yegor256 commented on #178
@rultor release, tag is `0.29.2`

[2018-03-05 16:25] rultor commented on #178
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14052-370475406)

[2018-03-05 16:31] ralfw commented on #181
done

[2018-03-05 16:31] rultor commented on #178
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14052-370475406) (took me 4min)

[2018-03-05 16:32] yegor256 commented on #178
@amihaiemil I believe it's fixed

[2018-03-05 16:32] #178 closed

[2018-03-05 16:36] yegor256 commented on #99
@0crat out

[2018-03-05 16:38] 0crat commented on #99
@yegor256 The job [#99](https://github.com/yegor256/0pdd/issues/99) is now out of scope

[2018-03-05 16:50] 0crat commented on #178
Order was finished, quality was "acceptable": +30 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-05 16:50] 0crat commented on #178
The job [#178](https://github.com/yegor256/0pdd/issues/178) is now out of scope

[2018-03-06 08:20] skapral commented on #99
@yegor256, I am ok with closing it, I never saw it again later.

But what about my alternative proposal:

Despite the fact that the issue is not reproducible anymore, it is obvious from logs that the fault came from locally cloned Git repo. This button would allow the user to unblock himself this or similar issues.

What do you think - is it worth to outline this idea to a separate bug?

[2018-03-06 15:23] yegor256 commented on #99
@skapral but the problem was solved. Now, no matter how corrupted is the local repo, the next push will restore it back to the normal/current state. It has to happen automatically. If it doesn't happen, it's a bug. To my knowledge, we don't have such bugs now. Maybe they will show up in the future.

[2018-03-06 15:44] skapral commented on #99
@yegor256 Initially, when I observed this bug first time, I clearly remember that this "next push" didn't worked for me. IMO if the local 0pdd clone became corrupted, the most reliable strategy to recover from it is to make 0pdd re-clone the local repo anew, that's why I proposed that button.

But ok, since the issue is not reproduced anymore, let's close it.

[2018-03-06 15:44] #99 closed

[2018-03-06 18:13] yegor256 opened #182 "Diff must notify parent-less puzzles too"
Now it doesn't.

[2018-03-06 18:56] yegor256 commented on #182
@rultor release, tag is `0.29.3`

[2018-03-06 18:57] rultor commented on #182
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14062-370888907)

[2018-03-06 19:02] rultor commented on #182
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14062-370888907) (took me 4min)

[2018-03-06 19:43] #182 closed

[2018-03-07 17:43] yegor256 commented on #99
@skapral a fresh `clone` is not the only option. Now we are doing this and it seem to work:

https://github.com/yegor256/0pdd/blob/0.29.3/objects/git_repo.rb#L99-L108

[2018-03-08 07:40] yegor256 opened #183 "simpler tickets formatting in Diff"
Let's simplify it

[2018-03-08 07:44] yegor256 commented on #183
@rultor release, tag is `0.29.4`

[2018-03-08 07:45] #183 closed

[2018-03-08 07:45] rultor commented on #183
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14078-371406681)

[2018-03-08 07:49] rultor commented on #183
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14078-371406681) (spent 4min)

[code]

[2018-03-08 08:02] 0crat commented on #183
The job is not in WBS, won't close the order

[2018-03-08 08:14] yegor256 commented on #183
@rultor release, tag is `0.29.4`

[2018-03-08 08:15] rultor commented on #183
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14078-371412655)

[2018-03-08 08:20] rultor commented on #183
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14078-371412655) (took me 4min)

[2018-03-14 14:10] yegor256 opened #185 "doesn't spot all child puzzles"
See https://github.com/zerocracy/farm/issues/166#issuecomment-372882640

[2018-03-14 15:20] yegor256 commented on #185
@rultor release, tag is `0.29.5`

[2018-03-14 15:20] #185 closed

[2018-03-14 15:21] rultor commented on #185
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14131-373059847)

[2018-03-14 15:30] rultor commented on #185
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14131-373059847) (took me 8min)

[2018-03-16 15:39] vl3 commented on #133
I just got -30 points for this task but it was already merged. Why was that?
Thanks !

[2018-04-02 17:21] 0crat commented on #133
The job [#133](https://github.com/yegor256/0pdd/issues/133) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/921723977); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is no

[2018-04-03 04:53] SilasReinagel opened #187 "CodeCov DiffCheck check is configured wrong"
One of the CI checks is a code coverage diff check. This may cause the PR to fail even if DEV is fixing existing Rubocop violation.

Diff check should be allowed to be 0% when code change is cosmetic only.

https://github.com/yegor256/0pdd/pull/186

https://codecov.io/gh/yegor256/0pdd/compare/4e5181939d6e7cca184c2f5024d1b42ecf63bfb0...e8c58d0e0b371c608e7e3fca2ddb8efb06747bbf

http://www.rubydoc.in

[2018-04-03 04:53] 0crat commented on #187
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-03 04:56] SilasReinagel opened #188 "Windows Ruby 2.5.1 Test Failures"
`rake` does not succeed on Windows 10 with Ruby 2.5.1 due to Test Failures.

These two tests should be fixed.

[code]

[2018-04-03 04:56] 0crat commented on #188
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-03 04:58] SilasReinagel commented on #105
An HTTP 502 error is a transient error. https://tools.ietf.org/html/rfc7231#section-6.6.3
This is not a problem with 0pdd. Bug should be closed.

[2018-04-03 06:29] g4s8 opened #189 "0pdd didn't recognize puzzle removal"
I deleted puzzle comment in https://github.com/zerocracy/farm/pull/851 PR and it was merged, but ticket with this puzzle is still open: https://github.com/zerocracy/farm/issues/835

[2018-04-03 06:29] 0crat commented on #189
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-03 06:29] 0crat commented on #189
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-04 00:13] SilasReinagel commented on #133
@0crat waiting #187

[2018-04-04 00:14] 0crat commented on #133
@SilasReinagel The impediment for [#133](https://github.com/yegor256/0pdd/issues/133) was registered successfully by @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-04 19:05] g4s8 commented on #189
@yegor256 same here: https://github.com/zerocracy/farm/issues/833 PR was merged (https://github.com/zerocracy/farm/pull/839) but ticket is open

[2018-04-05 05:38] SilasReinagel commented on #105
@yegor256 This ticket needs your attention. Probably should be closed.

[2018-04-05 10:52] yegor256 commented on #189
@g4s8 it was a temporary issue with HTTPS certificates. On the next push to the repo the puzzle will be closed.

[2018-04-05 10:52] #189 closed

[2018-04-05 11:07] 0crat commented on #189
The job is not in WBS, won't close the order

[2018-04-07 17:39] 0crat commented on #105
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-07 18:06] SilasReinagel commented on #105
@yegor256 This ticket needs your attention. Close this unless you have reproduction steps and this is a regular recurring error.

[2018-04-08 05:03] yegor256 commented on #105
@SilasReinagel don't you like the idea of retrying in case of 50x?

[2018-04-08 06:53] yegor256 commented on #188
@SilasReinagel I added appveyor to check it

[2018-04-08 06:56] 0crat commented on #188
Job [#188](https://github.com/yegor256/0pdd/issues/188) is now in scope, role is `DEV`

[2018-04-08 06:58] 0crat commented on #188
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-09 14:35] 0crat commented on #133
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-04-09 16:11] SilasReinagel commented on #133
@yegor256 Am I supposed to get 0crat points for completing this task? I don't see them.

[2018-04-09 19:31] yegor256 commented on #133
@SilasReinagel that's because rultor closed it by mistake.

[2018-04-09 19:31] #133 closed

[2018-04-09 19:47] 0crat commented on #133
Order was finished: +30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-09 19:47] 0crat commented on #133
The job [#133](https://github.com/yegor256/0pdd/issues/133) is now out of scope

[2018-04-11 03:13] SilasReinagel commented on #135
@yegor256 Rultor closed this without checking that the issue was fixed. Also, the fix attempt didn't work. I have a new PR.

[2018-04-11 03:24] SilasReinagel commented on #98
@yegor256 This bug is missing reproduction steps and bug incident context. All bug reports should have at least one of those.

Where did this bug occur? What other things happened on the box that the error occurred?

[2018-04-11 17:57] 0crat commented on #135
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#135](https://github.com/yegor256/0pdd/issues/135) is [in scope](http://www.zerocracy.com/policy.html#14) for 6mon
  * The role is `DEV`
  * The job is assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) for [9days](http://www.zerocracy.com/policy.html#8)
  * There is

[2018-04-11 17:59] yegor256 commented on #98
@SilasReinagel it's impossible to say. It happened half a year ago. Most likely this issue is no longer with us.

[2018-04-11 17:59] yegor256 commented on #98
@0crat refuse

[2018-04-11 17:59] #98 closed

[2018-04-11 17:59] 0crat commented on #98
@yegor256 Job `gh:yegor256/0pdd#98` is not assigned, can't get performer

[2018-04-11 18:14] 0crat commented on #98
The job [#98](https://github.com/yegor256/0pdd/issues/98) is now out of scope

[2018-04-12 02:29] SilasReinagel opened #193 "Cannot run 0pdd on Windows"
Running Windows 10, x64, with Ruby 2.3.3 installed.

When trying to run 0pdd.rb the following error occurs:

[code]

[2018-04-12 02:29] 0crat commented on #193
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-12 02:35] SilasReinagel commented on #193
I found the documentation for how to setup correctly.

[2018-04-12 02:35] #193 closed

[2018-04-12 02:51] 0crat commented on #193
The job is not in WBS, won't close the order

[2018-04-12 14:48] 0crat commented on #135
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-12 15:03] 0crat commented on #135
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-04-12 15:40] yegor256 commented on #187
@SilasReinagel I don't think it's technically possible. And I don't really understand what it's for. A check is a check.

[2018-04-12 15:40] #187 closed

[2018-04-12 15:55] 0crat commented on #187
The job is not in WBS, won't close the order

[2018-04-12 16:04] 0crat commented on #135
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-04-12 16:05] SilasReinagel commented on #135
@yegor256 I have not been paid for the completion. Please re-open and close.

[2018-04-12 16:10] SilasReinagel commented on #187
@yegor256 More importantly, if the checks are configured wrong and the ARC won't fix them or approve tickets to fix them, then this project is not worth contributing to.

DEVs only want to work on project with correctly configured and enforced policies.

[2018-04-13 04:44] SilasReinagel commented on #143
@yegor256 Where does the code that accepts repository invites?

[2018-04-13 05:08] izrik commented on #164
@php-coder Please clarify: when you say "add an additional comment", do you mean including additional text in the description of the issue? Or a separate comment, just like the comment I'm writing now?
Also, would this be the same thing added to every issue that gets opened? 0pdd will already include the text of the puzzle in the issue description. Is that not sufficient?

[2018-04-13 06:39] #135 closed

[2018-04-13 06:43] yegor256 commented on #143
@SilasReinagel have you seen this? http://www.yegor256.com/2015/01/15/how-to-cut-corners.html What do we do when something is not clear? :)

[2018-04-13 06:44] yegor256 commented on #143
@SilasReinagel the code is here: https://github.com/yegor256/0pdd/blob/master/0pdd.rb#L240-L269

[2018-04-13 06:54] 0crat commented on #135
Order was finished: +30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-13 06:55] 0crat commented on #135
The job [#135](https://github.com/yegor256/0pdd/issues/135) is now out of scope

[2018-04-13 12:17] php-coder commented on #164
Yes, in the description. I've updated description of this issue to make it clearer.

[2018-04-13 12:42] yegor256 commented on #187
@SilasReinagel we don't "fail PRs" but anything except Rultor. Everything else is just for information. If you know how to fix something, please suggest. I didn't get the problem with this ticket. Codecov reports when coverage drops. Don't drop the coverage and it won't complain. It's simple.

[2018-04-13 16:05] SilasReinagel commented on #187
@yegor256 Okay. If checks are just for information, then this check is fine.

[2018-04-15 22:58] SilasReinagel commented on #70
@0crat wait on PR to merge

[2018-04-15 23:02] 0crat commented on #70
@SilasReinagel The impediment for [#70](https://github.com/yegor256/0pdd/issues/70) was registered successfully by @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-17 02:36] 0crat commented on #143
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 03:07] SilasReinagel commented on #143
@0crat wait on PR merge

[2018-04-17 03:07] 0crat commented on #143
@SilasReinagel The impediment for [#143](https://github.com/yegor256/0pdd/issues/143) was registered successfully by @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-17 18:36] 0crat commented on #105
@izrik[/z](https://www.0crat.com/u/izrik) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-17 18:36] 0crat commented on #164
@izrik[/z](https://www.0crat.com/u/izrik) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-18 11:39] #143 closed

[2018-04-18 11:55] 0crat commented on #143
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-04-18 17:50] SilasReinagel commented on #143
@yegor256 Apparently we need to do this on every ticket. Can you close and reopen this ticket?

[2018-04-19 04:43] izrik commented on #164
@0crat status

[2018-04-19 04:44] izrik commented on #105
@0crat status

[2018-04-19 04:44] 0crat commented on #164
@izrik This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#164](https://github.com/yegor256/0pdd/issues/164) is [in scope](http://www.zerocracy.com/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is 30 minutes/points
  * These users are banned and won't

[2018-04-19 09:57] artem-p opened #196 "Puzzle dependency graph"
When we have a lot of puzzles it becomes hard to understand where are these puzzles from. It would be nice if 0pdd can draw a puzzle dependency tree that clearly shows how many puzzles we have and a parent-child relation between puzzles.

[2018-04-19 09:57] 0crat commented on #196
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-19 09:57] 0crat commented on #196
@artem-p[/z](https://www.0crat.com/u/artem-p) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-19 17:15] SilasReinagel commented on #143
@yegor256 Can you close and reopen this ticket? It's still open in 0crat.

[2018-04-19 19:00] amihaiemil commented on #196
@artem-p There is already such a report, for instance this is the one for jcabi/jcabi-github: http://www.0pdd.com/p?name=jcabi/jcabi-github . I think all you have to do is replace the repo name in the url

[2018-04-19 19:03] amihaiemil opened #197 "Too many notifications!"
Can we make 0pdd more silent? It leaves way too many comments. It comments on Issue and also on commits + also leaves comments informing on what is still open or closed.

With each merged PR, I am flooded with notifications/emails (minimum 10 mails/merged PR). This becomes impractical, since I simply delete them, (I don't have time anyway to go through everything) and may even lose some important

[2018-04-19 19:03] 0crat commented on #197
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 05:24] artem-p commented on #196
@amihaiemil thanks. Maybe one should add this information to Readme.

[2018-04-20 06:01] amihaiemil commented on #196
@artem-p well, it is not explicetely in the README, but you can see there there is a badge for the repo, which dynamically reflects the puzzles' staus:

``[![PDD status](http://www.0pdd.com/svg?name=yegor256/0pdd)](http://www.0pdd.com/p?name=yegor256/0pdd)``

Replace with your repo name to get yours.

[2018-04-20 06:14] artem-p commented on #197
Totally agree. I have to create gmail filter to automatically archive these notifications. And I only have a few puzzles.

[2018-04-20 06:35] 0crat commented on #196
The job is not in WBS, won't close the order

[2018-04-20 08:42] yegor256 commented on #196
@artem-p fixed in ecc8b2c thanks!

[2018-04-20 08:58] 0crat commented on #197
The job [#197](https://github.com/yegor256/0pdd/issues/197) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1100857355); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-04-20 08:58] 0crat commented on #197
Job `gh:yegor256/0pdd#197` already assigned to @yegor256, can't assign to @yegor256

[2018-04-20 08:58] 0crat commented on #197
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @amihaiemil[/z](https://www.0crat.com/u/amihaiemil)

[2018-04-20 08:58] 0crat commented on #197
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-04-20 09:36] yegor256 commented on #197
@rultor release, tag is `0.30`

[2018-04-20 09:36] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14337-383042695)

[2018-04-20 09:37] 0pdd opened #198 "0pdd.rb:248-250: Need to figure out the correct way to..."
The puzzle `194-4ac81527` from #194 has to be resolved:

https://github.com/yegor256/0pdd/blob/6fc444d0a7b0d333a0ea3f780a7c3dce583f69c3/0pdd.rb#L248-L250

The puzzle was created by yegor256 on 20-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is _r

[2018-04-20 09:37] 0crat commented on #198
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-20 09:37] 0crat commented on #198
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-20 09:38] 0crat commented on #198
Job [#198](https://github.com/yegor256/0pdd/issues/198) is now in scope, role is `DEV`

[2018-04-20 09:41] rultor commented on #197
@amihaiemil @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14337-383042695) (spent 4min)

[code]

[2018-04-20 09:59] yegor256 commented on #197
@rultor release, tag is `0.30`

[2018-04-20 10:01] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14337-383048444)

[2018-04-20 10:04] rultor commented on #197
@amihaiemil @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14337-383048444) (spent 3min)

[code]

[2018-04-20 10:26] yegor256 commented on #197
@rultor release, tag is `0.30`

[2018-04-20 10:26] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14337-383054858)

[2018-04-20 10:33] rultor commented on #197
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14337-383054858) (took me 6min)

[2018-04-20 14:01] yegor256 commented on #197
@amihaiemil try its new version, see README

[2018-04-20 14:02] amihaiemil commented on #197
@yegor256 looks nice, thanks. I'll open more bugs if I find any problems with it. :)

[2018-04-20 14:02] #197 closed

[2018-04-20 14:39] 0crat commented on #143
Order was finished: +30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-20 14:39] 0crat commented on #143
The job [#143](https://github.com/yegor256/0pdd/issues/143) is now out of scope

[2018-04-23 09:17] 0pdd opened #199 "github_tickets.rb:116-117: Replace body with Template..."
The puzzle `195-ac2e468f` from #195 has to be resolved:

https://github.com/yegor256/0pdd/blob/80b4d00ee8d31a99be4bc021fefaf5a4700ef3ce/objects/github_tickets.rb#L116-L117

The puzzle was created by rultor on 23-Apr-18.

Estimate: 60 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of

[2018-04-23 09:32] 0crat commented on #70
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @yegor256[/z](https://www.0crat.com/u/yegor256) (its creator); I won't close the order; please, re-open it and ask @yegor256[/z](https://www.0crat.com/u/yegor256) to close it

[2018-04-23 09:33] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-23 09:35] 0crat commented on #164
The job [#164](https://github.com/yegor256/0pdd/issues/164) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1130934871); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-23 09:38] 0crat commented on #174
The job [#174](https://github.com/yegor256/0pdd/issues/174) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1130937998); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-24 04:40] SilasReinagel commented on #70
@yegor256 Apparently this PR still uses the GitHub autoclose feature. I will avoid it in the future.

In the meantime, can you please close and re-open this?

[2018-04-25 05:10] yegor256 commented on #70
@rultor release, tag is `0.30.1`

[2018-04-25 05:12] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11539-384162458)

[2018-04-25 05:15] rultor commented on #70
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11539-384162458) (spent 3min)

[code]

[2018-04-25 19:31] #70 closed

[2018-04-25 19:31] 0crat commented on #70
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-25 19:46] 0crat commented on #70
Order was finished: +30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-25 19:46] 0crat commented on #70
The job [#70](https://github.com/yegor256/0pdd/issues/70) is now out of scope

[2018-04-25 19:48] 0crat commented on #139
The job [#139](https://github.com/yegor256/0pdd/issues/139) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1151983239); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-04-25 20:47] 0crat commented on #70
The job is not in WBS, won't close the order

[2018-04-26 03:40] SilasReinagel opened #200 "Cannot discover where in the codebase puzzles get created"
In working on #174, I could not find the part in the code where Puzzles are created.

I see sample puzzles.
I see Github ticket creation.
I cannot discover where puzzles are born.

This workflow should be documented.

[2018-04-26 03:40] 0crat commented on #200
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-26 03:41] SilasReinagel commented on #174
@0crat wait. Blocked by #200

[2018-04-26 03:41] 0crat commented on #174
@SilasReinagel Can't understand "wait.", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from this issue
  - `status` Check the status

[2018-04-26 03:41] SilasReinagel commented on #174
@0crat wait

[2018-04-26 03:42] 0crat commented on #174
@SilasReinagel The impediment for [#174](https://github.com/yegor256/0pdd/issues/174) was registered successfully by @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-26 03:42] SilasReinagel commented on #164
@0crat wait - Blocked by #200

[2018-04-26 03:43] 0crat commented on #164
@SilasReinagel The impediment for [#164](https://github.com/yegor256/0pdd/issues/164) was registered successfully by @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-26 07:40] SilasReinagel commented on #139
@yegor256 PR is merged. Please close this issue.

[2018-04-26 13:36] 0crat commented on #139
Order was finished: +30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-04-26 13:36] 0crat commented on #139
The job [#139](https://github.com/yegor256/0pdd/issues/139) is now out of scope

[2018-04-26 13:38] 0crat commented on #30
The job [#30](https://github.com/yegor256/0pdd/issues/30) assigned to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1161359787); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-04-26 17:15] SilasReinagel opened #202 "Allow `TODO:` and `TODO` as PDD tag to better align with C#/F# .NET Codebases"
For .NET Developers, they don't use annotations and the convention is to write `TODO` in all caps, sometimes with a `:` at the end.

It would be a very useful feature if 0pdd were able to treat those as Puzzle tags and the interpret the remainder of the puzzle to create a ticket.

This was one of the reasons I stopped using 0pdd in some of my .NET projects. It was very inconsistent from the normal

[2018-04-26 17:15] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-01 14:36] 0crat commented on #30
@silasreinagel[/z](https://www.0crat.com/u/silasreinagel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-02 03:36] SilasReinagel commented on #30
@yegor256 I'm pretty stuck on this issue, but I'm not sure what ticket to open. What I would normally do is connect to PROD S3 and develop until the counter integration is correct, but I don't have PROD credentials, and the integration is impossible without knowing exactly what and how the data is stored.

I wanted to try to integrate with Stateful, but it's broken, and I opened two bugs.

I would

[2018-05-02 13:37] php-coder commented on #200
I'd expect that puzzles are born by https://github.com/yegor256/pdd which I guess generates XML document or alike.

Yes, it's good to have it documented.

[2018-05-03 11:17] yegor256 commented on #202
@SilasReinagel can you give an example how you would format a puzzle instead?

[2018-05-04 01:48] SilasReinagel commented on #202
[code]

[2018-05-04 11:09] yegor256 commented on #30
@SilasReinagel what's missing in the project now?

[2018-05-06 13:41] 0crat commented on #30
The user @silasreinagel[/z](https://www.0crat.com/u/silasreinagel) resigned from [#30](https://github.com/yegor256/0pdd/issues/30), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-05-06 13:41] 0crat commented on #30
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-05-06 17:27] SilasReinagel commented on #30
I should have rejected this ticket. This ticket is presently in a unimplementable state dor anyone who doesn't have access to the S3 instance.

[2018-05-06 17:27] SilasReinagel commented on #30
I should have rejected this ticket. This ticket is presently in a unimplementable state dor anyone who doesn't have access to the S3 instance.

[2018-05-08 02:25] SilasReinagel opened #203 "Need a sandbox Database for development work"
Project developers who do not have access to the PROD S3 instance cannot reliably use TDD to ensure that database-integrated features work correctly and have the desired effects.

As a remedy to this, there should be a Development database instance that can be developed against. It should initially be populated with a mirror of PROD data.

[2018-05-08 02:26] 0crat commented on #203
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-10 11:27] 0crat commented on #105
The job [#105](https://github.com/yegor256/0pdd/issues/105) assigned to @dmydlarz[/z](https://www.0crat.com/u/dmydlarz), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1301158878); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-10 11:29] 0crat commented on #30
The job [#30](https://github.com/yegor256/0pdd/issues/30) assigned to @dmydlarz[/z](https://www.0crat.com/u/dmydlarz), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1301160957); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-05-10 11:31] 0crat commented on #125
The job [#125](https://github.com/yegor256/0pdd/issues/125) assigned to @dmydlarz[/z](https://www.0crat.com/u/dmydlarz), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1301164036); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-12 19:15] StuporHero opened #204 "0pdd stopped working on my private repository"
I setup a repository at sunsofterp/phoenix to test out using 0pdd with a data modeling tool which saves its state as XML files. I added 0pdd as a contributor, added the webhook to reHTTP url, and configured the repository with the attached `.0pdd.yml` file. I added a `@todo` comment on one of the tables in the model. I received an error message as expected because I did not format my `@todo` comme

[2018-05-12 19:15] 0crat commented on #204
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-12 19:15] 0crat commented on #204
@stuporhero[/z](https://www.0crat.com/u/stuporhero) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-12 23:49] StuporHero commented on #204
It just occurred to me that the `@todo `body text is followed by a closing xml tag which is being included in the text. It appears to be getting escaped on a manual run of pdd, so I don't know if that actually matters. Here is a gist of the manual pdd outbput: [pdd-output.xml](https://gist.github.com/StuporHero/2152b3eacf6fe09f932e671f25f27c91)

[2018-05-14 06:38] 0crat commented on #112
The job [#112](https://github.com/yegor256/0pdd/issues/112) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1340660568); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-05-14 12:41] yegor256 commented on #204
@StuporHero sounds weird... Do you see the puzzle here: http://www.0pdd.com/p?name=sunsofterp/phoenix ?

[2018-05-14 12:42] yegor256 commented on #204
@StuporHero it seems that 0pdd GitHub user can't access your repo. This is my best guess. Are you sure it is in the list of contributors?

[2018-05-14 14:49] StuporHero commented on #204
@yegor256 Yes. I just double checked that it is a collaborator with Write privileges. I don’t mind granting you access to the repository to troubleshoot it since I was planning to submit it as an RfP for Zerocracy anyway after I got it setup.

[2018-05-19 07:36] 0crat commented on #112
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-19 13:49] yegor256 commented on #204
@StuporHero yes, please, give me access to the repo, I will see what's going on...

[2018-05-19 23:08] StuporHero commented on #204
I’ve added you as a collaborator. Do whatever you need to do. I’m not worried about the code that’s currently in there.

[2018-05-20 08:13] g4s8 opened #205 "0pdd didn't close GitHub ticket"
`@todo` puzzle was removed from source code, by 0pdd didn't close a ticket https://github.com/zerocracy/farm/issues/703
also this puzzle (`258-bca58f1a`) was not removed from page http://www.0pdd.com/p?name=zerocracy/farm
but there are no such puzzle in fresh master branch (checked latest commit hash), can't find it with text-search and `pdd` tool can't find this puzzle also. Here is the result of

[2018-05-20 08:13] 0crat commented on #205
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-20 08:13] 0crat commented on #205
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-21 05:42] yegor256 commented on #204
@StuporHero the problem is that the repo is too big (too many files, 5114) and it takes too long to parse them. You can try locally from command line:

[code]

I will try to fix the problem now and make 0pdd more tolerant to such situations.

[2018-05-21 05:43] yegor256 opened #206 "TypeError: no implicit conversion of String into Integer"
https://sentry.io/zerocracy/0pdd-j0/issues/553746512/

[code]

[2018-05-21 05:44] yegor256 opened #207 "Octokit::NotFound: GET https://api.github.com/repos/nopparat-mkw/profile/issues/2: 404 - Not Found // See: https://d..."
https://sentry.io/zerocracy/0pdd-j0/issues/512290290/

[code]

[2018-05-21 05:45] StuporHero commented on #204
@yegor256 Thank you! I appreciate the help.

[2018-05-21 05:49] 0crat commented on #203
The job [#203](https://github.com/yegor256/0pdd/issues/203) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1410574975); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-05-21 05:49] 0crat commented on #203
Job `gh:yegor256/0pdd#203` already assigned to @yegor256, can't assign to @yegor256

[2018-05-21 05:49] 0crat commented on #203
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-05-21 05:49] 0crat commented on #203
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 06:00] 0crat commented on #204
Job `gh:yegor256/0pdd#204` already assigned to @yegor256, can't assign to @yegor256

[2018-05-21 06:00] 0crat commented on #204
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @stuporhero[/z](https://www.0crat.com/u/stuporhero)

[2018-05-21 06:00] 0crat commented on #204
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 06:00] yegor256 commented on #204
@StuporHero this is what I see in logs:

[code]

`Timeout::Error` occurs but for some reason we don't report it to GitHub... investigating.

[2018-05-21 06:31] yegor256 commented on #204
@StuporHero the reporting problem is fixed in 6813afd563ac6a0607fb5bc36d0ed1dd4c07babd. Now we see the problem in comments: https://github.com/sunsofterp/phoenix/commit/0bdd9ab27ccc836ee4d4f7a855185ca9afc785aa Let me try to fix the timeout issue.

[2018-05-21 07:00] 0crat commented on #205
Job `gh:yegor256/0pdd#205` already assigned to @yegor256, can't assign to @yegor256

[2018-05-21 07:00] 0crat commented on #205
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-21 07:00] yegor256 commented on #205
@g4s8 I think this problem is related to #204 We fail on timeouts, I believe. I increased the timeout to 240 seconds. Let's push something to the `zerocracy/farm` repo and see what happens. I will push now.

[2018-05-21 07:02] yegor256 opened #208 "application crash on timeout at /snapshot"
Let's do it more friendly...

This one, for example: http://www.0pdd.com/snapshot?name=zerocracy/farm

[2018-05-21 07:28] yegor256 commented on #205
@g4s8 I suspect it's not the delay, but something else, since 240 seconds is more than enough to parse the repo

[2018-05-21 07:30] yegor256 commented on #204
@StuporHero wait a sec, I suspect it's not the timeout issue now, since we have a similar problem in another repository, where the amount of files is way smaller: https://github.com/yegor256/0pdd/issues/205 I'm investigating. Thanks for offering help and contribution! You can actually donate some money to this repository/project, it will definitely help us to improve it: https://www.0crat.com/cont

[2018-05-21 07:45] g4s8 commented on #205
@yegor256 it looks like `zerocracy/farm` repo is too big for pdd:

[2018-05-21 11:55] yegor256 commented on #205
@g4s8 it can't be too big, since it takes just a few seconds for me to parse it locally on my laptop. There is something else going on, I suspect. Looks like `pdd` just gets stuck and stays and wait forever.

[2018-05-21 11:55] yegor256 commented on #205
@g4s8 I will try to publish the logs from it to the exception message, somehow. We need to see what it's doing for so long...

[2018-05-21 12:53] yegor256 commented on #204
@StuporHero I don't know what I did, but the problem is fixed, thanks to 5af5f085c28fa8f9240021dfb3af77d50b737990 :)

[2018-05-21 12:53] yegor256 commented on #205
@g4s8 I don't know why, but the problem is fixed, thanks to 5af5f085c28fa8f9240021dfb3af77d50b737990

[2018-05-21 12:58] yegor256 commented on #205
@rultor release, tag is `0.30.2`

[2018-05-21 12:59] g4s8 commented on #205
@yegor256 yes, it's fixed, thanks

[2018-05-21 12:59] #205 closed

[2018-05-21 13:00] rultor commented on #205
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14604-390646424)

[2018-05-21 13:06] rultor commented on #205
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14604-390646424) (took me 5min)

[2018-05-21 13:06] yegor256 commented on #205
@g4s8 I think the problem was this one. The command line was producing the output and there is a buffer for it. The buffer was full and we were stuck staying and waiting for the buffer to be freed. This never happened. That's why the delay. Now I'm reading from the buffer incrementally. That's why it works. This is my guess.

[2018-05-21 13:15] 0crat commented on #205
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 13:15] 0crat commented on #205
The job [#205](https://github.com/yegor256/0pdd/issues/205) is now out of scope

[2018-05-21 17:16] #208 closed

[2018-05-21 17:31] 0crat commented on #208
The job is not in WBS, won't close the order

[2018-05-21 17:42] StuporHero commented on #204
@yegor256 Works for me! Thanks again for your help!

[2018-05-21 17:42] #204 closed

[2018-05-21 17:58] 0crat commented on #204
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-21 17:58] 0crat commented on #204
The job [#204](https://github.com/yegor256/0pdd/issues/204) is now out of scope

[2018-05-23 08:12] amihaiemil opened #210 "warning: setlocale: LC_ALL: cannot change locale (UTF-8)"
On 0pdd.com, we see some strange error messages both in the latest comits list and on the footer which is supposed to contain the build number, ruby eversion etc:

![image](https://user-images.githubusercontent.com/6305156/40411797-1a2b6010-5e7a-11e8-8cff-1cce7c714816.png)

[2018-05-23 08:12] 0crat commented on #210
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-23 08:12] 0crat commented on #210
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-23 10:20] amihaiemil opened #211 "0pdd does not see removed/new puzzles"
In the last days, 0pdd did not take into account the removed or newly added puzzles.

The ARC said the problem was fixed, but today (23.05.2018) the problem occured again twice. I checked the repo's webhooks and the response from the webhook is ``200 OK``

[2018-05-23 10:20] 0crat commented on #211
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-23 10:21] 0crat commented on #211
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-25 14:43] 0pdd commented on #112
The puzzle `110-1d6b79a2` has disappeared from the source code, that's why I closed this issue.

[2018-05-25 14:43] #112 closed

[2018-05-25 14:44] 0pdd commented on #110
@DronMDF all 3 puzzles are solved here: [#111](https://github.com/yegor256/0pdd/issues/111), [#112](https://github.com/yegor256/0pdd/issues/112), [#113](https://github.com/yegor256/0pdd/issues/113).

[2018-05-25 15:03] 0crat commented on #112
Order was finished: +30 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-05-25 15:03] 0crat commented on #112
The job [#112](https://github.com/yegor256/0pdd/issues/112) is now out of scope

[2018-05-25 15:08] 0crat commented on #47
The job [#47](https://github.com/yegor256/0pdd/issues/47) assigned to @pbenety[/z](https://www.0crat.com/u/pbenety), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1451507251); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-05-25 16:27] yegor256 commented on #211
@amihaiemil still an issue? Can you give an example/link? Try to push something to the repo, to double check.

[2018-05-25 16:40] amihaiemil commented on #211
@yegor256 Apparently, yes. I just did a push in https://github.com/amihaiemil/docker-java-api and the puzzles were not processed (e.g. 0pdd should have opened an issue for at least [this puzzle](https://github.com/amihaiemil/docker-java-api/blob/d83c676f6db9ddb639ae7594b7b62f45624e74ff/src/main/java/com/amihaiemil/docker/Auth.java#L34)).

Webhook response is 200 OK, which is strange:

<img width="

[2018-05-25 16:42] amihaiemil commented on #211
@yegor256 Update:

0pdd commented on my commit just now:

https://github.com/amihaiemil/docker-java-api/commit/cf2c05a7b7e58e0a6494784f0f0e07e909a24a24#commitcomment-29132233

[2018-05-26 15:42] g4s8 opened #212 "API rate limit exceeded"
0pdd returns an error for a webhook:
[code]

[2018-05-26 15:42] 0crat commented on #212
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-26 15:42] 0crat commented on #212
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-28 07:10] 0crat commented on #57
The job [#57](https://github.com/yegor256/0pdd/issues/57) assigned to @kaze[/z](https://www.0crat.com/u/kaze), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1480746051); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this

[2018-05-28 07:15] 0crat commented on #188
The job [#188](https://github.com/yegor256/0pdd/issues/188) assigned to @kaze[/z](https://www.0crat.com/u/kaze), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1480751245); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [th

[2018-05-28 11:17] yegor256 commented on #211
@amihaiemil this seems to be a temporary issue on the GitHub API side. I'm not sure how we can prevent or fix that. Any ideas?

[2018-05-28 11:20] yegor256 commented on #210
@rultor release, tag is `0.30.3`

[2018-05-28 11:27] rultor commented on #210
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14659-392499976) (took me 4min)

[2018-05-28 11:32] yegor256 commented on #210
@amihaiemil fixed, thanks!

[2018-05-28 11:32] #210 closed

[2018-05-28 11:50] 0crat commented on #210
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-28 11:50] 0crat commented on #210
The job [#210](https://github.com/yegor256/0pdd/issues/210) is now out of scope

[2018-05-28 15:32] g4s8 opened #213 "0pdd stopped to submit new issues"
After some time 0pdd stopped to submitting new issues in one project, it still parse `@todo` markers and I can see them via http://www.0pdd.com but 0pdd stopped to submit new issues.

It has write permission in repository and I suppose web-hook is correct (because it parse `@todo`s and add them to xml).

[2018-05-28 15:33] 0crat commented on #213
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-28 15:33] 0crat commented on #213
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-28 19:15] g4s8 commented on #213
@yegor256 but 0pdd can close issue if puzzle removed from code.

[2018-05-29 20:15] g4s8 commented on #213
@yegor256 Also each commit in this repository is commented by @0pdd:
[code]

[2018-05-30 11:42] yegor256 opened #214 "Octokit::BadGateway: GET https://api.github.com/repos/Harvest-foundation/telegram-bot/issues/39: 502 - Server Error"
https://sentry.io/zerocracy/0pdd-j0/issues/564139299/

[code]

Full stacktrace:

[code]

Let's catch these situations (`Octokit::ServerError`) and email the repo admin. If it's defined in the configuration. If not, just email to `github-server-error@0pdd.com`

[2018-05-30 11:45] 0crat commented on #214
Job [#214](https://github.com/yegor256/0pdd/issues/214) is now in scope, role is `DEV`

[2018-05-30 11:46] 0crat commented on #214
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 11:48] yegor256 commented on #213
@g4s8 I just created #214 too. It seems to be a problem on GitHub side.. maybe.

[2018-05-30 11:50] yegor256 opened #215 "Octokit::TooManyRequests: GET https://api.github.com/repos/yegor256/zold: 403 - API rate limit exceeded for user ID 2445618..."
https://sentry.io/zerocracy/0pdd-j0/issues/562451763/

[code]

Full st:

[code]

Let's fix this by checking the quota first. If it's over, don't check invitations.

[2018-05-30 11:52] 0crat commented on #215
Job [#215](https://github.com/yegor256/0pdd/issues/215) is now in scope, role is `DEV`

[2018-05-30 11:52] yegor256 commented on #214
dup of #212

[2018-05-30 11:52] #214 closed

[2018-05-30 11:52] 0crat commented on #215
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 11:53] yegor256 commented on #215
dup of #213

[2018-05-30 11:53] #215 closed

[2018-05-30 11:53] 0crat commented on #212
Job [#212](https://github.com/yegor256/0pdd/issues/212) is now in scope, role is `DEV`

[2018-05-30 11:53] 0crat commented on #212
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-30 11:53] 0crat commented on #213
Job [#213](https://github.com/yegor256/0pdd/issues/213) is now in scope, role is `DEV`

[2018-05-30 11:54] 0crat commented on #213
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-05-30 11:54] 0crat commented on #207
Job [#207](https://github.com/yegor256/0pdd/issues/207) is now in scope, role is `DEV`

[2018-05-30 11:54] 0crat commented on #207
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 11:54] 0crat commented on #202
Job [#202](https://github.com/yegor256/0pdd/issues/202) is now in scope, role is `DEV`

[2018-05-30 11:54] yegor256 commented on #202
@SilasReinagel we will make it possible to use `TODO:` in addition to `@todo`

[2018-05-30 11:55] 0crat commented on #202
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-05-30 11:55] 0crat commented on #206
Job [#206](https://github.com/yegor256/0pdd/issues/206) is now in scope, role is `DEV`

[2018-05-30 11:55] 0crat commented on #206
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-05-30 11:56] yegor256 commented on #213
@g4s8 it's a duplicate of #105 (as you see, we had this before)

[2018-05-30 11:56] #213 closed

[2018-05-30 11:56] yegor256 commented on #105
@0crat status

[2018-05-30 11:56] yegor256 commented on #105
@dmydlarz we are experiencing this issue now. What is the status?

[2018-05-30 11:57] 0crat commented on #105
@izrik This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#105](https://github.com/yegor256/0pdd/issues/105) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won't be as

[2018-05-30 11:57] 0crat commented on #105
@yegor256 This is what I know about this job, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#105](https://github.com/yegor256/0pdd/issues/105) is [in scope](http://www.zerocracy.com/policy.html#14) for 8mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are banned and won't be

[2018-05-30 12:05] g4s8 commented on #213
@yegor256 sorry, but this comment https://github.com/yegor256/0pdd/issues/213#issuecomment-392928783 actually not relevant, it was temporary failure with GitHub API, so it's not related to this bug. I still cant submit puzzles in one repo (but 0pdd works in other), it can load issues from GitHub and add them to xml but can't create new tickets in Github (but can close existing). Maybe it's possibl

[2018-05-30 12:08] 0crat commented on #214
The job [#214](https://github.com/yegor256/0pdd/issues/214) is now out of scope

[2018-05-30 12:08] 0crat commented on #215
The job [#215](https://github.com/yegor256/0pdd/issues/215) is now out of scope

[2018-05-30 12:12] 0crat commented on #213
The job [#213](https://github.com/yegor256/0pdd/issues/213) is now out of scope

[2018-05-30 15:36] 0crat commented on #47
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-05-30 19:16] g4s8 commented on #211
@amihaiemil  @yegor256 I have similar issue #213 : 0pdd is able to close issue when puzzle removed, it only can't submit new issues (but I can see them in xml)

[2018-06-02 07:36] 0crat commented on #57
@kaze[/z](https://www.0crat.com/u/kaze) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-02 08:38] 0crat commented on #188
@kaze[/z](https://www.0crat.com/u/kaze) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-04 15:11] 0crat commented on #47
The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#47](https://github.com/yegor256/0pdd/issues/47), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-04 15:12] 0crat commented on #47
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-04 15:17] pbenety commented on #47
@0crat wait

[2018-06-04 15:19] 0crat commented on #47
The job [#47](https://github.com/yegor256/0pdd/issues/47) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1551532098); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this](

[2018-06-04 15:21] 0crat commented on #198
The job [#198](https://github.com/yegor256/0pdd/issues/198) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1551534210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this

[2018-06-04 19:50] yegor256 commented on #211
@g4s8 @amihaiemil this happens because our API quota sometimes runs out.

[2018-06-06 05:50] amihaiemil commented on #211
@yegor256 Well, what's happened? I guess a bug was introduced in the code somewhere, or did the users' number grow that much lately?

[2018-06-07 07:12] 0crat commented on #57
The user @kaze[/z](https://www.0crat.com/u/kaze) resigned from [#57](https://github.com/yegor256/0pdd/issues/57), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-07 07:12] 0crat commented on #57
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @kaze[/z](https://www.0crat.com/u/kaze)

[2018-06-07 07:17] 0crat commented on #188
The user @kaze[/z](https://www.0crat.com/u/kaze) resigned from [#188](https://github.com/yegor256/0pdd/issues/188), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-07 07:17] 0crat commented on #188
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @kaze[/z](https://www.0crat.com/u/kaze)

[2018-06-09 16:37] 0crat commented on #47
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 17:36] 0crat commented on #198
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-09 17:36] 0crat commented on #199
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-10 11:29] proshin-roman opened #216 "There is no way to define dependent/parent puzzles"
Let's say, there are two puzzles and the first puzzle cannot be fixed until the second one is fixed. Currently, there is no any way to define such a relation between puzzles.

There is an example: issue https://github.com/zerocracy/farm/issues/765 is assigned to me, but I cannot fix it as another puzzle is not done yet: https://github.com/zerocracy/farm/issues/767

How it should look like:
- it sh

[2018-06-10 11:29] 0crat commented on #216
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-10 11:29] 0crat commented on #216
@proshin-roman[/z](https://www.0crat.com/u/proshin-roman) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-10 14:03] t-izbassar opened #217 "Pdd fails if force push was used"
If the previous commit was amended and force pushed, then @0pdd fails to read the git. It fails with error:
[code]

[2018-06-10 14:03] 0crat commented on #217
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-10 14:03] 0crat commented on #217
@t-izbassar[/z](https://www.0crat.com/u/t-izbassar) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-12 16:34] 0crat commented on #57
The job [#57](https://github.com/yegor256/0pdd/issues/57) assigned to @vl3[/z](https://www.0crat.com/u/vl3), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1631630727); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [this](

[2018-06-14 15:19] 0crat commented on #47
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#47](https://github.com/yegor256/0pdd/issues/47), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-14 15:19] 0crat commented on #47
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-14 15:22] 0crat commented on #198
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#198](https://github.com/yegor256/0pdd/issues/198), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-14 15:22] 0crat commented on #198
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-14 15:23] pbenety commented on #199
@0crat waiting for review #218

[2018-06-14 15:23] 0crat commented on #199
@pbenety The impediment for [#199](https://github.com/yegor256/0pdd/issues/199) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-14 16:58] yegor256 commented on #216
@proshin-roman well, not a bad idea, but... I think we should not allow programmers to define the order. This is more a management task. We want tasks to be isolated, as much as possible.

[2018-06-14 17:13] php-coder opened #219 "How to disable status comments from the bot in the parent issue?"
I see that the bot now posts comments to the parent issue about the current status, like this:

How I can disable such behavior? For me these new comments look like spam messages.

[2018-06-14 17:13] 0crat commented on #219
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-14 17:13] 0crat commented on #219
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-14 18:46] yegor256 commented on #219
@php-coder check the "suppress" section: https://github.com/yegor256/0pdd#how-to-configure

[2018-06-14 18:46] #219 closed

[2018-06-14 18:49] proshin-roman commented on #216
@yegor256 well, even if it's management task, it's still not possible to track relations between puzzles (even for managers). I think it makes sense to have such information (e.g. puzzle 1 depends on puzzles 2 and 3 and it cannot be started until dependencies are fixed).

[2018-06-14 19:02] 0crat commented on #219
The job is not in WBS, won't close the order

[2018-06-14 19:02] 0crat commented on #219
Job `gh:yegor256/0pdd#219` is not assigned, can't get performer

[2018-06-14 20:15] php-coder opened #220 "Update/remove gemnasium badge"
`README.md` file has gemnasium badge that at this moment shows the message "FIXME Migrate to GitLab". Consider updating/removing this badge.

[2018-06-14 20:15] 0crat commented on #220
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-14 20:15] 0crat commented on #220
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-14 20:28] php-coder commented on #219
@yegor256 Thanks!

That's sad that you don't support backward compatible behavior :(

[2018-06-14 20:33] php-coder commented on #219
Suppression don't work:
[code]
See here for more info: https://github.com/php-coder/mystamps/commit/66aca64ea892bf7c3360a656b855cbd842288f7e#commitcomment-29369514

Looks like https://github.com/yegor256/0pdd/issues/206

[2018-06-15 04:24] #220 closed, assigned to nobody

[2018-06-15 04:28] 0pdd commented on #199
The puzzle `195-ac2e468f` has disappeared from the source code, that's why I closed this issue.

[2018-06-15 04:28] #199 closed

[2018-06-15 04:39] 0crat commented on #220
Job `gh:yegor256/0pdd#220` is not assigned, can't get performer

[2018-06-15 04:39] 0crat commented on #220
The job is not in WBS, won't close the order

[2018-06-15 04:44] 0crat commented on #199
Order was finished: +30 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-15 04:44] 0crat commented on #199
The job [#199](https://github.com/yegor256/0pdd/issues/199) is now out of scope

[2018-06-17 16:36] 0crat commented on #57
@vl3[/z](https://www.0crat.com/u/vl3) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-17 18:42] valentin-eb commented on #57
@yegor256 this puzzle was removed on cb7ee8a1c8175f0fc58fbbefa02108f796b511b1
Should i work on this issue?

[2018-06-17 18:43] vl3 commented on #57
@yegor256 This puzzle was removed on cb7ee8a1c8175f0fc58fbbefa02108f796b511b1
Should i work on this issue anyway?

[2018-06-18 12:36] yegor256 commented on #57
@vl3 hm.. how come it's still open as a ticket?

[2018-06-19 08:54] 0crat commented on #47
The job [#47](https://github.com/yegor256/0pdd/issues/47) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1700854634); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-06-19 09:09] 0crat commented on #188
The job [#188](https://github.com/yegor256/0pdd/issues/188) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1700908965); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-06-19 13:04] vl3 commented on #57
@yegor256  I don't know. Seems like a bug somewhere.

[2018-06-19 17:54] golyalpha commented on #188
@SilasReinagel The code is directly from this repo?
What changes did you make?

[2018-06-19 17:55] golyalpha commented on #188
@0crat Waiting on response from OP.

[2018-06-19 17:56] SilasReinagel commented on #188
@golyalpha No changes. Just raw repo.

[2018-06-19 17:57] 0crat commented on #188
@golyalpha The impediment for [#188](https://github.com/yegor256/0pdd/issues/188) was registered successfully by @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-06-19 18:00] golyalpha commented on #188
Because for me, rake fails on incorrect version of Ruby.
(got: 2.5.1, asks: 2.3.3)

[2018-06-19 18:02] SilasReinagel commented on #188
@golyalpha The tests fail for me on Windows no matter which version of Ruby I am using 2.3.3 or 2.5.1

[2018-06-19 18:03] golyalpha commented on #188
Was just asking to make sure I'm not working with the wrong version of the repo.

[2018-06-20 04:37] 0crat commented on #206
@pbenety[/z](https://www.0crat.com/u/pbenety) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-20 08:03] golyalpha commented on #188
@SilasReinagel Can you give me steps to reproduce with a fresh install of Ruby 2.5.1?

[2018-06-20 21:05] pbenety commented on #206
@yegor256 I need permission to zerocracy organization in sentry.io to see full issue list

[2018-06-21 13:19] php-coder opened #221 "Don't mention estimate if it equal to 0"
Looks like #70 wasn't fully fixed because `Estimate: 0 minutes` is still there. I guess that the check that was added, tests for the `nil` value but the estimation equals to zero.

Here is the quote from original requirements:

CC @yegor256 @SilasReinagel

[2018-06-21 13:19] 0crat commented on #221
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-21 13:19] 0crat commented on #221
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-22 06:17] golyalpha commented on #188
@0crat Waiting for PR review (#222)

[2018-06-22 06:17] 0crat commented on #188
@golyalpha Job [#188](https://github.com/yegor256/0pdd/issues/188) is already on hold

[2018-06-22 16:34] 0crat commented on #57
The user @vl3[/z](https://www.0crat.com/u/vl3) resigned from [#57](https://github.com/yegor256/0pdd/issues/57), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-22 16:34] 0crat commented on #57
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @vl3[/z](https://www.0crat.com/u/vl3)

[2018-06-22 18:14] vl3 commented on #57
Hey @yegor256. Can we close this and restore my rep?

[2018-06-24 07:50] yegor256 commented on #57
@vl3 it seems that this ticket is just old and was lost from the radar of 0pdd :(

[2018-06-24 07:50] #57 closed

[2018-06-24 07:51] yegor256 commented on #57
@g4s8 can you please remote the incorrect reputation line for @vl3 Maybe we should make a special command for that? Like `@0crat points @vl3 +30`

[2018-06-24 07:54] yegor256 commented on #206
@pbenety send me your email in Telegram and I will invite you to Sentry

[2018-06-24 08:01] 0crat commented on #221
Job [#221](https://github.com/yegor256/0pdd/issues/221) is now in scope, role is `DEV`

[2018-06-24 08:01] 0crat commented on #221
Thanks for your contribution, @php-coder[/z](https://www.0crat.com/u/php-coder)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-24 08:07] 0crat commented on #188
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @SilasReinagel (its creator); I won't close the order; please, re-open it and ask @SilasReinagel to close it

[2018-06-24 08:07] 0crat commented on #57
Job `gh:yegor256/0pdd#57` is not assigned, can't get performer

[2018-06-24 08:07] 0crat commented on #57
The job [#57](https://github.com/yegor256/0pdd/issues/57) is now out of scope

[2018-06-24 08:09] 0crat commented on #198
The job [#198](https://github.com/yegor256/0pdd/issues/198) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1750811497); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-06-24 08:14] 0crat commented on #212
The job [#212](https://github.com/yegor256/0pdd/issues/212) assigned to @robsonataide[/z](https://www.0crat.com/u/robsonataide), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1750814617); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-24 08:15] golyalpha commented on #47
@yegor256 Can you define "see them compressed in the browser"?
Do you mean, be able to download a zip file with the XML, or send the compressed XML to the browser in such a way that it deflates it before displaying it?

[2018-06-24 08:16] 0crat commented on #207
The job [#207](https://github.com/yegor256/0pdd/issues/207) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1750817723); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-06-24 08:18] 0crat commented on #202
The job [#202](https://github.com/yegor256/0pdd/issues/202) assigned to @liligga[/z](https://www.0crat.com/u/liligga), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1750820833); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-06-24 08:27] 0crat commented on #105
The job [#105](https://github.com/yegor256/0pdd/issues/105) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1750831156); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-06-24 08:37] golyalpha commented on #105
@yegor256 502 usually means the server was under high load and the proxy had no endpoint to forward your request to at the moment, that the backend was down for some reason or that there was an error in configuration causing the gateway/proxy server being unable to access the upstream server that would normally handle the request and build the dynamic page.

While under certain circumstances, retr

[2018-06-24 09:04] golyalpha commented on #188
@SilasReinagel could you please re-open and close the issue again? The problem should be fixed.

[2018-06-24 09:40] yegor256 commented on #105
@golyalpha what would you propose?

[2018-06-24 09:49] golyalpha commented on #105
@yegor256 Well, if creating an issue with the puzzle on a GitHub repo is a problem, I'd probably put any failed issue creation requests into some kind of a queue (maybe as an entry in the DB), and then, once an issue creation request succeeds, I'd flush the queue onto GitHub as well. Maybe sprinkle in some longer-term retries, for example, if a new issue creation request wasn't made in the past ho

[2018-06-24 10:18] g4s8 commented on #57
@yegor256 @vl3 removed reputation update for this ticket manually, also submitted new issue: #1124.

[2018-06-24 10:33] yegor256 commented on #207
@0crat refuse

[2018-06-24 10:35] 0crat commented on #207
@yegor256 The user @liligga[/z](https://www.0crat.com/u/liligga) resigned from [#207](https://github.com/yegor256/0pdd/issues/207), please stop working. Reason for job resignation: Order was cancelled

[2018-06-24 10:37] 0crat commented on #47
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-24 11:53] yegor256 commented on #57
@g4s8 thanks!

[2018-06-24 16:28] pbenety commented on #206
@0crat wait

[2018-06-24 16:28] 0crat commented on #206
@pbenety The impediment for [#206](https://github.com/yegor256/0pdd/issues/206) was registered successfully by @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-06-25 03:53] yegor256 commented on #105
@golyalpha let's go with a simple in-memory queue, which will simply help us retry requests in, say, 15 minutes.

[2018-06-25 04:37] golyalpha commented on #105
@yegor256 0pdd is hosted on Heroku, isn't it? If it is, it means that the service gets restarted roughly every 24 hours. Some requests may end up getting unlucky and lost completely if the service restarts while they are in the queue.
Of course, if you insist on having the queue in memory (which, admittedly, is the simplest and fastest to access), then I'll do it that way.

[2018-06-25 05:33] SilasReinagel commented on #188
@golyalpha I don't have permissions.

@yegor256 Can you please re-open and close this issue? Tests no longer fail on Windows.

[2018-06-25 06:00] 0crat commented on #188
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-25 06:00] #188 closed

[2018-06-25 06:00] yegor256 commented on #188
@SilasReinagel @golyalpha done

[2018-06-25 06:15] 0crat commented on #188
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.1](https://github.com/zerocracy/farm): CID: [1760613143](https://www.0crat.com/C3T46CUJJ/1760613143), Type: "Close job", Author: "yegor256"

[2018-06-25 06:18] 0crat commented on #188
Order was finished: +30 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-06-25 06:18] 0crat commented on #188
The job [#188](https://github.com/yegor256/0pdd/issues/188) is now out of scope

[2018-06-25 06:20] 0crat commented on #198
The job [#198](https://github.com/yegor256/0pdd/issues/198) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1760632942); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-06-25 06:48] yegor256 commented on #105
@golyalpha I don't insist. You think it's better to keep it in DynamoDB?

[2018-06-25 10:19] krzyk commented on #198
@0crat status

[2018-06-25 10:19] 0crat commented on #198
@krzyk This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#198](https://github.com/yegor256/0pdd/issues/198) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha) for [4hr](http://www.zero

[2018-06-26 16:19] golyalpha commented on #47
@yegor256 Still waiting on clarification.

[2018-06-26 16:20] golyalpha commented on #105
@yegor256 I'm not entirely sure. How often do these errors happen? (If not very often, then RAM might be better choice)

[2018-06-26 16:22] yegor256 commented on #47
@golyalpha just add normal GZIP compression for HTTP responses.

[2018-06-26 16:24] yegor256 commented on #105
@golyalpha not very often, maybe once a week or so

[2018-06-28 08:43] 0crat commented on #30
The job [#30](https://github.com/yegor256/0pdd/issues/30) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1790852372); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-06-28 08:47] 0crat commented on #125
The job [#125](https://github.com/yegor256/0pdd/issues/125) assigned to @danielpalafox[/z](https://www.0crat.com/u/danielpalafox), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1790857422); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-06-29 06:16] 0crat commented on #212
The job [#212](https://github.com/yegor256/0pdd/issues/212) assigned to @fybwid[/z](https://www.0crat.com/u/fybwid), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1800627401); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-29 06:22] 0crat commented on #207
The job [#207](https://github.com/yegor256/0pdd/issues/207) assigned to @fybwid[/z](https://www.0crat.com/u/fybwid), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1800632458); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read

[2018-06-29 06:28] krzyk opened #223 "0pdd should mention github user name not real name"
When 0pdd creates issues from puzzles it also mentions the puzzle created, e.g.: `The puzzle was created by Tolegen Izbassar on 22-May-18.`

I think it would be better if instead of the real name of the author it would mention the github nick + make it a link to the user profile (not a mention).

It would make it more consistent with the rest of the repo comments.

[2018-06-29 06:29] 0crat commented on #223
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-29 06:29] 0crat commented on #223
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-29 06:38] fybwid commented on #207
@0crat wait
@yegor256 I need more details with this issues and I'am unable to view https://sentry.io/zerocracy/0pdd-j0/issues/512290290/

[2018-06-29 06:38] 0crat commented on #207
@fybwid The impediment for [#207](https://github.com/yegor256/0pdd/issues/207) was registered successfully by @fybwid[/z](https://www.0crat.com/u/fybwid)

[2018-06-29 06:41] fybwid commented on #202
@0crat wait
@yegor256 I need more details with this issue

[2018-06-29 06:41] 0crat commented on #202
@fybwid The impediment for [#202](https://github.com/yegor256/0pdd/issues/202) was registered successfully by @fybwid[/z](https://www.0crat.com/u/fybwid)

[2018-06-29 06:41] fybwid commented on #212
@0crat wait
@yegor256 I need more details with this issue

[2018-06-29 06:42] 0crat commented on #212
@fybwid The impediment for [#212](https://github.com/yegor256/0pdd/issues/212) was registered successfully by @fybwid[/z](https://www.0crat.com/u/fybwid)

[2018-06-29 06:51] yegor256 commented on #223
@krzyk we take this information from the XML file produced by `pdd` Rugy gem. Thus, please report this to the `pdd` repository: https://github.com/yegor256/pdd

[2018-06-29 06:51] #223 closed

[2018-06-29 06:56] fybwid opened #224 "Development setup needed"
It would be helpful if the project has a development preparation guide, especially for people who want to contribute, so the process works.

[2018-06-29 06:56] 0crat commented on #224
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-29 07:06] 0crat commented on #223
Job `gh:yegor256/0pdd#223` is not assigned, can't get performer

[2018-06-29 07:06] 0crat commented on #223
The job is not in WBS, won't close the order

[2018-06-29 09:02] 0crat commented on #47
The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#47](https://github.com/yegor256/0pdd/issues/47), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-06-29 09:02] 0crat commented on #47
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-06-29 09:08] 0crat commented on #221
The job [#221](https://github.com/yegor256/0pdd/issues/221) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1800920465); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-06-29 09:38] 0crat commented on #105
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-29 13:46] dturczanski opened #225 "Bitbucket hook"
It would be great to use 0pdd with bitbucket. A lot of people have private repos in Bitbucket. I guess comercially Bitbucket is bigger than Github.

[2018-06-29 13:46] 0crat commented on #225
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-29 13:46] 0crat commented on #225
@dturczanski[/z](https://www.0crat.com/u/dturczanski) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-30 06:38] 0crat commented on #198
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-06-30 07:33] SilasReinagel commented on #202
@fybwid What details are you lacking?

[2018-06-30 09:13] fybwid commented on #202
@SilasReinagel, the Puzzle tags is not sufficiently documented, I don't understand how it works. In order to use `TODO:` in addition to `@todo` I should understand how it works first.

[2018-06-30 15:58] SilasReinagel commented on #202
@fybwid https://github.com/yegor256/pdd/blob/master/README.md

[2018-07-01 16:30] fybwid commented on #202
@SilasReinagel, I have find which files needed to change which is: https://github.com/yegor256/pdd/blob/master/lib/pdd/source.rb in order to add `TODO` and `TODO:` to the current Puzzle tags `@todo`. If this is the file should changed, do I have to open New issue at https://github.com/yegor256/pdd/blob/master/lib/pdd/source.rb to enhance supported Puzzle tags?

[2018-07-01 16:39] SilasReinagel commented on #202
@fybwid I opened a bug in that repository too. Originally when I opened this issue, I was unaware that the parsing was handled by another library.

[2018-07-01 16:40] SilasReinagel commented on #202
@fybwid This ticket can be closed once an updated version of `pdd` with this feature is incorporated into `0pdd`

[2018-07-01 16:57] fybwid commented on #212
The current API limit rate is 5000 request per hour [noted here](https://developer.github.com/v3/#rate-limiting). @yegor256, is[Conditional Requests](https://developer.github.com/v3/#conditional-requests) possible to do?

[2018-07-01 19:28] 0crat commented on #225
Thanks for your contribution, @dturczanski[/z](https://www.0crat.com/u/dturczanski)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-07-02 13:48] fybwid commented on #224
@yegor256
Something like this:
1. Clone this repository:
`git clone git@github.com:yegor256/0pdd.git`
2. Install project requirement:
`bundle install`
3. Create `config.yml`
4. Run the project
`ruby 0pdd.rb`
For C9 user: `ruby 0pdd.rb -p $PORT -o $IP
5. Testing
`rake`
PS.
Ruby version: 2.3.3

[2018-07-03 07:14] golyalpha commented on #221
@0crat resign

[2018-07-03 07:14] 0crat commented on #221
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#221](https://github.com/yegor256/0pdd/issues/221), please stop working. Reason for job resignation: Order was cancelled

[2018-07-03 07:14] 0crat commented on #221
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-07-03 07:15] golyalpha commented on #198
@0crat resign

[2018-07-03 07:15] 0crat commented on #198
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#198](https://github.com/yegor256/0pdd/issues/198), please stop working. Reason for job resignation: Order was cancelled

[2018-07-03 07:15] 0crat commented on #198
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-07-03 07:16] 0crat commented on #105
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#105](https://github.com/yegor256/0pdd/issues/105), please stop working. Reason for job resignation: Order was cancelled

[2018-07-03 07:17] 0crat commented on #105
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-07-03 08:42] yegor256 commented on #224
@fybwid well, this would be something very primitive :) We just assume that our developers know that to start working with a Git Ruby project they have to clone first and then `bundle install`. I added a bit in 745073b If you need something more specific, please open a new ticket.

[2018-07-03 08:42] #224 closed

[2018-07-03 09:02] 0crat commented on #224
Job `gh:yegor256/0pdd#224` is not assigned, can't get performer

[2018-07-03 09:02] 0crat commented on #224
The job is not in WBS, won't close the order

[2018-07-03 09:37] 0crat commented on #30
@danielpalafox[/z](https://www.0crat.com/u/danielpalafox) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 09:37] 0crat commented on #125
@danielpalafox[/z](https://www.0crat.com/u/danielpalafox) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-03 10:20] fybwid commented on #212
@g4s8 The current API limit rate is 5000 request per hour [noted here](https://developer.github.com/v3/#rate-limiting) and your log also display it at first line.

My opinion, is not the 0pdd who can't get the webhook but it's because the current user is over the allowed quota.

[2018-07-06 06:23] 0crat commented on #47
The job [#47](https://github.com/yegor256/0pdd/issues/47) assigned to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1870636469); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-07-06 06:33] 0crat commented on #221
The job [#221](https://github.com/yegor256/0pdd/issues/221) assigned to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1870646611); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-07-06 11:21] 0crat commented on #105
The job [#105](https://github.com/yegor256/0pdd/issues/105) assigned to @timeracers[/z](https://www.0crat.com/u/timeracers), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871122771); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-07-06 11:37] 0crat commented on #30
The job [#30](https://github.com/yegor256/0pdd/issues/30) assigned to @shelvacu[/z](https://www.0crat.com/u/shelvacu), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871138112); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, re

[2018-07-06 11:46] 0crat commented on #125
The job [#125](https://github.com/yegor256/0pdd/issues/125) assigned to @mesut[/z](https://www.0crat.com/u/mesut), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871148210); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear, read [

[2018-07-06 12:12] 0crat commented on #124
The job [#124](https://github.com/yegor256/0pdd/issues/124) assigned to @timeracers[/z](https://www.0crat.com/u/timeracers), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871214508); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-07-06 12:21] 0crat commented on #175
The job [#175](https://github.com/yegor256/0pdd/issues/175) assigned to @shelvacu[/z](https://www.0crat.com/u/shelvacu), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871223666); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-06 12:32] 0crat commented on #225
The job [#225](https://github.com/yegor256/0pdd/issues/225) assigned to @shelvacu[/z](https://www.0crat.com/u/shelvacu), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/1871233817); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-07-06 13:03] g4s8 commented on #212
@fybwid but this log was posted as a comment by 0pdd user, so current user is 0pdd in this log. And I don't think it's a webhook quota, but API quota - 0pdd uses Github API to post comments and close tickets.

[2018-07-06 13:55] fybwid commented on #212
@g4s8 yes, I'm agree that it wasn't the webhook quota but API quota. It's the same as what I said before, and for more details, on your first line log `403 - API rate limit exceeded for user ID 24456188. // See: https://developer.github.com/v3/#rate-limiting`, is this `user ID 24456188` belong to 0pdd?
Also in my opinion, the webhook process is happened but because it's exceed the API limit rate t

[2018-07-06 14:10] g4s8 commented on #212
@fybwid yes, it's 0pdd user, see https://api.github.com/user/24456188

[2018-07-11 06:37] 0crat commented on #47
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 06:37] 0crat commented on #198
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 06:37] 0crat commented on #221
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 10:39] mesut commented on #125
@0crat wait for #226

[2018-07-11 10:39] 0crat commented on #125
@mesut The impediment for [#125](https://github.com/yegor256/0pdd/issues/125) was registered successfully by @mesut[/z](https://www.0crat.com/u/mesut)

[2018-07-11 11:37] 0crat commented on #105
@timeracers[/z](https://www.0crat.com/u/timeracers) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 12:37] 0crat commented on #30
@shelvacu[/z](https://www.0crat.com/u/shelvacu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 12:37] 0crat commented on #124
@timeracers[/z](https://www.0crat.com/u/timeracers) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 12:37] 0crat commented on #175
@shelvacu[/z](https://www.0crat.com/u/shelvacu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-11 12:37] 0crat commented on #225
@shelvacu[/z](https://www.0crat.com/u/shelvacu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-07-12 00:15] timeracers opened #227 "Test Basic Fails"
When I run all the tests the test "test_basic" fails.
Here is the log I get when i try to run it:
[code]

I'm using windows.

[2018-07-12 00:15] 0crat commented on #227
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 02:43] timeracers commented on #227
Whoops, wrong project that was pdd.

[2018-07-12 02:43] #227 closed

[2018-07-12 02:59] 0crat commented on #227
The job is not in WBS, won't close the order

[2018-07-12 02:59] 0crat commented on #227
Job `gh:yegor256/0pdd#227` is not assigned, can't get performer

[2018-07-12 05:15] timeracers opened #228 "How to Contribute guide doesn't work"
After following the guide and trying to run the tests.
The test framework quits unexpectedly.
This is the log I get:
[code]

[2018-07-12 05:16] 0crat commented on #228
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-12 05:19] yegor256 commented on #228
@timeracers we never tried it on Windows...

[2018-07-12 05:20] 0crat commented on #228
Job [#228](https://github.com/yegor256/0pdd/issues/228) is now in scope, role is `DEV`

[2018-07-12 05:20] 0crat commented on #228
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @timeracers[/z](https://www.0crat.com/u/timeracers)

[2018-07-12 05:33] timeracers commented on #105
@0crat wait for #228

[2018-07-12 05:34] 0crat commented on #105
@timeracers The impediment for [#105](https://github.com/yegor256/0pdd/issues/105) was registered successfully by @timeracers[/z](https://www.0crat.com/u/timeracers)

[2018-07-12 05:34] 0crat commented on #105
@timeracers Job [#105](https://github.com/yegor256/0pdd/issues/105) is already on hold

[2018-07-12 13:01] llorllale commented on #174
@yegor256 @SilasReinagel I'd really like this one implemented...

Can I contribute with a PR?

[2018-07-12 15:41] SilasReinagel commented on #174
@llorllale Yes. If you create a PR that solves this, you can have the issue.

[2018-07-13 17:40] pdacostaporto commented on #228
Sorry for the noise, but development environment could be easily automated with [Vagrant](https://www.vagrantup.com/) so newcomers can hit the ground running regardless of their OS instead of having to configure the right versions for everything (took considerable time for me on an Ubuntu machine).

[2018-07-15 14:21] llorllale commented on #174
@t-izbassar @SilasReinagel I submitted PR #229 for this

[2018-07-15 23:48] pdacostaporto commented on #47
@0crat waiting for PR review

[2018-07-16 00:05] pdacostaporto commented on #47
@0crat waiting for review #230

[2018-07-16 00:06] pdacostaporto commented on #221
@0crat waiting for review #231

[2018-07-16 04:39] pdacostaporto commented on #198
@0crat wait for review #232

[2018-07-16 06:01] 0crat commented on #47
@pdacostaporto Job [#47](https://github.com/yegor256/0pdd/issues/47) is already on hold

[2018-07-16 06:01] 0crat commented on #221
@pdacostaporto The impediment for [#221](https://github.com/yegor256/0pdd/issues/221) was registered successfully by @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2018-07-16 06:01] 0crat commented on #198
@pdacostaporto The impediment for [#198](https://github.com/yegor256/0pdd/issues/198) was registered successfully by @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2018-07-16 11:58] 0crat commented on #30
The user @shelvacu[/z](https://www.0crat.com/u/shelvacu) resigned from [#30](https://github.com/yegor256/0pdd/issues/30), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 11:58] 0crat commented on #30
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @shelvacu[/z](https://www.0crat.com/u/shelvacu)

[2018-07-16 12:33] 0crat commented on #225
The user @shelvacu[/z](https://www.0crat.com/u/shelvacu) resigned from [#225](https://github.com/yegor256/0pdd/issues/225), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-07-16 12:33] 0crat commented on #225
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @shelvacu[/z](https://www.0crat.com/u/shelvacu)

[2018-07-16 13:51] pdacostaporto commented on #221
@php-coder looks like #231 fixed this. Please close the issue.

[2018-07-16 20:40] php-coder opened #234 "Comment contains "#unknown are still not solved""
When 0pdd adds a comment to a parent issue about number of not solved puzzles, the comment may contain `#unknown are still not solved` that is, as I suspect, a bug.

Example:

Seen there: https://github.com/php-coder/mystamps/issues/695#issuecomment-405372820

[2018-07-16 20:40] 0crat commented on #234
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-16 20:40] 0crat commented on #234
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-17 04:54] pdacostaporto commented on #47
@0crat waiting for review #233

[2018-07-17 04:56] 0crat commented on #47
@pdacostaporto Job [#47](https://github.com/yegor256/0pdd/issues/47) is already on hold

[2018-07-17 08:08] 0crat commented on #234
Job [#234](https://github.com/yegor256/0pdd/issues/234) is now in scope, role is `DEV`

[2018-07-17 08:08] 0crat commented on #234
Thanks for your contribution, @php-coder[/z](https://www.0crat.com/u/php-coder)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-07-18 16:09] php-coder commented on #221
@pdacostaporto No, unfortunately it doesn't fix it. Now the message contains "Estimate: 0 minutes,".

Here is an issue that was generated a few minutes ago: https://github.com/php-coder/mystamps/issues/926

[2018-07-18 20:36] proshin-roman commented on #206
@yegor256 @pbenety any news here? I've got the same problem in my repo: https://github.com/proshin-roman/blog/pull/172

[2018-07-19 08:52] yegor256 commented on #125
@mesut thanks

[2018-07-19 08:53] #125 closed

[2018-07-19 09:15] 0crat commented on #125
Order was finished: +30 point(s) just awarded to @mesut[/z](https://www.0crat.com/u/mesut)

[2018-07-19 09:15] 0crat commented on #125
The job [#125](https://github.com/yegor256/0pdd/issues/125) is now out of scope

[2018-07-21 17:31] pdacostaporto commented on #221
@php-coder Looks like the [current release](https://github.com/yegor256/0pdd/tree/0.30.3) does not have the change yet. Are you testing with master or should we wait for the next release?

[2018-07-22 10:06] php-coder commented on #221
I'm testing on real @0pdd Perhaps, we should wait.

[2018-07-26 15:06] krzyk opened #235 "Problem with retrieving puzzles in qulice"
I got a following error in https://github.com/teamed/qulice/pull/912#commitcomment-29845081:

[code]

Is this a temporary problem (BTW. Puzzles in qulice are not updated since quite a few months).

[2018-07-26 15:06] 0crat commented on #235
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-26 15:06] 0crat commented on #235
@krzyk[/z](https://www.0crat.com/u/krzyk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-29 04:58] yegor256 commented on #235
@krzyk it seems to be a temporary issue... Do you see it often?

[2018-07-29 06:19] krzyk commented on #235
@yegor256 that's the first time I've seen it, but puzzles in qulice are still not updated (removed ones are still in github issues, new ones don't appear - but that's probably problem qulice repo config)

[2018-07-29 06:19] #235 closed

[2018-07-29 06:35] 0crat commented on #235
The job is not in WBS, won't close the order

[2018-07-29 06:35] 0crat commented on #235
Job `gh:yegor256/0pdd#235` is not assigned, can't get performer

[2018-08-06 05:46] liligga opened #236 "Search functionality for get '/p' page"
I think it would be easier and more userfriendly to have a search bar to look for task in a specific repo than having to change url(as it is now) to match `user/repo` pattern. This includes backend task to create a search incorporated into that request(`get '/p' `) as well as frontend search field with submit button.

- [ ] Backend: look for repo depending on form submitted and url params(get requ

[2018-08-06 08:00] golyalpha opened #237 "Change ruby version constraint"
There's a slight discrepancy between the pdd and 0pdd repositories in Ruby version requirements.
pdd requires anything newer than or equal to 2.2
0pdd requires 2.3.3 exactly

The change I propose is to change the version constraint from 2.3.3 to ~>2.3 which would allow the usage of any 2.x ruby version, this should also prevent anyone from using a future 3.x version that could potentially contain

[2018-08-06 08:00] 0crat commented on #237
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-08 07:32] yegor256 commented on #237
@golyalpha good idea

[2018-08-08 07:32] 0crat commented on #237
Job [#237](https://github.com/yegor256/0pdd/issues/237) is now in scope, role is `DEV`

[2018-08-08 07:33] 0crat commented on #237
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-08-08 13:12] llorllale commented on #174
@t-izbassar PR#229 was merged. Can this issue be closed?

[2018-08-08 13:40] 0crat commented on #174
Order was finished: +30 point(s) just awarded to @silasreinagel[/z](https://www.0crat.com/u/silasreinagel)

[2018-08-08 13:40] 0crat commented on #174
The job [#174](https://github.com/yegor256/0pdd/issues/174) is now out of scope

[2018-08-24 12:44] g4s8 opened #238 "Checkboxes with progress bar"
Github allows to make a progress-bar on issue item using checkboxes in issue details:
![scrot-2018-08-24-15 39 37](https://user-images.githubusercontent.com/1524988/44585145-05ea6780-a7b4-11e8-804b-3b21d8cdfabd.png)
I think it would be more informative to use checkboxes with solved and not solved issues instead of comments like:
[code]

0pdd can update origin ticket's description instead of postin

[2018-08-24 12:44] 0crat commented on #238
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-24 12:44] 0crat commented on #238
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-27 12:32] g4s8 commented on #228
@0crat status

[2018-08-27 13:20] 0crat commented on #228
@g4s8 This is what I know about this job in [C3T46CUJJ](https://www.0crat.com/p/C3T46CUJJ), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#228](https://github.com/yegor256/0pdd/issues/228) is [in scope](http://www.zerocracy.com/policy.html#14) for 2mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not s

[2018-09-05 07:41] g4s8 opened #239 "Specify labels in puzzle text"
Feature request:
Allow to specify Github issue labels in puzzle body text, e.g.:
[code]
so 0pdd will submit this puzzle as a ticket with `bug` label even if was not specified in `tags` section in `.0pdd.yml`.
It may help to prioritize tickets for 0crat on code-review stage: ARC or REV may ask to add/remove `bug` label to mark a ticket as important/not-important, so it will save ARC's time because

[2018-09-05 07:41] 0crat commented on #239
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-05 07:41] 0crat commented on #239
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-18 04:45] #198 closed

[2018-09-18 04:45] 0pdd commented on #198
The puzzle `194-4ac81527` has disappeared from the source code, that's why I closed this issue.

[2018-09-18 04:52] yegor256 commented on #239
@g4s8 that will give too much power to programmers, I'm afraid. Now only the architect can configure 0pdd via `.0pdd.yml`, but with this feature anyone will be able to manage Zerocrat in some way. Don't you think it's dangerous?

[2018-09-18 05:03] 0crat commented on #198
Order was finished: +30 point(s) just awarded to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2018-09-18 05:03] 0crat commented on #198
The job [#198](https://github.com/yegor256/0pdd/issues/198) is now out of scope

[2018-09-18 05:17] 0crat commented on #228
The job [#228](https://github.com/yegor256/0pdd/issues/228) assigned to @dferdian[/z](https://www.0crat.com/u/dferdian), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610526324); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-09-18 05:27] 0crat commented on #234
The job [#234](https://github.com/yegor256/0pdd/issues/234) assigned to @snugghash[/z](https://www.0crat.com/u/snugghash), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610536459); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-09-18 05:30] g4s8 commented on #239
@yegor256 yes, architect will have to merge todos more carefully, but he still can control final issue labels by asking to change it in the PR or reject it. In case of mistake (if incorrect labels was added to puzzle), he always can remove this issue from scope. It will be a little more work in merge process, but less in new issue analyzing.

[2018-09-18 05:47] 0crat commented on #237
The job [#237](https://github.com/yegor256/0pdd/issues/237) assigned to @sergey-erkin[/z](https://www.0crat.com/u/sergey-erkin), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610549681); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not

[2018-09-18 06:02] 0crat commented on #30
The job [#30](https://github.com/yegor256/0pdd/issues/30) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610611862); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-09-18 06:12] 0crat commented on #175
The job [#175](https://github.com/yegor256/0pdd/issues/175) assigned to @golyalpha[/z](https://www.0crat.com/u/golyalpha), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610621937); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear

[2018-09-18 06:41] yegor256 commented on #239
@g4s8 but why can't the architect just configure it in the `.0pdd.yml`?

[2018-09-18 06:42] yegor256 commented on #238
@g4s8 good idea, thanks!

[2018-09-18 06:45] 0crat commented on #238
Job [#238](https://github.com/yegor256/0pdd/issues/238) is now in scope, role is `DEV`

[2018-09-18 06:47] yegor256 commented on #236
@liligga I'm not sure I get it. You want to find a task in which page? Can you give the exact URL?

[2018-09-18 06:47] 0crat commented on #238
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-18 06:48] 0crat commented on #238
The job [#238](https://github.com/yegor256/0pdd/issues/238) assigned to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2610658540); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is n

[2018-09-18 06:52] g4s8 commented on #239
@yegor256 because `.0pdd.yml` is a global config, where each issue may have different priority/label. E.g. not every pdd puzzle is so important to add `bug` label.

[2018-09-18 06:54] yegor256 commented on #239
@g4s8 and you want the decision about importance/priority to be made by programmers, instead of the architect??

[2018-09-18 06:59] g4s8 commented on #239
@yegor256 no, you didn't get it. I think architect should be able to specify the priority of new puzzle right in the pull request by asking performer to add or remove some labels.

[2018-09-18 07:03] yegor256 commented on #239
@g4s8 sounds like an overkill for me... Moreover, 0pdd doesn't parse the source code, it's done by this Gem: https://github.com/yegor256/pdd We can teach that gem to understand some "label" or "markers" in the text, yes. What to do with them later, is what 0pdd has to decide. So, it's a two-steps task...

[2018-09-18 07:09] g4s8 commented on #239
@yegor256 ok, so closing it

[2018-09-18 07:09] #239 closed

[2018-09-18 07:10] liligga commented on #236
@yegor256 So basically to get list of puzzles from this very repo is to type `http://www.0pdd.com/p?name=yegor256/0pdd` in address bar. What I am proposing here is to have one or two inputs to enter for instance `yegor256/0pdd` and press button to have that same list of puzzles.

[2018-09-18 07:27] 0crat commented on #239
Job `gh:yegor256/0pdd#239` is not assigned, can't get performer

[2018-09-18 12:12] golyalpha commented on #30
@yegor256 I'd like to reiterate on @SilasReinagel's comment about the (testing) S3 instance access. Shall I open an issue about that?

[2018-09-18 13:48] yegor256 commented on #236
@liligga well, that may work but I don't see a real point in such a functionality. Each project has its own page, which it gives to its users. Who and why will go to our front page and search for projects? What for?

[2018-09-18 13:49] yegor256 commented on #30
@golyalpha I don't think we need any test access to S3 for testing. Let's just fake the connection with a mock object.

[2018-09-18 14:01] liligga commented on #236
@yegor256 Ok I see. You can close the issue then.

[2018-09-18 14:03] yegor256 commented on #236
@liligga yes, please

[2018-09-18 14:03] #236 closed

[2018-09-18 14:20] 0crat commented on #236
Job `gh:yegor256/0pdd#236` is not assigned, can't get performer

[2018-09-20 07:30] snugghash commented on #234
The issue seems to be that there's no testing done for this sort of runtime behaviour in: [test_notification_on_one_solved_update](https://github.com/yegor256/0pdd/blob/master/test/test_diff.rb#L128) doesn't catch it.

Is this even testable? The bug seems to be that the correct link is formed, but the text is bad.

"Unknown" issues sem to be only referenced in [puzzzles.rb, line 71](https://github

[2018-09-21 10:12] g4s8 opened #240 "0pdd failed with "554 Message rejected""
0pdd failed to submit a puzzle with message:
[code]

see https://github.com/zerocracy/farm/commit/11a490b4be23bbda5933e7e3fc1f7417ff4cdecc#commitcomment-30568173

[2018-09-21 10:12] 0crat commented on #240
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-21 10:12] 0crat commented on #240
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-22 10:01] dgroup opened #241 "0pdd didn't raise the issues for the puzzlers which exists in "snapshot" xml"
Hi @yegor256 ,

The project was linked with 0pdd
1. `.0pdd` content
[code]
2. `.0pdd.yml` content
[code]
3. @0pdd addes as contributor
4. The integration hook also configured
<img width="764" alt="screen shot 2018-09-22 at 3 14 18 pm" src="https://user-images.githubusercontent.com/1651114/45915869-608de680-be7a-11e8-87e7-85a8f349cdf3.png">

According to http://www.0pdd.com/p?name=dgroup/ka25
there

[2018-09-22 10:01] 0crat commented on #241
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-22 10:01] 0crat commented on #241
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-23 06:33] 0crat commented on #228
@dferdian[/z](https://www.0crat.com/u/dferdian) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 06:33] 0crat commented on #234
@snugghash[/z](https://www.0crat.com/u/snugghash) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 06:45] 0crat commented on #237
@sergey-erkin[/z](https://www.0crat.com/u/sergey-erkin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 06:45] 0crat commented on #30
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 06:45] 0crat commented on #175
@golyalpha[/z](https://www.0crat.com/u/golyalpha) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 06:45] 0crat commented on #225
@dfrau32[/z](https://www.0crat.com/u/dfrau32) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-23 08:58] 0crat commented on #238
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-25 14:39] snugghash opened #242 "Ruby version 2.5.1, clean install, `rake` errors out with missing `mvn`"
Ruby 2.3+ (2.5.1) from arch linux official repo, Rubygems installed.
[code]

Successful update occurs.
[code]
Finds many outdated gems, and errors out about missing mvn. This is an undocumented system dependency of Maven that is not mentioned in the `README.md`.

This didn't cost me any developer time, but this did make me procrastinate and not work on this first time I found it. This is a bug of

[2018-09-25 14:39] 0crat commented on #242
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-25 17:58] golyalpha commented on #30
@0crat resign

[2018-09-25 18:30] 0crat commented on #30
@golyalpha The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#30](https://github.com/yegor256/0pdd/issues/30), please stop working. Reason for job resignation: Order was cancelled

[2018-09-25 18:59] 0crat commented on #30
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-09-25 19:08] 0crat commented on #30
The job [#30](https://github.com/yegor256/0pdd/issues/30) assigned to @snugghash[/z](https://www.0crat.com/u/snugghash), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2681859891); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-09-26 17:16] snugghash commented on #234
@php-coder Please review and close.

[2018-09-26 22:59] snugghash commented on #237
What's going on here? Bug in 0pdd? Is there a 0pdd dashboard where we can check state?

[2018-09-27 13:34] dfrau32 commented on #225
@yegor256 Sorry, wasn't PDD Java? Back when I joined it said Java on the board, or is it my bad? I don't know Ruby, I wouldn't have joined the project.

[2018-09-28 05:34] 0crat commented on #234
The user @snugghash[/z](https://www.0crat.com/u/snugghash) resigned from [#234](https://github.com/yegor256/0pdd/issues/234), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-09-28 05:34] 0crat commented on #234
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @snugghash[/z](https://www.0crat.com/u/snugghash)

[2018-09-28 07:39] 0crat commented on #175
The user @golyalpha[/z](https://www.0crat.com/u/golyalpha) resigned from [#175](https://github.com/yegor256/0pdd/issues/175), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-09-28 08:41] 0crat commented on #175
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @golyalpha[/z](https://www.0crat.com/u/golyalpha)

[2018-09-28 08:55] 0crat commented on #225
The user @dfrau32[/z](https://www.0crat.com/u/dfrau32) resigned from [#225](https://github.com/yegor256/0pdd/issues/225), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-09-28 08:55] 0crat commented on #225
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @dfrau32[/z](https://www.0crat.com/u/dfrau32)

[2018-09-28 11:29] 0crat commented on #238
The user @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) resigned from [#238](https://github.com/yegor256/0pdd/issues/238), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-09-28 11:29] 0crat commented on #238
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2018-09-28 11:30] 0crat commented on #238
Job `gh:yegor256/0pdd#238` is not assigned, can't get performer

[2018-09-28 11:30] 0crat commented on #238
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto)

[2018-09-30 15:13] snugghash commented on #234
@yegor256 ARC, please assign me back to the issue so I can put this in wait mode.

[2018-09-30 20:37] php-coder commented on #234
@snugghash Don't wait for me. I test it only when it will be in published (merged and deployed). Also, in order to test it, I should close one of my tasks, probably, that also takes time (and I'm not sure that I'll find it).

[2018-10-01 04:59] g4s8 opened #244 "0pdd is broken"
0pdd is not submitting new issues in few projects and is not closing issues when puzzle delete (e.g. https://github.com/zerocracy/farm/issues/1705) . At the same time it's working fine in few another projects.
It's is not working in these projects: https://github.com/zerocracy/farm and https://github.com/sunsofterp/portal
I've checked that all puzzles have valid format with `pdd` tool:
[code]

I'm

[2018-10-01 04:59] 0crat commented on #244
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-01 04:59] 0crat commented on #244
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-01 05:37] yegor256 commented on #244
@rultor release, tag is `0.30.4`

[2018-10-01 05:38] rultor commented on #244
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16039-425794519)

[2018-10-01 05:41] rultor commented on #244
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16039-425794519) (spent 3min)

[code]

[2018-10-01 07:15] 0crat commented on #244
The job [#244](https://github.com/yegor256/0pdd/issues/244) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2740560289); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-10-01 07:15] 0crat commented on #244
Job `gh:yegor256/0pdd#244` already assigned to @yegor256, can't assign to @yegor256

[2018-10-01 07:33] 0crat commented on #244
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-10-01 07:34] yegor256 commented on #242
@snugghash fixed in 7e18c3f thanks!

[2018-10-01 07:34] #242 closed

[2018-10-01 07:36] 0crat commented on #244
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-01 09:07] snugghash commented on #234
@php-coder  I understand, in the end there are a lot of dependencies. For that specific PR, I'd still be be waiting on a (manually assigned?) review from REV role-person. Is that acceptable?

[2018-10-01 09:15] 0crat commented on #242
Job `gh:yegor256/0pdd#242` is not assigned, can't get performer

[2018-10-01 11:28] pbenety commented on #206
@0crat refuse

[2018-10-01 12:39] 0crat commented on #206
@pbenety The user @pbenety[/z](https://www.0crat.com/u/pbenety) resigned from [#206](https://github.com/yegor256/0pdd/issues/206), please stop working. Reason for job resignation: Order was cancelled

[2018-10-01 14:04] 0crat commented on #206
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @pbenety[/z](https://www.0crat.com/u/pbenety)

[2018-10-01 18:59] yegor256 commented on #244
@rultor release, tag is `0.30.4`

[2018-10-01 19:02] rultor commented on #244
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16039-426023621)

[2018-10-01 19:11] rultor commented on #244
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16039-426023621) (took me 8min)

[2018-10-01 19:15] yegor256 commented on #244
@g4s8 should be OK now

[2018-10-01 19:15] #244 closed

[2018-10-01 20:00] snugghash commented on #30
@0crat resign

[2018-10-01 20:08] yegor256 opened #245 "NameError: uninitialized constant MilestoneTickets"
[code]

[2018-10-01 20:10] yegor256 commented on #245
@rultor release, tag is `0.30.5`

[2018-10-01 20:12] rultor commented on #245
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16044-426045808)

[2018-10-01 20:18] rultor commented on #245
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16044-426045808) (took me 5min)

[2018-10-01 20:57] 0crat commented on #244
Job was finished in 13 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-10-01 22:51] 0crat commented on #30
@snugghash The user @snugghash[/z](https://www.0crat.com/u/snugghash) resigned from [#30](https://github.com/yegor256/0pdd/issues/30), please stop working. Reason for job resignation: Order was cancelled

[2018-10-01 22:51] 0crat commented on #244
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-01 22:51] 0crat commented on #244
The job [#244](https://github.com/yegor256/0pdd/issues/244) is now out of scope

[2018-10-01 23:56] 0crat commented on #30
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @snugghash[/z](https://www.0crat.com/u/snugghash)

[2018-10-02 04:13] #245 closed

[2018-10-02 04:55] 0crat commented on #245
Job `gh:yegor256/0pdd#245` is not assigned, can't get performer

[2018-10-02 05:07] 0crat commented on #245
This job is not in scope

[2018-10-02 06:02] ypshenychka commented on #234
@yegor256 Please assign this issue back to @snugghash. Thanks.

[2018-10-05 08:00] g4s8 commented on #244
@yegor256 it actually didn't help: 0pdd is still not working in these projects:  https://github.com/zerocracy/farm https://github.com/sunsofterp/portal

[2018-10-15 06:48] yegor256 commented on #241
@dgroup this seems to be the issue:

[code]

[2018-10-15 06:57] 0crat commented on #241
Thanks for your contribution, @dgroup[/z](https://www.0crat.com/u/dgroup)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-15 06:57] 0crat commented on #241
The job [#241](https://github.com/yegor256/0pdd/issues/241) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/2880660116); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clear,

[2018-10-15 06:58] 0crat commented on #241
Job `gh:yegor256/0pdd#241` already assigned to @yegor256, can't assign to @yegor256

[2018-10-15 07:01] yegor256 commented on #241
@rultor release, tag is `0.30.6`

[2018-10-15 07:01] rultor commented on #241
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16212-429730270)

[2018-10-15 07:04] 0crat commented on #241
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-10-15 07:07] rultor commented on #241
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16212-429730270) (took me 5min)

[2018-10-15 11:55] yegor256 commented on #241
@dgroup I believe the problem is gone. Can you please re-test and confirm?

[2018-10-16 18:13] yegor256 opened #246 "show GitHub API quota on the web"
Let's show it

[2018-10-16 18:23] yegor256 commented on #246
@rultor release, tag is `0.30.7`

[2018-10-16 18:31] rultor commented on #246
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16239-430345139) (took me 3min)

[2018-10-16 18:32] #246 closed

[2018-10-16 19:16] 0crat commented on #246
Job `gh:yegor256/0pdd#246` is not assigned, can't get performer

[2018-10-16 19:56] 0crat commented on #246
This job is not in scope

[2018-10-19 07:55] yegor256 commented on #240
@g4s8 this is solved already

[2018-10-19 07:55] #240 closed

[2018-10-19 08:58] 0crat commented on #240
Job `gh:yegor256/0pdd#240` is not assigned, can't get performer

[2018-10-19 09:10] 0crat commented on #240
This job is not in scope

[2018-10-20 20:51] php-coder commented on #238
Please, make it optional feature because it could look a little weird to have a closed issue with unfinished items that are still finishing.

[2018-10-20 20:52] php-coder opened #247 "undefined method `[]' for true:TrueClass"
It seems like there is a bug in 0pdd: https://github.com/php-coder/mystamps/commit/5f5d2ec4251cc14225626c296e4b2e3ea42f049f#commitcomment-30983125

[2018-10-20 20:52] 0crat commented on #247
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-20 20:52] 0crat commented on #247
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-22 21:54] php-coder commented on #247
Ping. It spams me on every commit.

[2018-10-23 07:26] yegor256 opened #248 "Octokit::NotFound: GET https://api.github.com/repos/fidals/shopelectro/issues/rf182: 404 - Not Found // See: https:/..."
https://sentry.io/zerocracy/0pdd-j0/issues/729723315/

[code]

[code]

[2018-10-23 07:45] yegor256 commented on #248
@rultor release, tag is `0.30.8`

[2018-10-23 07:46] rultor commented on #248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16293-432133399)

[2018-10-23 07:48] yegor256 opened #249 "UserError: set -x && set -e && set -o pipefail && cd /tmp/0pdd20181020-4-gzj0jf/dgroup/velocity && pdd -v -f..."
https://sentry.io/zerocracy/0pdd-j0/issues/737216888/

[code]

[code]

[2018-10-23 07:49] #248 closed

[2018-10-23 07:51] rultor commented on #248
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16293-432133399) (took me 4min)

[2018-10-23 07:52] #249 closed

[2018-10-23 13:57] amihaiemil commented on #206
@yegor256 same problem in amihaiemil/docker-java-api :(

[2018-10-23 21:54] php-coder commented on #247
@yegor256 please, pay attention. This is regression and it's annoying :(

[2018-10-26 06:28] sentry-io[bot] opened #250 "TypeError: no implicit conversion of String into Integer"
Sentry Issue: [0PDD-J0-2A](https://sentry.io/zerocracy/0pdd-j0/issues/740076846/)

[code]

[2018-10-26 06:29] 0crat commented on #250
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-26 06:29] 0crat commented on #250
@sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot] this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-26 06:29] yegor256 commented on #250
@yegor256 full stack:

[code]

[2018-10-26 06:31] 0crat commented on #250
Job [#250](https://github.com/yegor256/0pdd/issues/250) is now in scope, role is `DEV`

[2018-10-26 06:31] 0crat commented on #250
Thanks for your contribution, @sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot]! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-10-26 18:01] proshin-roman commented on #247
@yegor256 @php-coder same issue happens for me in my repo https://github.com/proshin-roman/finapi-java-client/pull/51#commitcomment-31050363

[2018-11-01 09:01] g4s8 commented on #244
@yegor256 it started to work after 21 Oct 2018 in all projects simultaneously: 0pdd submitted a lot of tickets for one commit/webhook, it looks like it's stable now, thanks.

[2018-11-03 09:55] carlosmiranda commented on #250
@yegor256 can we make this a priority? This is causing big problems with puzzles on our project

[2018-11-03 10:06] carlosmiranda commented on #247
@yegor256 I got this error, as well.

[2018-11-03 12:52] yegor256 commented on #247
@php-coder working on it now...

[2018-11-03 12:56] yegor256 commented on #247
@rultor release, tag is `0.30.9`

[2018-11-03 12:58] rultor commented on #247
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16439-435585869)

[2018-11-03 13:03] rultor commented on #247
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16439-435585869) (took me 4min)

[2018-11-03 13:05] yegor256 commented on #247
@php-coder fixed?

[2018-11-04 07:35] yegor256 commented on #250
@carlosmiranda checking now...

[2018-11-04 07:48] yegor256 commented on #250
@rultor release, tag is `0.30.10`

[2018-11-04 07:50] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16442-435649477)

[2018-11-04 07:55] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16442-435649477) (took me 4min)

[2018-11-04 07:56] yegor256 commented on #250
@carlosmiranda I believe it's fixed, please check

[2018-11-04 07:57] #250 closed

[2018-11-04 09:10] yegor256 commented on #234
@0crat assign @snugghash

[2018-11-04 09:11] 0crat commented on #234
@yegor256 The job [#234](https://github.com/yegor256/0pdd/issues/234) assigned to @snugghash[/z](https://www.0crat.com/u/snugghash), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/b776e65d-e830-47a7-8b8a-afa13e4876b2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2018-11-04 09:12] 0crat commented on #234
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-04 09:13] 0crat commented on #250
Job `gh:yegor256/0pdd#250` is not assigned, can't get performer

[2018-11-04 09:15] 0crat commented on #250
The job [#250](https://github.com/yegor256/0pdd/issues/250) is now out of scope

[2018-11-06 07:26] carlosmiranda opened #251 "PDD returns error, tickets don't have description"
After a recent push, PDD returned an error. It seemed to create the right tickets for the puzzles, but does not add any description to the ticket (even though title is correct).

![image](https://user-images.githubusercontent.com/1917892/48049022-457ff780-e1d8-11e8-8234-8f40d89853bf.png)

EDIT: Also, it failed to close a ticket for a removed puzzle, despite the fact that it managed to track the pu

[2018-11-06 07:29] 0crat commented on #251
The job [#251](https://github.com/yegor256/0pdd/issues/251) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/392f02c0-101c-44b1-aba4-2e9d77ef3123); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-06 07:29] 0crat commented on #251
Job `gh:yegor256/0pdd#251` already assigned to @yegor256, can't assign to @yegor256

[2018-11-06 07:30] 0crat commented on #251
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-06 07:30] 0crat commented on #251
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2018-11-06 07:46] yegor256 commented on #251
@rultor release, tag is `0.30.11`

[2018-11-06 07:47] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16466-436159878)

[2018-11-06 07:53] rultor commented on #251
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16466-436159878) (took me 5min)

[2018-11-06 07:53] yegor256 commented on #251
@carlosmiranda I believe it's fixed, please check

[2018-11-07 00:22] #251 closed, assigned to yegor256

[2018-11-07 00:40] 0crat commented on #251
Job was finished in 16 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-07 00:41] 0crat commented on #251
The job [#251](https://github.com/yegor256/0pdd/issues/251) is now out of scope

[2018-11-07 00:41] 0crat commented on #251
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-10 23:38] 0crat commented on #247
Job `gh:yegor256/0pdd#247` is not assigned, can't get performer

[2018-11-10 23:38] 0crat commented on #247
This job is not in scope

[2018-11-14 09:13] 0crat commented on #234
The user @snugghash[/z](https://www.0crat.com/u/snugghash) resigned from [#234](https://github.com/yegor256/0pdd/issues/234), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2018-11-14 09:13] 0crat commented on #234
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @snugghash[/z](https://www.0crat.com/u/snugghash)

[2018-11-18 18:14] dgroup commented on #241
Hi @yegor256,
Looks like i've understood the root cause of this problem.
0pdd doesn't work with `non-master` default branches.

The tickets were raised once i've changed the default branch from `dev` to `master`.
Please add this information to the docs.
Stacktrace which allows me to understand it, just for the history
[code]

[2018-11-27 09:40] sentry-io[bot] opened #252 "ArgumentError: string contains null byte"
Sentry Issue: [0PDD-J0-1S](https://sentry.io/zerocracy/0pdd-j0/issues/634258357/?referrer=github_integration)

[code]

[code]

[2018-11-27 09:40] 0crat commented on #252
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-27 09:40] 0crat commented on #252
@sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot] this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-27 10:01] 0crat commented on #252
Thanks for your contribution, @sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot]! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-11-27 10:01] 0crat commented on #252
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.4](https://github.com/zerocracy/farm): CID: [dab0fa9d-f5ce-4e7f-909a-8b10a483e978](https://www.0crat.com/footprint/C3T46CUJJ/dab0fa9d-f5ce-4e7f-909a-8b10a483e978), Type: "Job was added to WBS"

[2018-11-27 10:03] 0crat commented on #252
The job [#252](https://github.com/yegor256/0pdd/issues/252) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/cfaf76ee-5055-4705-aabc-e499959a2313); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-27 10:04] 0crat commented on #252
Job `gh:yegor256/0pdd#252` already assigned to @yegor256, can't assign to @yegor256

[2018-11-27 10:05] #252 closed

[2018-11-27 10:05] sentry-io[bot] opened #253 "Errno::EEXIST: File exists @ dir_s_mkdir - /tmp/0pdd-xml-cache/Shryne/goop"
Sentry Issue: [0PDD-J0-2C](https://sentry.io/zerocracy/0pdd-j0/issues/768292301/?referrer=github_integration)

[code]

[code]

[2018-11-27 10:06] 0crat commented on #253
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-27 10:06] 0crat commented on #253
@sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot] this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-27 10:12] #253 closed

[2018-11-27 10:13] 0crat commented on #252
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-27 10:16] sentry-io[bot] opened #254 "Octokit::NotFound: GET https://api.github.com/repos/January-ai/labcorp-scraping/issues/comments/0?per_page=100: 404 ..."
Sentry Issue: [0PDD-J0-2D](https://sentry.io/zerocracy/0pdd-j0/issues/772654418/?referrer=github_integration)

[code]

[2018-11-27 10:16] 0crat commented on #254
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-27 10:16] 0crat commented on #254
@sentry-io[/z](https://www.0crat.com/u/sentry-io)[bot] this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-27 10:19] #254 closed

[2018-11-27 10:20] yegor256 commented on #253
@rultor release, tag is `0.30.12`

[2018-11-27 10:21] rultor commented on #253
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16672-442005136)

[2018-11-27 10:32] 0crat commented on #253
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.4](https://github.com/zerocracy/farm): CID: [63cdc8ee-c129-44d5-9451-8c0534cdc01a](https://www.0crat.com/footprint/C3T46CUJJ/63cdc8ee-c129-44d5-9451-8c0534cdc01a), Type: "Close job"

[2018-11-27 10:32] 0crat commented on #253
Job `gh:yegor256/0pdd#253` is not assigned, can't get performer

[2018-11-27 10:32] 0crat commented on #252
The job [#252](https://github.com/yegor256/0pdd/issues/252) is now out of scope

[2018-11-27 10:34] 0crat commented on #252
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-27 10:39] 0crat commented on #254
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.38.4](https://github.com/zerocracy/farm): CID: [d68b7b95-75c1-4db3-9e7a-5c17e6396a30](https://www.0crat.com/footprint/C3T46CUJJ/d68b7b95-75c1-4db3-9e7a-5c17e6396a30), Type: "Close job"

[2018-11-27 10:40] 0crat commented on #254
Job `gh:yegor256/0pdd#254` is not assigned, can't get performer

[2018-11-28 01:34] carlosmiranda opened #255 "0pdd Github webhook URL is responding with 404"
Beginning 6 hours ago, the webhook `http://www.0pdd.com/hook/github` started responding with `404` error. This prevented any puzzles getting refreshed on our project.

We have not changed any webhook configs. Also, multiple unrelated repos appear to be receiving the 404 error, suggesting that this is a problem in `0pdd` side.

See https://www.rehttp.net/i?u=http%3A%2F%2Fwww.0pdd.com%2Fhook%2Fgithu

[2018-11-28 01:34] 0crat commented on #255
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-28 01:34] 0crat commented on #255
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-11-28 05:03] g4s8 commented on #255
@carlosmiranda @yegor256 same issue for me. It seems that affected only private repos.

[2018-11-28 05:18] yegor256 commented on #255
@rultor release, tag is `0.30.13`

[2018-11-28 05:18] yegor256 commented on #255
@carlosmiranda fixed, thanks for reporting!

[2018-11-28 05:18] #255 closed

[2018-11-28 05:20] rultor commented on #255
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16678-442323102)

[2018-11-28 05:35] 0crat commented on #255
Job `gh:yegor256/0pdd#255` is not assigned, can't get performer

[2018-11-28 05:37] 0crat commented on #255
This job is not in scope

[2018-11-30 08:21] yegor256 opened #256 "non-exclusive access for farm loading"
Let's make it non-exclusive

[2018-11-30 08:31] 0crat commented on #256
The job [#256](https://github.com/yegor256/0pdd/issues/256) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/C3T46CUJJ/aadf4705-f1ab-4db7-a6dd-e77a73ad0b1d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2018-11-30 08:34] 0crat commented on #256
Job `gh:yegor256/0pdd#256` already assigned to @yegor256, can't assign to @yegor256

[2018-11-30 08:38] 0crat commented on #256
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 08:38] 0crat commented on #256
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 08:38] 0crat commented on #256
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-11-30 08:45] 0crat commented on #256
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-11-30 08:47] 0crat commented on #256
The job [#256](https://github.com/yegor256/0pdd/issues/256) is now out of scope

[2018-11-30 08:48] 0crat commented on #256
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-01 23:53] php-coder commented on #234
It seems like the issue is fixed now: https://github.com/php-coder/mystamps/issues/671#issuecomment-443468450

Thanks!

[2018-12-02 00:10] 0crat commented on #234
Job `gh:yegor256/0pdd#234` is not assigned, can't get performer

[2018-12-02 00:10] 0crat commented on #234
The job [#234](https://github.com/yegor256/0pdd/issues/234) is now out of scope

[2018-12-17 23:03] php-coder commented on #234
Still here: https://github.com/php-coder/mystamps/issues/695#issuecomment-447992236

[2018-12-17 23:03] 0crat commented on #234
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-17 23:03] 0crat commented on #234
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-23 22:49] php-coder opened #257 "Update pdd to take into account the latest changes"
It seems like 0pdd uses the last released version of pdd that is 0.20.3:

https://github.com/yegor256/0pdd/blob/b917d5350744c0428da22454efa336f789f4759d/Gemfile.lock#L90

It was released on 5 Mar and doesn't include changes after that date.

For example, https://github.com/yegor256/pdd/issues/104 has been fixed in https://github.com/yegor256/pdd/commit/ac348eefbfebef685f180ee7c8f1031d64af242e on 1

[2018-12-23 22:49] 0crat commented on #257
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-23 22:49] 0crat commented on #257
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-25 13:31] yegor256 commented on #234
@php-coder please, open a new ticket. Thanks!

[2018-12-25 14:02] yegor256 commented on #257
@rultor release, tag is `0.30.14`

[2018-12-25 14:03] rultor commented on #257
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17045-449852715)

[2018-12-25 14:07] rultor commented on #257
@php-coder @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17045-449852715) (spent 3min)

[code]

[2018-12-25 14:49] yegor256 commented on #257
@rultor release, tag is `0.30.14`

[2018-12-25 14:50] rultor commented on #257
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17045-449855631)

[2018-12-25 14:55] rultor commented on #257
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17045-449855631) (took me 4min)

[2018-12-25 15:03] yegor256 commented on #257
@php-coder done

[2018-12-25 15:03] #257 closed

[2018-12-25 15:20] 0crat commented on #257
Job `gh:yegor256/0pdd#257` is not assigned, can't get performer

[2018-12-25 15:21] 0crat commented on #257
This job is not in scope

[2018-12-26 14:19] #241 closed

[2018-12-26 14:39] 0crat commented on #241
The job [#241](https://github.com/yegor256/0pdd/issues/241) is now out of scope

[2018-12-26 14:39] 0crat commented on #241
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-26 16:20] dgroup opened #258 "Default milestone for the issues raised by 0pdd"
Are there any features which allow setting the default milestone for each raised task by 0pdd?

[2018-12-26 16:20] 0crat commented on #258
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-26 16:20] 0crat commented on #258
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-27 05:44] yegor256 commented on #258
@dgroup not yet, but we can add it. Maybe also default assignee, default label(s), default project(s)?

[2018-12-27 07:55] DronMDF opened #259 "It is not possible to specify a list of excluded files."
My project include cpplint.py, which contains many comments not compatible with pdd.
This was not a problem until the yegor256/pdd#106 was closed.

This led to the fact that 0pdd refuses to process my project.
Apparently I should be able to specify a list of files that should be excluded.
But I can not do this through the 0pdd.yml.

[2018-12-27 07:55] 0crat commented on #259
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-27 07:55] 0crat commented on #259
@dronmdf[/z](https://www.0crat.com/u/dronmdf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-27 08:18] dgroup commented on #258
@yegor256, regarding default
1. `assignee(s)`
     Agree
2. `label(s)`
    I think its already done.
3. `project(s)`
   Sorry, but could you please clarify this point?

[2018-12-28 21:55] php-coder opened #260 "Regression: pdd started to fail on TODO comments that it ignored before"
The comments like `TODO:` were ignored before but after latest update, pdd tries to parse them and fails. It seems like a bug or a new feature that was implemented in non-backward compatible way.

See as example: https://github.com/php-coder/mystamps/commit/1a19a7dff7d373dc2b74d2c97511f8721521024d#commitcomment-31799391

[2018-12-28 21:55] 0crat commented on #260
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-28 21:55] 0crat commented on #260
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-29 06:49] yegor256 commented on #260
@php-coder it's a feature: https://github.com/yegor256/pdd/issues/106

[2018-12-29 18:40] dgroup commented on #258
@yegor256, yes, I've checked out the "project" functionality for GitHub issues, and you are right, that would be good to have the default project.

For example, if only 1 project has status open than it can be used by default.
Otherwise, we need to specify the project ID/name in `0pdd.yml` explicitly.

[2019-01-08 09:42] Serranya opened #261 "0pdd answers with 404"
I am trying to use 0pdd for my project at https://github.com/Serranya/de.serra.condorcat

For some reason 0pdd answers to my webhook only with 404: https://www.rehttp.net/d?u=http%3A%2F%2Fwww.0pdd.com%2Fhook%2Fgithub&t=1546940172950

Other requests directly before mine are getting a 200.

I also got no mail from 0pdd explaining me what is wrong.

What I did to set up 0pdd was:

Add a webhook:
![gr

[2019-01-08 09:42] 0crat commented on #261
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-08 09:42] 0crat commented on #261
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-08 09:52] Serranya commented on #261
Seems like it is breaking here https://github.com/yegor256/0pdd/blob/master/0pdd.rb#L397

[2019-01-09 17:46] yegor256 commented on #261
@Serranya definitely a bug, thanks for the PR!

[2019-01-10 08:59] yegor256 commented on #261
@rultor release, tag is `0.30.15`

[2019-01-10 09:01] rultor commented on #261
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17270-453019498)

[2019-01-10 09:06] rultor commented on #261
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17270-453019498) (took me 4min)

[2019-01-10 09:10] yegor256 commented on #261
@Serranya should be fine now, thanks for your help!

[2019-01-10 09:10] #261 closed

[2019-01-16 17:16] ammaratef45 opened #263 "mail format is not accepting my valid email"
I'm getting that error from 0pdd

Is my email not valid or what?

[2019-01-16 17:16] 0crat commented on #263
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-16 17:16] 0crat commented on #263
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 09:10] emilianodellacasa opened #264 "Unexistent file in issue description"
In a private repository pdd is creating correctly the issue, however the file is not correct.

Attaching the image to show the problem:

![pdd](https://user-images.githubusercontent.com/304924/51825375-ef0ceb80-22e4-11e9-832a-9e3072b45f7c.PNG)

[2019-01-28 09:10] 0crat commented on #264
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-28 09:10] 0crat commented on #264
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-05 08:11] emilianodellacasa commented on #264
It was an error in the configuration file

[2019-02-05 08:11] #264 closed

[2019-02-05 08:33] 0crat commented on #264
Job `gh:yegor256/0pdd#264` is not assigned, can't get performer

[2019-02-05 08:33] 0crat commented on #264
This job is not in scope

[2019-02-05 12:01] yegor256 commented on #263
@ammaratef45 I can't find where this error is coming from. We don't have that in our code. Can you please show the full log? Where I can find more info?

[2019-02-05 12:11] ammaratef45 commented on #263
@yegor256
I changed the mail of my GitHub user to my Gmail `ammar.atef45@gmail.com` and it's working.

Maybe you have a problem with the `_` letter.

[2019-02-05 13:00] yegor256 commented on #263
@rultor release, tag is `0.30.16`

[2019-02-05 13:00] yegor256 commented on #263
@ammaratef45 you are right, it was a bug in the code, fixed and tested in af79f5b. Should work fine now (after release).

[2019-02-05 13:00] #263 closed

[2019-02-05 13:00] rultor commented on #263
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17706-460628933)

[2019-02-05 13:05] ammaratef45 commented on #263
@yegor256 Nice :+1:

[2019-02-05 13:06] rultor commented on #263
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17706-460628933) (took me 4min)

[2019-02-05 13:47] 0crat commented on #263
Job `gh:yegor256/0pdd#263` is not assigned, can't get performer

[2019-02-05 13:47] 0crat commented on #263
This job is not in scope

[2019-03-07 17:05] frou commented on #258
The mentioned ability to configure a default issue assignee would make a lot of sense for when a single developer works alone on a project but still wants to use PDD.

[2019-03-12 21:49] paulodamaso commented on #258
@dgroup WDYT about if no default milestone is defined, copy the parent issue milestone?

[2019-03-13 11:05] dgroup commented on #258
@paulodamaso in case if issue **A** has a parent **B** (with milestone) it means that **B** can't be delivered without **A**, thus issue **A** should be delivered within the same milestone.

So, yes, copy the parent issue milestone.

[2019-03-13 14:22] paulodamaso commented on #258
@dgroup Yes, it should be explictly added to issue **A** when pdd creates it

[2019-05-15 13:09] yegor256 opened #265 "failed to login"
[code]

[2019-05-15 13:43] yegor256 commented on #265
@rultor release, tag is `0.30.17`

[2019-05-15 13:44] rultor commented on #265
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18907-492660189)

[2019-05-15 13:51] rultor commented on #265
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18907-492660189) (took me 5min)

[2019-05-15 13:58] #265 closed

[2019-05-15 14:16] 0crat commented on #265
Job `gh:yegor256/0pdd#265` is not assigned, can't get performer

[2019-05-15 14:16] 0crat commented on #265
This job is not in scope

[2019-05-15 20:30] yegor256 commented on #259
@DronMDF why can't you do this via `.pdd` file?

[2019-05-16 09:55] DronMDF commented on #259
@yegor256 Yes, I can do it over --exclude...
In december i can't find this solution.
I close this bug.
This is solved.

[2019-05-16 09:55] #259 closed

[2019-05-16 10:12] 0crat commented on #259
Job `gh:yegor256/0pdd#259` is not assigned, can't get performer

[2019-05-16 10:15] 0crat commented on #259
This job is not in scope

[2019-05-27 01:50] lastk commented on #146
@yegor256 can you close this issue ?

[2019-05-27 02:31] lastk opened #267 "Bump Ruby version for appveyor"
Ci is not working right now because Gemfile defines ruby version `2.6.0`and appveyor is using `2.3.3`
https://ci.appveyor.com/project/yegor256/0pdd/builds/24825203

[2019-05-27 02:31] 0crat commented on #267
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-27 02:31] 0crat commented on #267
@lastk[/z](https://www.0crat.com/u/lastk) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-27 05:29] lastk commented on #267
@yegor256 while I'm on this I was thinking if we should skip the 2 tests which are failing since they are trickier to fix I suppose. So we can have the CI green for a while.

[2019-05-27 05:32] lastk commented on #221
@yegor256 there was still a bug here where it wasn't showing the estimates at all. #266 fix it.

[2019-05-27 20:21] php-coder commented on #206
@yegor256 Any plans on fixing this issue?

[2019-05-28 14:17] yegor256 commented on #267
@lastk we can do that, but when you `skip`, don't forget to add a `@todo` puzzle, which will explain why you skipped it and what should be done in order to un-skip it.

[2019-05-28 14:20] yegor256 commented on #146
@lastk closed

[2019-05-28 14:20] #146 closed

[2019-05-28 14:21] yegor256 commented on #206
@lastk can you please take a look?

[2019-05-28 14:23] #221 closed

[2019-05-28 14:39] yegor256 commented on #221
@rultor release, tag is `0.30.18`

[2019-05-28 14:46] rultor commented on #221
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19026-496545570)

[2019-05-28 14:53] rultor commented on #221
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19026-496545570) (took me 4min)

[2019-05-28 16:56] 0crat commented on #221
@rultor[/z](https://www.0crat.com/u/rultor) the issue is closed not by @php-coder[/z](https://www.0crat.com/u/php-coder) (its creator); I won't close the order; please, re-open it and ask @php-coder[/z](https://www.0crat.com/u/php-coder) to close it

[2019-05-28 16:56] 0crat commented on #146
Job `gh:yegor256/0pdd#146` is not assigned, can't get performer

[2019-05-28 17:16] 0crat commented on #146
This job is not in scope

[2019-05-29 14:58] yegor256 opened #269 "XML has 2 errors"
[code]

[2019-05-29 14:59] yegor256 opened #270 "Net::ReadTimeout: Net::ReadTimeout"
Found this in Sentry today:

[code]

[2019-05-29 22:51] lastk commented on #206
@yegor256 yes. I need more details on it though

[2019-06-02 09:37] agorlov opened #271 "Issue with 0pdd installation from github market"
I've installed 0pdd:
https://github.com/marketplace/0pdd-com

---
![image](https://user-images.githubusercontent.com/2485728/58759377-9f0f9100-8531-11e9-8d1b-86a0a88684f7.png)
---

then followed the link **'grant this app access to your GitHub account.'**
``https://github.com/marketplace/0pdd-com/install/MDE2OlN1YnNjcmlwdGlv....``

 and saw the start page:
``http://www.0pdd.com/?marketplace_listin

[2019-06-02 09:37] 0crat commented on #271
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-02 09:37] 0crat commented on #271
@agorlov[/z](https://www.0crat.com/u/agorlov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-03 10:00] 0crat commented on #221
@pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto) resigned from [#221](https://github.com/yegor256/0pdd/issues/221), since the job is not in scope anymore

[2019-06-03 10:00] 0crat commented on #221
The job [#221](https://github.com/yegor256/0pdd/issues/221) is now out of scope

[2019-06-11 14:39] lastk commented on #228
@yegor256 there are a lot of shell commands in the app which works only on linux. should we close this issue?

[2019-06-28 15:41] yegor256 commented on #271
@lastk can you take a look? I'm not sure exactly what we should do on our side, but the GitHub repo's list of contributors has to be extended with `@0pdd` user. We usually do this manually, but it's possible to do it automatically somehow?

[2019-06-28 15:42] yegor256 commented on #270
@lastk can you please take a look?

[2019-06-28 15:42] yegor256 commented on #269
@lastk can you please take a look?

[2019-06-28 15:43] yegor256 opened #273 "Travis build is broken (sometimes)"
Even though it works in Rultor and for me locally, it gets broken sometimes in Travis. Let's try to fix and make it more stable.

[2019-06-28 15:43] yegor256 commented on #273
@lastk can you please take a look?

[2019-06-28 15:46] 0crat commented on #271
Job [#271](https://github.com/yegor256/0pdd/issues/271) is now in scope, role is `DEV`