[2019-06-28 15:49] 0crat commented on #271
Thanks for your contribution, @agorlov[/z](https://www.0crat.com/u/agorlov)! If you would be a member of [the project](https://www.0crat.com/p/C3T46CUJJ), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-06-28 15:49] 0crat commented on #273
Job [#273](https://github.com/yegor256/0pdd/issues/273) is now in scope, role is `DEV`

[2019-06-28 15:49] 0crat commented on #270
Job [#270](https://github.com/yegor256/0pdd/issues/270) is now in scope, role is `DEV`

[2019-06-28 15:51] 0crat commented on #269
Job [#269](https://github.com/yegor256/0pdd/issues/269) is now in scope, role is `DEV`

[2019-06-28 15:58] 0crat commented on #269
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-28 15:58] 0crat commented on #273
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-28 15:58] 0crat commented on #270
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-07-02 11:31] g4s8 opened #274 "0pdd failed to pull"
0pdd is raising same error for each commit in one [repo](https://github.com/g4s8/matchers-json):

and have 1 and 25 different commits each, respectively.
  (use "git pull" to merge the remote branch into yours)
First, rewinding head to replay your work on top of it...

E.g. here:
https://github.com/g4s8/matchers-json/commit/b16a7328c58b568e04666af91392fe2b1c046914#commitcomment-34150898

I'm not s

[2019-07-02 11:31] 0crat commented on #274
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-02 11:31] 0crat commented on #274
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-03 21:40] lastk commented on #271
@yegor256 yes! I'm traveling this week but i will look it this weekend.

[2019-07-04 12:10] yegor256 commented on #228
@lastk yes, I think we can officially say in the README file that only Linux/Mac is supported. Windows is something we don't support and won't support.

[2019-07-04 12:11] yegor256 commented on #274
@lastk can you check?

[2019-07-04 13:05] g4s8 commented on #274
@yegor256 thanks, fixed

[2019-07-04 13:05] #274 closed

[2019-07-04 14:35] 0crat commented on #274
Job [#274](https://github.com/yegor256/0pdd/issues/274) is now in scope, role is `DEV`

[2019-07-04 15:17] 0crat commented on #274
Job `gh:yegor256/0pdd#274` is not assigned, can't get performer

[2019-07-04 15:39] 0crat commented on #274
The job [#274](https://github.com/yegor256/0pdd/issues/274) is now out of scope

[2019-07-04 16:08] 0crat commented on #274
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-16 21:19] php-coder commented on #217
Yes, it still here: https://github.com/php-coder/mystamps/commit/6dcb3f4efac184563e83d1e5a8228b31e0e06690#commitcomment-34327366

How to fix it? Will it be broken forever for this repo now? ;/

[2019-07-19 18:22] php-coder commented on #217
@yegor256 Hi, could you, please, clear the 0pdd cache for php-coder/mystamps repo, so it will clone it from scratch?

[2019-07-21 16:42] php-coder commented on #217
Everything works fine now.

[2019-07-25 12:55] paulodamaso opened #275 "Error executing 0pdd on merge"
I've got the following error on a merge from my project:

[code]

[2019-07-25 12:56] 0crat commented on #275
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-25 12:56] 0crat commented on #275
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-28 16:18] lastk commented on #275
@yegor256 it looks like the problem is with the amazon ses account. they suspended sending emails for some reason. can you see if you get any email regards it?

https://docs.aws.amazon.com/ses/latest/DeveloperGuide/e-faq.html#e-faq-sp

[2019-07-28 16:48] lastk commented on #271
Hi @yegor256 , Its  possible to grant permission to user via api, I think a good place to make it happen is when setting up the webhook. I saw the project uses some storage for projects. I will see whats the best way to setup it and discuss here.

[2019-07-28 16:57] lastk commented on #217
how did you fix it?

[2019-07-28 21:26] php-coder commented on #217
@lastk On one of the next commits, it's started to work by itself :)

[2019-08-01 09:42] g4s8 opened #276 "0pdd is not closing or opening tickets"
I've removed a puzzle and submitted few new puzzles in these commits:
https://github.com/January-ai/restaurant_crawling/commit/8fc3bbe075914ee998ca4df79cea2016bb04e222
https://github.com/January-ai/restaurant_crawling/commit/9a22023eff97a19cac8f62e759f4ef78aae6d8d6
but 0pdd ignored these commits, where it was supposed to close the ticket and open few new tickets.
I checked https://www.githubstatus

[2019-08-01 09:42] 0crat commented on #276
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-01 09:42] 0crat commented on #276
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-01 11:54] g4s8 commented on #276
@yegor256 fixed

[2019-08-01 11:54] #276 closed

[2019-08-01 12:18] 0crat commented on #276
Job `gh:yegor256/0pdd#276` is not assigned, can't get performer

[2019-08-01 12:19] 0crat commented on #276
This job is not in scope

[2019-08-10 11:34] g4s8 opened #277 "0pdd failed to close puzzle"
It's similar to #276 bug, but here I didn't use force push, just regular commit with removed pdd puzzle. 0pdd failed to delete this puzzle and can't process new puzzle, the error. Maybe it was caused by new `.gitattributes` file with : `*.png binary`
[code]

[2019-08-10 11:35] 0crat commented on #277
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-10 11:35] 0crat commented on #277
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-10 07:54] #275 closed

[2019-10-10 07:55] yegor256 commented on #277
@lastk what do you think?

[2019-10-10 08:18] 0crat commented on #275
Job `gh:yegor256/0pdd#275` is not assigned, can't get performer

[2019-10-10 08:18] 0crat commented on #275
This job is not in scope

[2019-10-19 22:22] ChameleonTartu opened #283 "pdd doesn't recognize and document task when in test file"
When I leave puzzle in test file. `MyControllerTest.java` under `src/test/java` folder it looks as on picture below:

![image](https://user-images.githubusercontent.com/13621271/67152015-37cf5f00-f2cf-11e9-9448-4f75f97f26ef.png)

I expected it to write name of the test file and line as well as beginning of description.

[2019-10-21 06:46] yegor256 opened #278 "migrate to Dokku"

[2019-10-21 06:53] yegor256 commented on #278
@rultor release, tag is `0.30.19`

[2019-10-21 06:57] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20663-544375104)

[2019-10-21 07:03] rultor commented on #278
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20663-544375104) (spent 5min)

[code]

[2019-10-21 08:17] yegor256 commented on #278
@rultor release, tag is `0.30.19`

[2019-10-21 08:19] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20663-544402875)

[2019-10-21 08:25] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20663-544402875) (took me 4min)

[2019-10-21 08:26] #278 closed

[2019-10-28 18:26] eimfach opened #279 "Failure response from 0pdd bot to my commit"
I wasn't able to retrieve PDD puzzles from the code base and submit them to GitHub. If you think that it's a bug on our side, please submit it to yegor256/0pdd:

[code]

[code]

[2019-10-28 18:35] eimfach commented on #279
It seems like that it does only recognize the very first line of the comment, where the `@todo` is stated...

[2019-10-30 03:10] yegor256 opened #280 "nginx template"

[2019-10-30 03:12] yegor256 commented on #280
@rultor release, tag is `0.30.20`

[2019-10-30 03:15] rultor commented on #280
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20738-547720818)

[2019-10-30 03:31] rultor commented on #280
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20738-547720818) (took me 14min)

[2019-10-30 03:35] #280 closed

[2019-10-30 04:36] 0crat commented on #280
Job `gh:yegor256/0pdd#280` is not assigned, can't get performer

[2019-10-30 04:47] 0crat commented on #280
This job is not in scope

[2019-11-02 15:09] aivinog1 opened #281 "PDD failed to create a label"
See this: https://github.com/aivinog1/omdb-api/issues/5#issuecomment-549050947

A @0pdd is already in the collaborator's list, but Github waiting for a response:
![image](https://user-images.githubusercontent.com/25925932/68072906-70863280-fdbd-11e9-82ce-e18013b4bb49.png)

[2019-11-02 15:09] 0crat commented on #281
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-02 15:09] 0crat commented on #281
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-05 10:33] fybwid commented on #212
I've find sample here:
https://github.com/rails/rails/blob/master/actionpack/lib/action_controller/metal/conditional_get.rb

and here:
https://www.rubydoc.info/gems/sinatra/Sinatra%2FHelpers:etag

Still, I need more enlightenment with applying the conditional requests.

[2019-11-09 21:05] php-coder opened #282 "Improve badge: don't abbreviate a number of issues"
Consider modifying a badge to not abbreviate a number of issues. At this moment, the number is abbreviated when it's greater than 100 to 99+

After a couple of years, I have a badge that always shows 99+/99+ This makes the badge less useful.

[2019-11-09 21:05] 0crat commented on #282
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-09 21:05] 0crat commented on #282
@php-coder[/z](https://www.0crat.com/u/php-coder) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-05 22:55] php-coder commented on #271
+1 here. The UX can be better and follow user step-by-step instead of redirecting to a page with a list of projects.

[2019-12-05 23:20] php-coder commented on #152
After a few years, I faced it again. The error is the following:

Example: https://github.com/php-coder/mystamps-country/issues/2#issuecomment-562358486

[2019-12-16 19:28] yegor256 commented on #282
@php-coder make sense, thanks, we will fix this

[2019-12-16 19:29] yegor256 commented on #281
@aivinog1 this was a temporary issue, solved already

[2019-12-16 19:29] #281 closed

[2019-12-16 19:29] 0crat commented on #282
Job [#282](https://github.com/yegor256/0pdd/issues/282) is now in scope, role is `DEV`

[2019-12-16 19:30] 0crat commented on #283
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-16 19:30] 0crat commented on #283
@chameleontartu[/z](https://www.0crat.com/u/chameleontartu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-16 19:35] 0crat commented on #282
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @php-coder[/z](https://www.0crat.com/u/php-coder)

[2019-12-16 19:49] 0crat commented on #281
Job `gh:yegor256/0pdd#281` is not assigned, can't get performer

[2019-12-16 19:51] 0crat commented on #281
This job is not in scope

[2019-12-16 20:10] yegor256 commented on #283
@rultor release, tag is `0.30.21`

[2019-12-16 20:12] rultor commented on #283
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21059-566222624)

[2019-12-16 20:21] rultor commented on #283
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21059-566222624) (took me 6min)

[2019-12-16 20:25] yegor256 commented on #283
@ChameleonTartu should be OK now, thanks for reporting this

[2019-12-16 20:25] #283 closed

[2019-12-16 20:49] 0crat commented on #283
Job `gh:yegor256/0pdd#283` is not assigned, can't get performer

[2019-12-16 20:51] 0crat commented on #283
This job is not in scope

[2019-12-17 09:08] ChameleonTartu commented on #283
@yegor256 Thx!

[2020-01-14 17:56] fanifieiev opened #285 "0crat/0pdd is not closing issue for merged PR"
The issue: [998](https://github.com/yegor256/takes/issues/998) is not being closed, even though its PR: [1001](https://github.com/yegor256/takes/pull/1001) has been merged and finished.

[2020-01-14 17:56] 0crat commented on #285
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-14 17:56] 0crat commented on #285
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3T46CUJJ) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-15 17:38] #285 closed

[2020-01-15 17:55] 0crat commented on #285
Job `gh:yegor256/0pdd#285` is not assigned, can't get performer

[2020-01-15 17:56] 0crat commented on #285
This job is not in scope

[2020-02-01 02:35] parnurzeal commented on #175
do you have gitlab integration for this yet? thank you!

[2020-03-11 12:38] g4s8 opened #287 "First line as ticket title"
Ticket title is built from file name, extension, line number and first one or two words with ellipsis. It's hard to read and understand what's the ticket about when looking to ticket's list at github. Also, these details are not really informative for title.
I'd suggest to build ticket title from First line of puzzle.
Example:
[code]
convert to ticket with title: "Implement unit test for RpmAdapte

[2020-03-11 12:39] 0crat commented on #287
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-03-19 19:23] kkamkou commented on #282
Please also allow to use the `shields.io` service. example:
[code]

[2020-04-25 02:29] dgroup opened #288 "ERROR (Errno::ENOMEM): Cannot allocate memory - grep -qI '.' /tmp/0pdd20200421-11-t6b9ps/dgroup/xxx/.../yyyy.rb Exit code is 255"
Today faced with 0pdd during commit
[code]

[2020-04-25 02:29] 0crat commented on #288
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-04-28 03:51] dgroup commented on #288
Fixed.

[2020-04-28 03:51] #288 closed

[2020-04-28 04:08] 0crat commented on #288
Job `gh:yegor256/0pdd#288` is not assigned, can't get performer

[2020-05-21 12:27] php-coder opened #289 "Badge doesn't show up"
I noticed that a badge doesn't show up in my README.md, when I came to this repo, I see that it also doesn't appear here as well: instead of an image I see a text "PDD status".

[2020-05-21 12:28] 0crat commented on #289
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-22 20:26] php-coder commented on #289
Workaround: use HTTP instead of HTTPS for an image.

[2020-08-12 13:27] raboley opened #293 "Allow 0pdd to create puzzles based on main branch"
now that GitHub is moving from doing master branch to main branch as default, it would be nice if 0pdd worked on main branch and not only master.

thank you!

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say "is broken" or "doesn't work" in the title
  - You tell us what you are trying to do
  - Yo

[2020-10-11 10:38] victornoel opened #294 "0pdd does not assign milestone even though it comments about it"
When a new task is created from an existing one that have a milestone set, 0pdd sayd:
[code]

But it does not set the milestone in practice.

Here is an example: https://github.com/yegor256/cactoos/issues/1462#issuecomment-691713022

The bot does have the right to do so, because it sets the labels successfully.

[2020-11-02 10:05] andreoss opened #295 "The document has no document element"
The following error occurs when 0pdd status is requests for https://github.com/llorllale/cactoos-matchers via this link
http://www.0pdd.com/p?name=llorllale/cactoos-matchers

[code]

[2020-11-02 10:10] andreoss opened #296 "https://www.0pdd.com certificate has expired"
<pre>
* $JAVA_HOME/bin/keytool -printcert -sslserver www.0pdd.com:443
Certificate #0
====================================
Owner: CN=0pdd.com, OU=PositiveSSL, OU=Domain Control Validated
Issuer: CN=Sectigo RSA Domain Validation Secure Server CA, O=Sectigo Limited, L=Salford, ST=Greater Manchester, C=GB
Serial number: 6b346e868a52a3b530573b6d4407573c
Valid from: Wed Oct 23 03:00:00 MSK 2019 until: <

[2020-11-02 12:04] yegor256 commented on #296
@andreoss fixed, thanks for reporting!

[2020-11-02 12:04] #296 closed

[2020-11-02 12:22] 0crat commented on #296
Job `gh:yegor256/0pdd#296` is not assigned, can't get performer

[2020-11-30 14:05] olegmoz opened #297 "Issues not created from commit"
PDD bot is expected to create new issue from `@todo` puzzles when PR is merged in master branch. However it stopped to produce such issues for Artipie repositories. Removed puzzles do not cause issues to be closed as well. Examples of PRs that were merged, but ignored by PDD bot:
- https://github.com/artipie/docker-adapter/pull/359
- https://github.com/artipie/artipie/pull/776

[2020-12-01 20:31] yegor256 commented on #297
@rultor release, tag is `0.30.22`

[2020-12-01 20:33] rultor commented on #297
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23795-736801925)

[2020-12-01 20:36] rultor commented on #297
@olegmoz @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23795-736801925) (spent 3min)

[code]

[2020-12-01 21:00] yegor256 commented on #297
@rultor release, tag is `0.30.22`

[2020-12-01 21:01] rultor commented on #297
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23795-736817071)

[2020-12-01 21:06] rultor commented on #297
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/23795-736817071) (took me 4min)

[2020-12-01 21:11] yegor256 commented on #297
@olegmoz should be fine now, I believe

[2020-12-01 21:11] #297 closed

[2020-12-18 15:43] 20GHhub19 commented on #125
Hello dear all

I start learning with git:

I typed this command in a git console : git fetch because I wanted to update index
 and I got this error message: error: cannot rebase: You have unstaged changes.
                                              error: Please commit or stash them.

find in attached file a screenshot I did I don't how to resolve it
![Git_fetch_error](https://user-images.gith

[2020-12-18 15:48] 20GHhub19 commented on #125
Hello dear all

I start learning with git:

I typed this command in a git console : git fetch because I wanted to update index
and I got this error message: error: cannot rebase: You have unstaged changes.
error: Please commit or stash them.

find in attached file a screenshot I did I don't how to resolve it
![Git_fetch_error_2](https://user-images.githubusercontent.com/58400969/102633540-dca63000

[2021-01-05 12:04] php-coder commented on #287
AFAIU that is what `format.short-title` option does -- it excludes a filename and leaves only todo description.

[2021-03-09 05:02] yegor256 opened #299 "remove failed org memberships"

[2021-03-09 05:10] rultor commented on #299
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24251-793405115)

[2021-04-21 11:47] g4s8 commented on #287
@php-coder thanks, it's better than default behavior, but it doesn't completely solve my problem: I still can't control ticket title from pdd puzzle. I think the title of the ticket is very important thing when you see the list of tickets.

E.g. see: https://github.com/artipie/asto/issues/309

[2021-07-06 23:27] mbao01 commented on #260
@php-coder thank you! This issue has been fixed in pdd [issue #156](https://github.com/yegor256/pdd/issues/156). This update will be coming soon to 0pdd once released on pdd. Pending that, please keep this issue open.

I will get back to you on the changelog.

[2021-07-11 10:16] firedev opened #301 "No issues created in github"
I have added @0pdd to my repository with `Triage` role, I believe it should be sufficient? And it created a list of todos on its end in https://www.0pdd.com/p

However none of the actual issues was created and there are no errors in the mail.

Please advise.

![image](https://user-images.githubusercontent.com/115612/125191204-f1abf300-e249-11eb-930c-621b97f95a6d.png)

[2021-07-13 02:45] firedev commented on #299
How can I remove my membership? Want to try restart @0pdd as it is not creating issues in github despite parsing TODOs successfully  and not sending any error reports #301

[2021-07-13 16:24] firedev opened #304 "undefined method `zero?' for nil:NilClass"
Related to #304

After kicking @0pdd from a project and adding back again it seem to try adding todos, but failing. `pdd` passes locally and produces the XML.

I wasn't able to retrieve PDD puzzles from the code base and submit them to GitHub. If you think that it's a bug on our side, please submit it to yegor256/0pdd:

```undefined method `zero?' for nil:NilClass```

Please, copy and paste this s

[2021-07-14 08:17] AlvarezNunez opened #305 "Problem with 0pdd"
I try to use 0pdd, add "@todo" to my source-code and is nothing (new issue didn't add), just info:

set -x && set -e && set -o pipefail && cd /tmp/0pdd20210505-12-189bsmu/AlvarezNunez/test2 && pdd -v -f /tmp/20210714-28127-194kvp4 [1]: + set -e + set -o pipefail + cd /tmp/0pdd20210505-12-189bsmu/AlvarezNunez/test2 + pdd -v -f /tmp/20210714-28127-194kvp4 My version is 0.20.6 Ruby version is...

sta

[2021-07-16 09:41] firedev commented on #305
@AlvarezNunez

[2021-07-29 18:33] baudoliver7 opened #306 "Problem with pdd while trying to close issue of removed puzzle"
From Minlessika/saas#85

PDD wasn't able to retrieve PDD puzzles from the code base and submit them to GitHub
execution expired

Please, copy and paste this stack trace to GitHub:

Faraday::ConnectionFailed
execution expired
/app/vendor/ruby-2.6.0/lib/ruby/2.6.0/net/http.rb:947:in `initialize'
/app/vendor/ruby-2.6.0/lib/ruby/2.6.0/net/http.rb:947:in `open'
/app/vendor/ruby-2.6.0/lib/ruby/2.6.0/net

[2021-08-25 06:22] yegor256 commented on #304
@mbao01 can you take a look at this?

[2021-10-03 18:01] rocket-3 commented on #281
@yegor256 The same error occurs now.

[2021-10-08 06:27] rocket-3 opened #308 "0pdd doesn't accept invitation as collaborator in repo."
I've tried to re-invite @0pdd serveral times to [my repo](https://github.com/rocket-3/dbmss/) already with a day interval.

And still, I see the same picture:
![image](https://user-images.githubusercontent.com/47713503/136508117-3e78e8b9-b026-4931-a19b-04f97ab18d13.png)

Without this, 0pdd can't add labels to my issues and [produces errors](https://github.com/rocket-3/dbmss/issues/47) about lack o

[2021-10-19 16:12] php-coder opened #310 "0pdd.com: SSL certificate is expired"
Please, update SSL certificate on https://0pdd.com as it's expired 16 days ago.

@yegor256 PTAL as it's important

[2021-10-23 18:52] #310 closed, assigned to nobody

[2021-11-08 15:44] twogb commented on #308
The same issue with my repo... :(

[2021-11-08 15:45] twogb commented on #308
@yegor256, could you please check why 0crat doesn't accept the invitation ? :(

[2021-11-14 04:23] yegor256 commented on #308
@twogb it's hard to tell what's going on without looking at the logs. I suggest we add a new page to 0pdd server: `0pdd.com/invitation?repo=foo/bar`. This page should show the status of the invitation to `foo/bar`.

[2021-11-14 04:24] yegor256 commented on #308
@mbao01 could you please implement this?

[2021-11-15 06:24] AntistasII commented on #260
@yegor256 @mbao01 has 0pdd been updated? This issue is still relevant?

[2021-11-19 14:16] mbao01 opened #311 "Create configuration option to limit the number of issues created from generated puzzles"
I want an option to limit the number of issues created in my repository by 0pdd.

**Current behaviour**
0pdd creates issues for all puzzle found.

**Expected behaviour**
0pdd creates a maximum of `x` issues from all puzzles found.

[2021-11-19 14:18] mbao01 opened #312 "0pdd support for Gitlab"
- Create gitlab hook

[2021-11-21 17:11] mbao01 opened #313 "Support any default branch name"
Currently 0pdd only supports `master` as the default branch. Allow 0pdd to support dynamic default branch on a repository basis.

[2021-11-26 13:13] AntistasII commented on #313
@mbao01 @yegor256 Should be this issue should be closed as Pr is merged?

[2021-11-26 16:39] yegor256 commented on #313
@AntistasII  not necessarily. A best practice is: ticket creator always closes, nobody else.

[2021-12-01 06:00] yegor256 opened #317 "broken release"
Let's release again

[2021-12-01 06:00] yegor256 commented on #317
@rultor release, tag is `0.30.24`

[2021-12-01 06:02] rultor commented on #317
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25288-983315198)

[2021-12-01 06:07] rultor commented on #317
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25288-983315198) (spent 5min)

[code]

[2021-12-01 08:59] yegor256 commented on #317
@rultor release, tag is `0.30.24`

[2021-12-01 09:00] rultor commented on #317
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25288-983427026)

[2021-12-01 09:10] yegor256 commented on #317
@rultor release, tag is `0.30.24`

[2021-12-01 09:11] rultor commented on #317
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25288-983436802)

[2021-12-01 09:16] rultor commented on #317
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25288-983436802) (spent 5min)

[code]

--- TEMPLATE END ----------------------------------------------------------------

Unfortunately, an unexpected error occurred, and Bundler cannot continue.

First, try this link to see if there are any existing issue reports for this error:
https://github.com/rubygems/rubygems

[2021-12-01 09:27] yegor256 commented on #317
@rultor release, tag is `0.30.24`

[2021-12-01 09:28] rultor commented on #317
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25288-983450965)

[2021-12-01 09:38] rultor commented on #317
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25288-983450965) (took me 9min)

[2021-12-01 17:22] #317 closed

[2021-12-15 11:15] mbao01 opened #318 "Integrate ML model for task prioritisation"

[2021-12-15 11:16] #313 closed

[2022-01-14 05:00] dgroup opened #319 "fatal: ambiguous argument 'origin/master': unknown revision or path not in the working tree"
**Updated:**
Could you please remove the cache for my project in `0pdd`
https://github.com/yegor256/0pdd/blob/master/objects/git_repo.rb#L41
https://github.com/yegor256/0pdd/blob/master/objects/git_repo.rb#L74
?
Once I'll do a new commit then the project will be initiated from the beginning.
In case I'll get duplicated tasks I can close them...

**Original request**:
Due to an issue with rultor (h

[2022-01-14 07:05] yegor256 commented on #319
@mbao01 can you please help?

[2022-01-15 10:16] mbao01 commented on #319
@dgroup I made a fix for the issue so no one else encounters it. I will look into deleting your cache and let you know.

Also, your original request was resolved in this [PR](https://github.com/yegor256/0pdd/pull/314) and will make it out in our next release.
cc: @yegor256

[2022-01-16 20:56] mbao01 opened #321 "Update Copyright data on all files to 2022"

[2022-01-18 07:01] #321 closed

[2022-01-22 16:04] dgroup commented on #319
Hi @mbao01 ,
Is there any news about cache reset?

Here is the commit for today https://github.com/dgroup/g2w/commit/d363ee058886bd40038ba4aff6b47aea7d6fa0c3, the same issue

[2022-01-30 11:59] php-coder commented on #304
The same here: https://github.com/php-coder/mystamps/commit/4c8b5fa8dd72cbb249a4ddb08d09fc6ec4676685#commitcomment-65178562
I did no changes with @0pdd

[2022-01-30 14:33] dgroup commented on #319
@yegor256 @mbao01 as I understood the permanent fix is available here https://github.com/yegor256/0pdd/pull/314.
Could you please release the latest version of 0pdd?

[2022-01-31 18:44] yegor256 commented on #319
@rultor release, tag is `0.30.25`

[2022-01-31 18:45] rultor commented on #319
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25492-1026093015)

[2022-01-31 18:55] rultor commented on #319
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25492-1026093015) (took me 9min)

[2022-01-31 18:56] yegor256 commented on #319
@mbao01 released

[2022-01-31 18:59] yegor256 commented on #304
@php-coder just released a new version. maybe the problem is fixed? @mbao01

[2022-01-31 19:31] yegor256 commented on #319
@rultor release, tag is `0.30.26`

[2022-01-31 19:32] rultor commented on #319
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25492-1026132937)

[2022-01-31 19:42] rultor commented on #319
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25492-1026132937) (took me 9min)

[2022-02-02 02:53] dgroup commented on #319
@yegor256 , @mbao01 issue is resolved in `0.30.26`.
Thanks a lot for your help!

[2022-02-02 02:53] #319 closed

[2022-03-13 19:48] notsu opened #325 "Enforce accept invitation doesn't work `https://0pdd.com/invitation?repo=`"
After I invited the `0pdd` user to my private repo and expected to see the bot accept an invitation within 30 minutes but it didn't do that.

So, I tried to enforce to accept the invitation by opening https://0pdd.com/invitation?repo={org}/{repo} but this URL returns `ERR_CONNECTION_TIMED_OUT`.

Would you please give me a suggestion on how to solve it or have any workaround to fix it?

<img width=

[2022-03-16 06:16] mbao01 commented on #325
@notsu Hi 👋🏾 As I have confirmed, the root domain (`0pdd.com`) is not redirected to `www.0pdd.com`. While I look into the issue, please use `https://www.0pdd.com/invitation?repo={org}/{repo}`. Thanks

[2022-03-16 06:21] notsu commented on #325
It works! Thank you a lot. 🙇

[2022-03-16 06:21] #325 closed

[2022-03-16 07:16] mbao01 commented on #293
@raboley Hi 👋🏾 this issue (also reported here - #313) has been fixed and deployed. Please can you close this issue if all looks good? Thanks.

[2022-03-16 16:52] notsu opened #327 "Get an error `fatal: Needed a single revision invalid upstream 'origin/main'`"
I'm not sure what's the root cause of this error. I already checked the format of `TODO:` and they're correct.

My error is similar to https://github.com/yegor256/0pdd/issues/319 but I didn't change the branch name before because it's a new repository.

Here is the error:
[code]

[2022-03-16 17:55] #293 closed

[2022-03-29 04:54] mbao01 commented on #260
@AntistasII yes it has been updated)

[2022-03-29 11:41] #311 closed

[2022-04-15 10:28] Doldrums opened #333 "[Gitlab Support] Stage 1 - Rafactoring"
Short checklist:

✅ Decouple GitHub from class implementations
✅ Create "abstract" class (like a blueprint/interface) to integrate new VCS into project.

[2022-04-15 10:32] Doldrums commented on #333
https://github.com/yegor256/0pdd/pull/330

[2022-04-15 10:33] Doldrums opened #334 "[Gitlab Support] Stage 2 - Helper classes"
Short checklist:

✅ Create GitHub client and helper classes
✅ Test GitHub client and helper classes
✅ Live test GitHub implementation and should work as previously did
✅ Update application unit tests for refactor and Github integration
✅ Create Gitlab client and helper classes
✅ Test Gitlab client and helper classes
✅ Live test Gitlab implementation

[2022-04-15 10:34] Doldrums commented on #334
https://github.com/yegor256/0pdd/pull/331

[2022-04-15 10:35] Doldrums opened #335 "[Gitlab Support] Stage 3 - DB support & Tests"
Short checklist:

✅ Add application unit tests for JIRA integration
✅ Handle errors appropriately
✅ Live test application for Gitlab and Github

[2022-04-15 10:35] Doldrums commented on #335
https://github.com/yegor256/0pdd/pull/332

[2022-05-12 20:43] Doldrums opened #339 "0pdd support for Jira"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2022-05-17 08:27] yegor256 opened #340 "did not find expected key while parsing"
[code]

[2022-05-17 08:27] yegor256 commented on #340
@mbao01 can you please take a look?

[2022-05-24 02:40] 0pdd opened #349 "0pdd.rb:432: Make this vcs independent. Move this logic..."
The puzzle `41-65582b0c` from #41 has to be resolved:

https://github.com/yegor256/0pdd/blob/76f149578306edcaa8362dcc9891a0adbebdc236/0pdd.rb#L432-L432

The puzzle was created by Ayomide Bakare on 23-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2022-05-24 02:41] 0pdd commented on #41
@yegor256 2 puzzles [#349](https://github.com/yegor256/0pdd/issues/349), [#47](https://github.com/yegor256/0pdd/issues/47) are still not solved; solved: [#48](https://github.com/yegor256/0pdd/issues/48).

[2022-05-27 13:15] 0pdd opened #351 "github.rb:56-58: Currently, if 0pdd fails to close an..."
The puzzle `312-e81466ef` from #312 has to be resolved:

https://github.com/yegor256/0pdd/blob/a0d77a96d82f187537bdb57d0e71683614cf630b/objects/vcs/github.rb#L56-L58

The puzzle was created by Ayomide Bakare on 25-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the tex

[2022-05-27 13:15] 0pdd commented on #312
@mbao01 the puzzle [#351](https://github.com/yegor256/0pdd/issues/351) is still not solved.

[2022-05-30 16:12] 0pdd commented on #349
The puzzle `41-65582b0c` has disappeared from the source code, that's why I closed this issue.

[2022-05-30 16:12] #349 closed

[2022-05-30 16:12] 0pdd opened #353 "0pdd.rb:383-384: Handle the use case where projects from..."
The puzzle `312-3e51e119` from #312 has to be resolved:

https://github.com/yegor256/0pdd/blob/e05e10c2f9a8a71ddf752607734de8a14daed465/0pdd.rb#L383-L384

The puzzle was created by Ayomide Bakare on 30-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puz

[2022-05-30 16:12] 0pdd opened #354 "log.rb:33-34: Be sure to handle the use case where..."
The puzzle `312-68d60ea6` from #312 has to be resolved:

https://github.com/yegor256/0pdd/blob/e05e10c2f9a8a71ddf752607734de8a14daed465/objects/log.rb#L33-L34

The puzzle was created by Ayomide Bakare on 30-May-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of th

[2022-05-30 16:12] 0pdd commented on #41
@yegor256 the puzzle [#47](https://github.com/yegor256/0pdd/issues/47) is still not solved; solved: [#349](https://github.com/yegor256/0pdd/issues/349), [#48](https://github.com/yegor256/0pdd/issues/48).

[2022-05-30 16:12] 0pdd commented on #312
@mbao01 3 puzzles [#351](https://github.com/yegor256/0pdd/issues/351), [#353](https://github.com/yegor256/0pdd/issues/353), [#354](https://github.com/yegor256/0pdd/issues/354) are still not solved.

[2022-05-31 12:00] 0pdd commented on #353
The puzzle `312-3e51e119` has disappeared from the source code, that's why I closed this issue.

[2022-05-31 12:00] #353 closed

[2022-05-31 12:00] 0pdd commented on #312
@mbao01 2 puzzles [#351](https://github.com/yegor256/0pdd/issues/351), [#354](https://github.com/yegor256/0pdd/issues/354) are still not solved; solved: [#353](https://github.com/yegor256/0pdd/issues/353).

[2022-06-10 12:46] 0pdd opened #360 "jira.rb:35: rewrite @is_valid = {} as it suppose to be..."
The puzzle `378-7f330a4d` from #378 has to be resolved:

https://github.com/yegor256/0pdd/blob/4870af727cd767b60d7cbfe5368fc91a35b6a88e/objects/vcs/jira.rb#L35-L35

The puzzle was created by Arina Cheverda on 07-Jun-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text

[2022-06-25 01:57] mbao01 opened #361 "Add tag to puzzles to indicate they were ranked/prioritized by the ML model."

[2022-06-27 05:45] yegor256 opened #362 "release new version with ML inside"
Let's release it

[2022-07-04 04:31] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 04:33] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173332244)

[2022-07-04 04:37] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26139-1173332244) (spent 3min)

[code]

[2022-07-04 04:38] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 04:41] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173336082)

[2022-07-04 04:45] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26139-1173336082) (spent 4min)

[code]

[2022-07-04 11:43] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 11:43] 0pdd commented on #360
The puzzle `378-7f330a4d` has disappeared from the source code, that's why I closed this issue.

[2022-07-04 11:43] #360 closed

[2022-07-04 11:44] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173720512)

[2022-07-04 11:46] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26139-1173720512) (spent 2min)

[code]

[2022-07-04 11:51] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 11:52] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173727360)

[2022-07-04 11:54] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26139-1173727360) (spent 2min)

[code]

[2022-07-04 11:56] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 11:56] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173731179)

[2022-07-04 11:58] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26139-1173731179) (spent 2min)

[code]

[2022-07-04 12:14] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 12:15] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173749157)

[2022-07-04 12:19] rultor commented on #362
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26139-1173749157) (spent 4min)

[code]

[2022-07-04 12:24] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 12:25] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173758721)

[2022-07-04 13:55] yegor256 commented on #362
@rultor release, tag is `0.31.0`

[2022-07-04 13:56] rultor commented on #362
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26139-1173851272)

[2022-07-04 14:01] 0pdd opened #364 "0pdd.rb:215-217: Let's add GZIP compression to this..."
The puzzle `41-ab139346` from #41 has to be resolved:

https://github.com/yegor256/0pdd/blob/e47c2e3facbc24e2663b5c62125a34ccf0319e43/0pdd.rb#L215-L217

The puzzle was created by @yegor256 on 04-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2022-07-04 14:01] 0pdd commented on #41
@yegor256 the puzzle [#364](https://github.com/yegor256/0pdd/issues/364) is still not solved.

[2022-07-04 14:01] 0pdd commented on #312
@mbao01 2 puzzles [#unknown](), [#unknown]() are still not solved.

[2022-07-04 14:02] rultor commented on #362
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26139-1173851272) (took me 5min)

[2022-07-04 15:45] #362 closed

[2022-07-09 12:09] php-coder opened #366 "[critical] 0pdd created 13 duplicates of the issues that were already created some years ago"
I don't know what has happened, perhaps, the algorithm has changed but today 0pdd has created 13 duplicates for already existing issues.

Examples: https://github.com/php-coder/mystamps/issues/created_by/0pdd all the issues started from https://github.com/php-coder/mystamps/issues/1572 and ended at https://github.com/php-coder/mystamps/issues/1584 are duplicates.

[2022-07-09 14:46] php-coder commented on #366
At least one backward-incompatible change is found: https://github.com/cqfn/pdd/issues/163 That's made me frustrated :-(

[2022-07-11 04:29] php-coder opened #367 "[major] Badge with statistics is broken and shows 0 alive, 0 total"
The page with repo stats (https://www.0pdd.com/p?name=php-coder/mystamps) shows "0 alive, 0 total" and a badge also shows this data.

[2022-07-11 11:12] yegor256 opened #368 "pdd 0.21.1"

[2022-07-11 11:16] yegor256 commented on #368
@rultor release, tag is `0.31.2`

[2022-07-11 11:17] rultor commented on #368
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26194-1180268055)

[2022-07-11 11:22] yegor256 commented on #367
@mbao01 can you please help? It's urgent, it seems

[2022-07-11 11:23] rultor commented on #368
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26194-1180268055) (took me 5min)

[2022-07-11 11:24] yegor256 commented on #366
@php-coder this should be the fix: https://github.com/cqfn/pdd/pull/208 We will release now, at https://github.com/yegor256/0pdd/issues/368

[2022-07-12 09:40] yegor256 commented on #366
@rultor release, tag is `0.31.3`

[2022-07-12 09:47] rultor commented on #366
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26201-1181547429) (took me 5min)

[2022-07-12 09:51] yegor256 commented on #366
@php-coder should be fixed, can you please check?

[2022-07-13 08:40] php-coder commented on #366
@yegor256 How I can test it?

[2022-07-13 09:30] yegor256 commented on #366
@php-coder just push something to the master branch

[2022-07-15 14:01] php-coder commented on #366
At least there is no new issues have been created :) Closing.

[2022-07-15 14:01] #366 closed

[2022-07-16 04:11] yegor256 opened #369 "'unknown' unsolved puzzle"
Take a look at this message: https://github.com/zerocracy/farm/issues/575#issuecomment-1185942843

Let's fix this and make sure we don't say 'unknown'

[2022-07-16 04:11] yegor256 commented on #369
@mbao01 please help

[2022-07-22 03:56] yegor256 opened #371 "all projects have clean history in their XML files"
Check this one for example: https://www.0pdd.com/p?name=yegor256/cactoos

Moreover, very surprising message over there about v0.0.0 and the date of update.

[2022-07-25 20:13] yegor256 commented on #371
@rultor release, tag is `0.31.4`

[2022-07-25 20:14] rultor commented on #371
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26331-1194571385)

[2022-07-25 20:18] rultor commented on #371
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26331-1194571385) (took me 3min)

[2022-07-25 20:27] yegor256 commented on #371
@mbao01 looks good now, thanks!

[2022-07-25 20:27] #371 closed

[2022-07-27 05:56] yegor256 opened #373 "0pdd doesn't give any reaction on pings"
Check this out: https://github.com/yegor256/cactoos/issues/1566 The puzzle is gone from the code, but 0pdd doesn't react on webhooks. It responses with "Thanks yegor256/cactoos" but doesn't update the XML inside and doesn't close the ticket.

[2022-07-27 05:56] yegor256 commented on #373
@mbao01 please, help

[2022-07-31 05:58] yegor256 commented on #373
@mbao01 I reverted back the logic inside `puzzles.rb`. It seems that there was some code duplication, which was hard to understand. Let's reimplement it and submit a pull request again.

[2022-08-01 14:36] yegor256 opened #374 "pdd 0.21.3"
Let's use it

[2022-08-01 14:39] yegor256 commented on #374
@rultor release, tag is `0.31.5`

[2022-08-01 14:40] rultor commented on #374
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26404-1201293843)

[2022-08-01 14:44] rultor commented on #374
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26404-1201293843) (took me 3min)

[2022-08-01 14:50] #374 closed

[2022-08-01 15:07] 0crat commented on #374
Job `gh:yegor256/0pdd#374` is not assigned, can't get performer

[2022-08-28 06:05] #373 closed

[2022-08-28 06:05] yegor256 opened #376 "why png logo instead of svg?"

[2022-08-28 06:12] yegor256 commented on #376
@rultor release, tag is `0.31.6`

[2022-08-28 06:13] rultor commented on #376
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26614-1229384797)

[2022-08-28 06:18] rultor commented on #376
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26614-1229384797) (took me 4min)

[2022-08-28 06:19] #376 closed

[2022-08-28 06:22] 0crat commented on #373
Job `gh:yegor256/0pdd#373` is not assigned, can't get performer

[2022-08-28 06:44] 0crat commented on #376
Job `gh:yegor256/0pdd#376` is not assigned, can't get performer

[2022-09-05 02:51] php-coder opened #379 "[regression] A couple of issues have been closed while the puzzles are still in place"
The following issues have been mistakenly closed by @0pdd while the puzzles are still in place:
- https://github.com/php-coder/mystamps/issues/1138#issuecomment-1236044206
- https://github.com/php-coder/mystamps/issues/1450#issuecomment-1236044240
- https://github.com/php-coder/mystamps/issues/1074#issuecomment-1236044222

Here are these comments:
[code]

It seems like a regression in pdd but coul

[2022-09-05 02:53] php-coder commented on #367
It's working now: `207 alive, 317 total.` and badge shows `99+/99+`

[2022-09-05 02:53] #367 closed

[2022-09-05 02:59] php-coder commented on #379
This might be related to #366 as 3 closed issues had duplicates that were created because of the bug.

[2022-09-05 03:09] 0crat commented on #367
Job `gh:yegor256/0pdd#367` is not assigned, can't get performer

[2022-09-10 04:46] 0crat commented on #203
@yegor256[/z](https://www.0crat.com/u/yegor256) I see that you unassigned this issue; the order is still assigned to @yegor256[/z](https://www.0crat.com/u/yegor256) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2022-09-15 11:35] kerelape opened #380 "0pdd does not accept the inventation"
this is the repository: https://github.com/intechconst/intechconst.ru

The inventetion has been pending for 3 hours by now and the link in README doesn't open at all (I did replace the placeholder with `intechconst/intechconst.ru`).

[2022-09-29 04:53] php-coder commented on #380
Any updates on this? I have the same issue with `php-coder/query2app` repository.

CC @yegor256

[2022-09-29 06:04] yegor256 commented on #380
@kerelape did you invite 0pdd user to the repository or to the organization? If the latter, it won't work, since GitHub API doesn't allow us to accept such invitations automatically :(

[2022-09-29 16:45] kerelape commented on #380
@yegor256 repository

[2022-09-30 03:38] php-coder commented on #380
The same here. Invitation is still in pending state.

[2022-10-06 02:25] php-coder commented on #380
@yegor256 ping

As an invitation is still pending, it seems like 0pdd is unusable for new projects/users :-(

[2022-10-06 05:18] yegor256 commented on #380
@php-coder I'm on it

[2022-10-06 05:18] renovate[bot] opened #383 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency com.jcabi:jcabi-dynamodb-maven-plugin to v0.10.1
 - [ ] Update dependency mocha to v1.15.0

[2022-10-06 06:05] #47 closed

[2022-10-06 06:05] 0pdd commented on #41
@yegor256 all 3 puzzles are solved here: [#349](https://github.com/yegor256/0pdd/issues/349), [#47](https://github.com/yegor256/0pdd/issues/47), [#48](https://github.com/yegor256/0pdd/issues/48).

[2022-10-06 06:23] 0crat commented on #47
@dennis00010011b[/z](https://www.0crat.com/u/dennis00010011b) please review this job completed by @pdacostaporto[/z](https://www.0crat.com/u/pdacostaporto), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2022-10-06 06:29] #234 closed

[2022-10-06 06:29] 0pdd opened #386 "test_diff_complicated.rb:8-11: Add tests for more..."
The puzzle `234-12f515de` from #234 has to be resolved:

https://github.com/yegor256/0pdd/blob/ca1233450884880eefce05656960a692b451430f/test/test_diff_complicated.rb#L8-L11

The puzzle was created by @yegor256 on 06-Oct-22.

Estimate: 15 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2022-10-06 06:29] 0pdd commented on #234
@php-coder the puzzle [#386](https://github.com/yegor256/0pdd/issues/386) is still not solved.

[2022-10-06 06:34] rultor commented on #380
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27385-1269411016)

[2022-10-06 06:39] rultor commented on #380
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27385-1269411016) (took me 4min)

[2022-10-06 06:51] #380 closed

[2022-10-06 08:35] 0crat commented on #380
Job `gh:yegor256/0pdd#380` is not assigned, can't get performer

[2022-10-10 02:57] php-coder commented on #380
@yegor256 Thank you!

[2022-10-13 05:03] php-coder opened #395 "0pdd doesn't process repository"
I'm trying to make 0pdd work for https://github.com/php-coder/query2app and after I pushed new code nothing has happened. Here is my settings:

1) 0pdd is added as a collaborator:

<img width="778" alt="Снимок экрана 2022-10-13 в 12 00 26" src="https://user-images.githubusercontent.com/87088/195505723-35221206-7d5a-4a9d-972a-fc261eba0d23.png">

2) github hook is added:

<img width="772" alt="Снимо

[2022-10-14 04:21] php-coder commented on #395
@yegor256 I'm sorry for bothering you, but could you, please, take a look?

[2022-10-14 07:56] yegor256 commented on #395
@yegor256 I'll check it tonight

[2022-10-16 16:51] php-coder commented on #395
@yegor256 gently ping :)

[2022-10-17 06:33] Mar0xy commented on #395
I am actually currently having the same issue and was wondering if I was the only one luckily I saw this. Guess we need to wait.

[2022-10-17 17:54] yegor256 commented on #395
@php-coder if I clone your repo, I find no puzzles:

[code]

Do you see any?

[2022-10-27 13:08] php-coder commented on #395
@yegor256 Thank you for the response!

Yes, they are there:

[code]

Example:
https://github.com/php-coder/query2app/blob/27ffed4faa098b8ba006c51b0a3fc8db5552eb7d/src/cli.js#L16

Perhaps, it's bug in pdd then..

[2022-10-27 15:55] yegor256 commented on #395
@php-coder yes, this seems to be a bug in PDD then, I'll transfer

[2022-10-27 15:55] yegor256 commented on #395
@php-coder I can't transfer... can you please submit a new one to [cqfn/pdd](https://github.com/cqfn/pdd)

[2022-10-27 16:12] 0crat commented on #395
Job `gh:yegor256/0pdd#395` is not assigned, can't get performer

[2022-10-27 16:19] php-coder commented on #395
@yegor256 Ok, I've submitted https://github.com/cqfn/pdd/issues/214

[2022-11-15 02:56] php-coder commented on #379
Ping! The bug is still here! It have just created yet another one issue for my comment -- php-coder/mystamps#1594

[2022-11-15 03:00] php-coder commented on #379
@yegor256 Could you, please, look at it?

0pdd become less useful because of that and I've started to think to get rid of it because I only see regressions and I don't see that they are fixed quickly (or at all).

:-(

[2022-11-15 03:05] php-coder commented on #379
Ok, this is another issue actually -- pdd created a duplicate because it has a bug -- it takes 3 lines into account while it should use only the first one.

[2022-11-15 05:55] yegor256 commented on #379
@php-coder can you please submit a ticket into `cqfn/pdd` repository about this problem: "it takes 3 lines into account while it should use only the first one."