[2016-12-08 15:05] yegor256 opened #1 "first version"
Let's implement it and deploy

[2016-12-09 07:37] amihaiemil opened #2 "A couple of ideas"
Since this is at the beginning of its life, I assume this is the right moment to suggest some ideas.

1) Instead of webhooks, you could spin a checker somewhere, that would read notifications and post them to the /hook endpoint? I wrote such an EJB for a project of mine and decided to pull it out and make it reusable. [Here](https://github.com/opencharles/mention-notifications-ejb) it is.
The user

[2016-12-10 11:42] yegor256 commented on #2
@amihaiemil good questions, but too many for one ticket. Can you please submit separate tickets for each questions? Thanks!

[2016-12-10 11:43] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 11:43] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266202337)

[2016-12-10 11:47] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10213-266202337) (spent 4min)

[code]

[2016-12-10 11:58] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 11:59] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266203056)

[2016-12-10 12:01] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10213-266203056) (spent 1min)

[code]

[2016-12-10 12:23] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 12:23] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266204131)

[2016-12-10 12:26] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10213-266204131) (spent 3min)

[code]

[2016-12-10 12:30] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 12:30] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266204523)

[2016-12-10 12:33] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10213-266204523) (spent 3min)

[code]

[2016-12-10 12:46] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 12:47] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266205473)

[2016-12-10 12:51] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10213-266205473) (spent 4min)

[code]

[2016-12-10 13:07] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 13:08] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266206690)

[2016-12-10 13:11] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10213-266206690) (spent 3min)

[code]

[2016-12-10 13:13] yegor256 commented on #1
@rultor release, tag is `0.1`

[2016-12-10 13:14] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10213-266207124)

[2016-12-10 13:18] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10213-266207124) (took me 4min)

[2016-12-10 13:27] #1 closed

[2016-12-10 13:27] yegor256 opened #3 "collect puzzles to XML and deploy to GitHub"
Let's collect them properly and then deploy to GitHub

[2016-12-10 15:03] amihaiemil opened #4 "Alternative to webhooks"
Instead of having the users configure webhooks on their repos, you could have a running checker, that would check for notifications like comment mentions and ping the bot at /hook endpoint.

I wrote such a checker so [it](https://www.github.com/opencharles/mention-notifications-ejb), or something similar, could be used.

Instead of checking the whole repo at each push event, the bot would check it

[2016-12-10 16:30] amihaiemil opened #5 "Pull requests instead of write access"
It would be better, I think, if the bot made PRs instead of asking for write permissions.

Moreover, it could scan the root folder of the repo for ``.rultor.yml``, check if it has commandment rights and if so, it should ask rultor to merge the pr. This way also the build is run and it assures that no mistake was made while removing puzzles.

I think the integration with rultor is quite elegant. An

[2016-12-10 16:31] amihaiemil commented on #2
@yegor256 I opened #4 and #5 :)

[2016-12-10 16:31] #2 closed

[2016-12-12 20:24] 0pdd opened #6 "3-04ce612e: :44-46"
Let's implement this entry point, where we will render all puzzles we have for a particular project. Let's not forget about security too.

[2016-12-12 20:47] 0pdd opened #7 "3-04ce612e: :44-46"
Let's implement this entry point, where we will render all puzzles we have for a particular project. Let's not forget about security too.

[2016-12-12 20:47] #6 closed

[2016-12-12 20:47] #7 closed

[2016-12-12 20:58] 0pdd opened #8 "0pdd.rb: 44-46: Let's implement this entry point, where ...:"
Puzzle 3-04ce612e in 0pdd.rb         has to be resolved: Let's implement this entry point, where we will render all puzzles we have for a particular project. Let's not forget about security too..         The puzzle was created by @Yegor Bugayenko on         12-Dec-16

        If you have any technical questions, don't ask me,         submit new tickets instead. The task will be "done" when

[2016-12-12 21:01] #8 closed

[2016-12-12 21:11] 0pdd opened #9 "0pdd.rb: 44-46: Let's implement this entry point, where ...:"
Puzzle 3-04ce612e in 0pdd.rb         has to be resolved: Let's implement this entry point, where we will render all puzzles we have for a particular project. Let's not forget about security too..         The puzzle was created by @Yegor Bugayenko on         12-Dec-16

        If you have any technical questions, don't ask me,         submit new tickets instead. The task will be "done" when

[2016-12-12 21:11] #9 closed

[2016-12-12 21:12] 0pdd opened #10 "0pdd.rb:44-46: Let's implement this entry point, where ...:"
Puzzle `3-04ce612e` in `0pdd.rb` has to be resolved: Let's implement this entry point, where we will render all puzzles we have for a particular project. Let's not forget about security too.. The puzzle was created by Yegor Bugayenko on 12-Dec-16.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the pu

[2016-12-12 21:13] yegor256 commented on #3
@rultor release, tag is `0.2`

[2016-12-12 21:14] rultor commented on #3
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10235-266554420)

[2016-12-12 21:17] rultor commented on #3
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10235-266554420) (took me 3min)

[2016-12-13 08:32] #3 closed

[2016-12-13 08:44] #10 closed

[2016-12-13 09:52] 0pdd opened #11 "puzzles.rb:35-38: It's not really effective to always save..."
The puzzle `3-09c2d743` in `objects/puzzles.rb` has to be resolved: It's not really effective to always save the XML document back to storage, even when it was not really modified. Would be much better to check whether any modifications have been made and skip that SAVE() operation.. The puzzle was created by Yegor Bugayenko on 13-Dec-16.

If you have any technical questions, don't ask me, submit

[2016-12-13 10:01] 0pdd opened #12 "0pdd.rb:48-51: For some reason, at the moment of this P..."
The puzzle `3-5ec03020` in `0pdd.rb` (lines 48-51) has to be resolved: For some reason, at the moment of this PUSH event arrival the repository is not ready yet and we don't have the current version of it. Let's introduce some delay or some other method, so that we can wait until the repo is in proper state.. The puzzle was created by Yegor Bugayenko on 13-Dec-16.

Estimate: 20 minutes, Role: IMP.

[2016-12-13 10:01] 0pdd opened #13 "0pdd.rb:52-56: At the moment we're not thread-safe. If ..."
The puzzle `2-f47a3215` in `0pdd.rb` (lines 52-56) has to be resolved: At the moment we're not thread-safe. If two PUSH events arrive at the same time we will/may have troubles with concurrent modification of S3 objects and Git repository. Let's introduce some queing system, which will put all requests into a pipeline and proceed them one by one.. The puzzle was created by Yegor Bugayenko on 13-De

[2016-12-13 10:06] 0pdd opened #14 "github_tickets.rb:36-39: This mechanism of body abbreviation is r..."
The puzzle `3-9fa46796` in `objects/github_tickets.rb` (lines 36-39) has to be resolved: This mechanism of body abbreviation is rather primitive and doesn't produce readable texts very often. Instead of cutting the text at the hard limit (40 chars) we have to cut it at the end of the word, staying closer to the limit..

The puzzle was created by Yegor Bugayenko on 13-Dec-16.

Estimate: 20 minutes,

[2016-12-13 12:08] 0pdd commented on #13
The puzzle 2-f47a3215 has disappeared from the source code, that's why I closed this issue.

[2016-12-13 12:08] #13 closed

[2016-12-13 12:26] 0pdd commented on #12
The puzzle `3-5ec03020` has disappeared from the source code, that's why I closed this issue.

[2016-12-13 12:26] #12 closed

[2016-12-13 12:26] 0pdd opened #15 "job.rb:34-37: We may lose the moment of update and for..."
The puzzle `13-4c2685d4` in `objects/job.rb` (lines 34-37) has to be resolved: We may lose the moment of update and forget to create an issue or close it. For many reasons that may happen. No matter why, we have to do the second check once in a while and update GitHub issues. Maybe every hour or so.

The puzzle was created by Yegor Bugayenko on 13-Dec-16.

Estimate: 30 minutes, Role: IMP.

If you

[2016-12-13 12:38] 0pdd opened #16 "0pdd.rb:41-43: This feature is not implemented now and ..."
The puzzle `15-1dc72086` in `0pdd.rb` (lines 41-43) has to be resolved: This feature is not implemented now and it makes it very difficult to track the status of puzzles in a repo. Let's add this simple converter from XML to HTML (through XSLT).

The puzzle was created by Yegor Bugayenko on 13-Dec-16.

Estimate: 30 minutes, Role: IMP.

If you have any technical questions, don't ask me, submit new

[2016-12-13 12:46] 0pdd opened #17 "0pdd.rb:32-34: We don't have an SVG badge for GitHub, w..."
The puzzle `15-a1d6817e` in `0pdd.rb` (lines 32-34) has to be resolved: We don't have an SVG badge for GitHub, which will show how many puzzles we have at the moment in the repo. Let's create it, in SVG format (and maybe in PNG too).

The puzzle was created by Yegor Bugayenko on 13-Dec-16.

Estimate: 30 minutes, Role: IMP.

If you have any technical questions, don't ask me, submit new tickets inst

[2016-12-13 16:54] 0pdd commented on #16
The puzzle `15-1dc72086` has disappeared from the source code, that's why I closed this issue.

[2016-12-13 16:54] #16 closed

[2016-12-13 19:01] #17 closed

[2016-12-13 19:01] 0pdd commented on #17
The puzzle `15-a1d6817e` has disappeared from the source code, that's why I closed this issue.

[2016-12-13 19:15] yegor256 commented on #17
@rultor release, tag is `0.3`

[2016-12-13 19:16] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10245-266833357)

[2016-12-13 19:18] yegor256 commented on #5
@amihaiemil looks like I made a mistake in README. We don't really need write-access permissions, since @0pdd bot only submits issues and closes them.

[2016-12-13 19:19] yegor256 commented on #5
@amihaiemil see aad3155

[2016-12-13 19:20] rultor commented on #17
@0pdd @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10245-266833357) (spent 4min)

[code]

[2016-12-13 19:20] yegor256 commented on #4
@amihaiemil but we don't need issues or mentions. We have to check the source code when a new Git `push` arrives. When it happens, we check the source code and create new GitHub issues, if new puzzles are found. Try it out in your project, you will see how it works.

[2016-12-13 19:21] yegor256 commented on #17
@rultor release, tag is `0.3`

[2016-12-13 19:22] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10245-266834851)

[2016-12-13 19:25] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10245-266834851) (took me 3min)

[2016-12-13 20:01] yegor256 opened #18 "authentication for private repositories"
Let's introduce some authentication mechanism for private repositories

[2016-12-13 20:02] yegor256 opened #19 "notifications on new/closed puzzles"
Let's post notification messages to GitHub tickets when situation with puzzles is changed.

[2016-12-13 20:03] yegor256 opened #20 "chat bot"
Let's create a chat bot, which will respond to GitHub messages, with some status information about puzzles.

[2016-12-13 20:09] amihaiemil commented on #4
@yegor256 I understood the principle. This came as an alternative :)

[2016-12-13 20:09] #4 closed

[2016-12-13 20:10] amihaiemil commented on #5
@yegor256 sure, cool ^^

[2016-12-13 20:10] #5 closed

[2016-12-13 20:58] yegor256 opened #21 ".pdd config to email bugs"
Let's make it possible to configure `.0pdd.yml` file for email reports. When something goes wrong after the push we must be able to send a stacktrace to the owner of the repo. That's what `.0pdd.yml` will be used for:

[code]

[2016-12-13 21:48] 0pdd opened #22 "0pdd.rb:33-35: Page not found is not implemented. When ..."
The puzzle `3-41f7e700` in `0pdd.rb` (lines 33-35) has to be resolved: Page not found is not implemented. When I open a URL that doesn't exist I see a default sinatra "not found" page, which is annoying.

The puzzle was created by Yegor Bugayenko on 13-Dec-16.

Estimate: 15 minutes, Role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" w

[2016-12-13 22:02] 0pdd commented on #22
The puzzle `3-41f7e700` has disappeared from the source code, that's why I closed this issue.

[2016-12-13 22:02] #22 closed

[2016-12-13 22:21] yegor256 commented on #22
@rultor release, tag is `0.4`

[2016-12-13 22:22] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10248-266880727)

[2016-12-13 22:26] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10248-266880727) (took me 4min)

[2016-12-14 11:44] yegor256 opened #23 "repository renaming"
What will happen if repository is renamed? We will re-submit all tickets to a new one -- that would be a big disaster. Let's find a way to prevent that.

[2016-12-14 12:28] yegor256 opened #24 "three colors for the badge"
Let's make it red, orange or green, depending on the numbers it shows.

[2016-12-14 12:38] yegor256 opened #25 "add badge to the report page"
Let's put it there

[2016-12-14 12:50] yegor256 commented on #25
@rultor release, tag is `0.5`

[2016-12-14 12:51] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10257-267025974)

[2016-12-14 12:53] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10257-267025974) (took me 3min)

[2016-12-14 13:05] #25 closed

[2016-12-14 19:38] yegor256 opened #26 "emails on all submit/close operations"
Let's send emails when we submit new issues and close existing one, just for the sake of traceability.

[2016-12-14 19:51] yegor256 opened #27 "default labels"
Let's make it possible to configure default labels for all GitHub issues created by @0pdd. Somewhere in `.0pdd.yml` let's create a config section for it:

[code]

[2016-12-16 11:35] yegor256 opened #28 "coverage collection doesn't work"
Coveralls.io is configured, but the badge doesn't show anything. Let's fix.

[2016-12-16 14:08] yegor256 opened #29 "automatically accept repository invitations"
Let's accept them automatically, similar to how it was done in Rultor: https://github.com/yegor256/rultor/issues/1140

[2016-12-17 14:27] yegor256 commented on #29
Here: https://github.com/yegor256/rultor/commit/9c9feff1fbbeb2baaf8bfc0233e49ca9eb2913e3

[2016-12-20 12:14] yegor256 commented on #29
@Eugst can you try to fix this?

[2016-12-20 12:16] yegor256 commented on #26
@Eugst can you try to fix this?

[2016-12-22 08:32] yegor256 opened #30 "show total repositories count"
Let's render this total repo counter on the front page. We will have to go through all S3 objects in the bucket and count them. Will take a lot of time, so let's invent some caching mechanism. Maybe, let's use [stateful.co counter](http://www.yegor256.com/2014/05/18/cloud-autoincrement-counters.html) and increment it every time we create a new S3 object, which we've never seen before.

[2016-12-22 08:41] yegor256 opened #31 "notify users on new puzzles"
Let's make it possible to configure in `.0pdd.yml` the list of users who should get notifications when new puzzles are posted. We should just post an extra message to them, asking to pay attention to the ticket. Something like this:

[code]

These two people will get a notification message: @yegor256 and @davvd

[2016-12-22 10:03] 0pdd opened #32 "0pdd.rb:33-35: Let's create robots.txt entry point with..."
The puzzle `1-6a5fba58` in `0pdd.rb` (lines 33-35) has to be resolved: Let's create robots.txt entry point with an an empty content. Should be pretty easy. Maybe there will be some other static resources, let's add them too.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 15 minutes, role: IMP.

If you have any technical questions,

[2016-12-22 10:04] 0pdd opened #33 "0pdd.rb:33-35: Let's create robots.txt entry point with..."
The puzzle `1-6a5fba58` in `0pdd.rb` (lines 33-35) has to be resolved: Let's create robots.txt entry point with an an empty content. Should be pretty easy. Maybe there will be some other static resources, let's add them too.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 15 minutes, role: IMP.

If you have any technical questions,

[2016-12-22 10:31] #32 closed

[2016-12-22 10:31] #33 closed

[2016-12-22 10:40] 0pdd opened #34 "0pdd.rb:33-35: This puzzle is just a test. It has to pr..."
The puzzle `1-e4c85f20` in `0pdd.rb` (lines 33-35) has to be resolved: This puzzle is just a test. It has to prove that the system works. Right after that I will remove it and it has to be removed from Github.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me,

[2016-12-22 10:58] 0pdd commented on #34
The puzzle `1-e4c85f20` has disappeared from the source code, that's why I closed this issue.

[2016-12-22 10:58] #34 closed

[2016-12-22 11:00] 0pdd opened #35 "0pdd.rb:33-35: This puzzle is just a test. It has to pr..."
The puzzle `31-641f9fa5` in `0pdd.rb` (lines 33-35) has to be resolved: This puzzle is just a test. It has to prove that the system works just well. Right after that I will remove it and it has to be removed from Github.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don

[2016-12-22 11:00] #35 closed

[2016-12-22 11:00] 0pdd commented on #35
The puzzle `31-641f9fa5` has disappeared from the source code, that's why I closed this issue.

[2016-12-22 11:07] 0pdd opened #36 "0pdd.rb:23-26: This is just a test puzzle. This is just..."
The puzzle `31-3016794f` in `0pdd.rb` (lines 23-26) has to be resolved: This is just a test puzzle. This is just a test puzzle. This is just a test puzzle. This is just a test puzzle.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets instead

[2016-12-22 11:46] 0pdd commented on #36
The puzzle `31-3016794f` has disappeared from the source code, that's why I closed this issue.

[2016-12-22 11:46] #36 closed

[2016-12-22 13:40] 0pdd opened #37 "0pdd.rb:23-26: This is just a test puzzle 2. This is ju..."
The puzzle `31-30e0dcda` in `0pdd.rb` (lines 23-26) has to be resolved: This is just a test puzzle 2. This is just a test puzzle 2. This is just a test puzzle 2. This is just a test puzzle 2.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets

[2016-12-22 13:48] 0pdd commented on #37
The puzzle `31-30e0dcda` has disappeared from the source code, that's why I closed this issue.

[2016-12-22 13:48] #37 closed

[2016-12-22 13:49] 0pdd opened #38 "0pdd.rb:23-26: This is just a test puzzle 3. This is ju..."
The puzzle `31-bd057c47` in `0pdd.rb` (lines 23-26) has to be resolved: This is just a test puzzle 3. This is just a test puzzle 3. This is just a test puzzle 3. This is just a test puzzle 3.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 15 minutes, role: IMP.

If you have any technical questions, don't ask me, submit new tickets

[2016-12-22 13:49] 0pdd commented on #38
@yegor256 please pay attention to this new issue.

[2016-12-22 13:50] 0pdd commented on #38
The puzzle `31-bd057c47` has disappeared from the source code, that's why I closed this issue. CC: @yegor256

[2016-12-22 13:50] #38 closed

[2016-12-22 14:03] #31 closed

[2016-12-22 14:24] yegor256 commented on #31
@rultor release, tag is `0.6`

[2016-12-22 14:24] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10373-268809380)

[2016-12-22 14:24] rultor commented on #31
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10373-268809380) (spent 10s)

[code]

[2016-12-22 14:31] yegor256 commented on #31
@rultor release, tag is `0.6`

[2016-12-22 14:32] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10373-268810934)

[2016-12-22 14:35] rultor commented on #31
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10373-268810934) (took me 3min)

[2016-12-22 15:23] 0pdd opened #39 "0pdd.rb:23-25: We lose errors when they happen with the..."
The puzzle `1-1c2ee73f` in `0pdd.rb` (lines 23-25) has to be resolved: We lose errors when they happen with the source code. They just drop into the log and that's it. Instead, we must email them to the repository owner or a predefined email from .0pdd.yml

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 22-Dec-16.

Estimate: 30 minutes, role: IMP.

If y

[2016-12-22 15:23] 0pdd commented on #39
@yegor256 please pay attention to this new issue.

[2016-12-22 18:28] #39 closed

[2016-12-22 18:28] 0pdd commented on #39
The puzzle `1-1c2ee73f` has disappeared from the source code, that's why I closed this issue. //cc @yegor256

[2016-12-22 18:29] yegor256 commented on #39
@rultor release, tag is `0.7`

[2016-12-22 18:29] rultor commented on #39
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10376-268860757)

[2016-12-22 18:33] rultor commented on #39
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10376-268860757) (took me 4min)

[2016-12-23 00:28] carlosmiranda opened #40 "0pdd is creating duplicate tickets"
@0pdd is creating a lot of duplicate tickets in Xockets Layer project:

https://github.com/teamed/xockets-layer/issues

See screenshot here, where three puzzles were opened three times in the past 24 hours:

![image](https://cloud.githubusercontent.com/assets/1917892/21444567/c5e57a9e-c8e9-11e6-9372-97a13e1cc930.png)

[2016-12-23 08:30] yegor256 commented on #40
@carlosmiranda this is definitely a bug, thanks for reporting. It happens when 0pdd bot is creating an issue and then crashes for some reason and doesn't store the issue number in the XML. Then, later, when a new push happens to the master branch, a new issue is created again. This won't happen for a while, since the cause of that crash is gone, but may happen in the future. We have to find a solu

[2016-12-23 14:04] yegor256 opened #41 "submit puzzles if they are alive and don't have issues"
Let's submit them, if they are alive, but without issues.

[2016-12-31 10:43] Eugst commented on #26
@yegor256 Yes, I will.

[2017-01-04 21:20] #21 closed

[2017-01-04 21:21] yegor256 commented on #14
@vivekimsit can you help with this?

[2017-01-05 01:59] vivekimsit commented on #14
@yegor256 sure I will look into it.

[2017-01-05 07:23] yegor256 commented on #14
@vivekimsit thanks! let me know if any problems

[2017-01-05 08:02] vivekimsit commented on #14
@yegor256 sure, today I will try to get through the source code and then would think of some better solution.

[2017-01-05 08:17] amihaiemil commented on #40
@yegor256 Wouldn't it be safer to just check the opened issues via Github API? I mean, find a puzzle in the code, calculate its id, and then check if there are any issues opened by 0pdd which have that id.

[2017-01-07 04:17] yegor256 commented on #40
@amihaiemil this "check if there are any issues..." operation will take a lot of time and API calls if GitHub repository is rather big (thousands of issues)

[2017-01-13 12:27] vivekimsit commented on #14
@yegor256 I did some tinkering and wrote an algorithm which I think works fine. You can check the link:

https://repl.it/FFLW/3

wdyt?

[2017-01-17 16:29] yegor256 commented on #14
@vivekimsit looks good, please submit a pull request

[2017-01-19 14:34] amihaiemil opened #42 "Doesn't seem to work for a certain repo"
This is the repo: https://www.github.com/opencharles/charles-rest

I push puzzles and 0pdd doesn't open issues.
It used to work at some point, now it doesn't

I looked in Settings/Webhooks, and the calls to the webhook endpoint
get HTTP 503 server error response

I checked and the format is right, including one space indentation for all the new lines.

**----
Later edit:**
Response is 200 now (503

[2017-01-19 14:35] 0crat commented on #42
@yegor256 please, pay attention to this issue

[2017-01-19 16:35] yegor256 commented on #42
@amihaiemil let me check it...

[2017-01-19 16:41] yegor256 commented on #42
@amihaiemil in the mean time, please take a look at `2dfa8f3` and try to use `errors` section, maybe you will see something interesting

[2017-01-19 17:13] amihaiemil commented on #42
@yegor256 I forwarded the mail with the error log

[2017-01-19 17:44] amihaiemil commented on #42
@yegor256 I linked the whole stacktrace in the description

[2017-01-19 18:05] yegor256 commented on #42
@amihaiemil thanks. Just keep in mind for the future that it's better to post everything into the issue, mostly because later you may delete that gist and the link will be broken.

[2017-01-19 18:09] yegor256 commented on #42
@amihaiemil can you please `git push` again, we'll see what will happen after 	1863985

[2017-01-19 18:17] amihaiemil commented on #42
@yegor256 did one, here's the log

[code]

[2017-01-19 18:19] yegor256 commented on #42
@amihaiemil can you please try again, I made some change here: 693e19871ce92817e1f99b05e8fdefe86a94aa1f

[2017-01-19 18:23] amihaiemil commented on #42
@yegor256 here it is

[code]

[2017-01-19 18:33] yegor256 commented on #42
@amihaiemil as you can see, there is some problem in `src/main/resources/commands_ru.properties` in your repository. To reproduce it, run `pdd -f /dev/null` locally and you will see the same problem. The exception stack trace is not expressive enough, but that problem is related to another repo: https://github.com/yegor256/pdd (feel free to submit a ticket there).

[2017-01-19 18:36] amihaiemil commented on #42
@yegor256 I see. I'll have a look as soon as I get a chance and maybe open an issue there. Many thanks :D

[2017-01-19 18:36] #42 closed

[2017-01-23 07:56] yegor256 opened #44 "/issues/unknown: 404 - Not Found"
[code]

[2017-01-23 08:40] yegor256 opened #45 "show XML with all puzzles"

[2017-01-23 08:44] yegor256 commented on #45
@rultor release, tag is `0.8`

[2017-01-23 08:45] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10690-274429328)

[2017-01-23 08:45] yegor256 commented on #45
@rultor stop

[2017-01-23 08:46] rultor commented on #45
@yegor256 OK, I'll try to stop current task.

[2017-01-23 08:50] rultor commented on #45
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/10690-274429402) (spent 5min)

[code]

[2017-01-23 09:04] yegor256 commented on #45
@rultor release, tag is `0.8`

[2017-01-23 09:05] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10690-274433159)

[2017-01-23 09:07] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10690-274433159) (took me 3min)

[2017-01-23 09:47] yegor256 commented on #44
@rultor release, tag is `0.8.1`

[2017-01-23 09:47] rultor commented on #44
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10691-274441993)

[2017-01-23 09:49] rultor commented on #44
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10691-274441993) (took me 3min)

[2017-01-23 12:13] #45 closed

[2017-01-23 12:14] #44 closed

[2017-01-23 12:14] yegor256 opened #46 "email errors to admin"

[2017-01-23 12:26] yegor256 commented on #46
@rultor release, tag is `0.9`

[2017-01-23 12:26] rultor commented on #46
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10694-274475859)

[2017-01-23 12:30] rultor commented on #46
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10694-274475859) (took me 4min)

[2017-01-23 12:32] #46 closed

[2017-02-15 08:54] yegor256 commented on #11
@vivekimsit can you help with this one?

[2017-02-15 13:11] yegor256 commented on #24
@vivekimsit can you help with this one?

[2017-02-15 18:20] 0pdd opened #47 "0pdd.rb:58-60: Let's add GZIP compression to this..."
The puzzle `41-ab139346` in `0pdd.rb` (lines 58-60) has to be resolved: Let's add GZIP compression to this output, since most XML files are rather big and it would be beneficial to see them compressed in the browser.

The [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) was created by Yegor Bugayenko on 15-Feb-17.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't a

[2017-02-15 18:20] 0crat commented on #47
@yegor256 please, pay attention to this issue

[2017-02-15 18:42] 0pdd opened #48 "puzzles.rb:87-89: Let's post notification messages to..."
The puzzle `41-15a94873` in [`objects/puzzles.rb`](https://github.com/yegor256/0pdd/blob/master/objects/puzzles.rb) (lines 87-89) has to be resolved: Let's post notification messages to tickets where other puzzles were waiting for the resolution of this one. Let's update them with a summary information of what is left.

The puzzle was created by Yegor Bugayenko on 15-Feb-17.

Estimate: 30 minutes,

[2017-02-15 18:42] 0crat commented on #48
@yegor256 please, pay attention to this issue

[2017-02-15 18:46] yegor256 commented on #41
@rultor release, tag is `0.10`

[2017-02-15 18:47] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/10946-280100913)

[2017-02-15 18:52] rultor commented on #41
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10946-280100913) (took me 5min)

[2017-02-15 18:53] #41 closed

[2017-02-15 18:53] 0crat commented on #41
Oops! Job `gh:yegor256/0pdd#41` was not in scope

[2017-02-22 09:07] yegor256 opened #49 "let's post errors as github commit messages"
When an error occurs with PDD parsing, let's post it as a comment to the GitHub commit.

[2017-03-03 16:10] yegor256 opened #50 "redirect stderr in GIT PULL"

[2017-03-03 16:12] yegor256 commented on #50
@rultor release, tag is `0.10.1`

[2017-03-03 16:13] rultor commented on #50
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11069-283996095)

[2017-03-03 16:18] rultor commented on #50
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11069-283996095) (took me 5min)

[2017-03-03 16:19] #50 closed

[2017-03-03 18:55] yegor256 opened #51 "GIT CLEAN before pull"

[2017-03-03 18:57] yegor256 commented on #51
@rultor release, tag is `0.10.2`

[2017-03-03 18:58] rultor commented on #51
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11070-284039753)

[2017-03-03 19:03] rultor commented on #51
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11070-284039753) (took me 5min)

[2017-03-03 19:03] #51 closed

[2017-04-05 02:05] yegor256 opened #52 "layout improvements"

[2017-04-05 02:22] yegor256 opened #53 "show most recent analyses"

[2017-04-05 02:40] yegor256 commented on #53
@rultor release, tag is `0.11`

[2017-04-05 02:42] rultor commented on #53
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11325-291726031)

[2017-04-05 02:47] rultor commented on #53
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11325-291726031) (took me 5min)

[2017-04-05 02:47] #53 closed

[2017-04-05 02:48] #52 closed

[2017-04-05 14:44] yegor256 opened #54 "front page layout is broken"

[2017-04-05 15:02] yegor256 commented on #54
@rultor release, tag is `0.11.1`

[2017-04-05 15:03] rultor commented on #54
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11331-291890262)

[2017-04-05 15:09] rultor commented on #54
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11331-291890262) (took me 5min)

[2017-04-05 15:55] #54 closed

[2017-04-05 19:36] yegor256 commented on #29
@Eugst I will take care of this myself

[2017-04-05 21:00] yegor256 commented on #29
@rultor release, tag is `0.12`

[2017-04-05 21:01] rultor commented on #29
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11336-291995413)

[2017-04-05 21:07] rultor commented on #29
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11336-291995413) (took me 5min)

[2017-04-05 21:10] #29 closed

[2017-04-06 06:34] yegor256 commented on #26
@Eugst I will fix it myself

[2017-04-06 07:06] 0pdd opened #55 "emailed_tickets.rb:25-27: Let's implement a unit test for this..."
The puzzle `26-9cfe9c79` in [`objects/emailed_tickets.rb`](https://github.com/yegor256/0pdd/blob/master/objects/emailed_tickets.rb) (lines 25-27) has to be resolved: Let's implement a unit test for this class, using some SMTP stubbing engine, to catch the emails it is sending. We must be sure that the functionality works.

The puzzle was created by Yegor Bugayenko on 06-Apr-17.

Estimate: 30 minut

[2017-04-06 07:06] 0crat commented on #55
@yegor256 please, pay attention to this issue

[2017-04-06 07:07] #55 closed

[2017-04-06 07:07] 0pdd opened #56 "emailed_tickets.rb:25-27: Let's implement a unit test for this..."
The puzzle `26-91cf6434` in [`objects/emailed_tickets.rb`](https://github.com/yegor256/0pdd/blob/master/objects/emailed_tickets.rb) (lines 25-27) has to be resolved: Let's implement a unit test for this class, using some SMTP stubbing engine, to catch the emails it is sending. We must be sure that the functionality works. It's very important.

The puzzle was created by Yegor Bugayenko on 06-Apr-17

[2017-04-06 07:07] 0pdd commented on #55
The puzzle `26-9cfe9c79` has disappeared from the source code, that's why I closed this issue.

[2017-04-06 07:07] 0crat commented on #56
@yegor256 please, pay attention to this issue

[2017-04-06 07:33] 0pdd commented on #56
The puzzle `26-91cf6434` has disappeared from the source code, that's why I closed this issue.

[2017-04-06 07:33] #56 closed

[2017-04-06 07:35] 0pdd opened #57 "emailed_tickets.rb:25-27: Let's implement a unit test for this..."
The puzzle `26-9cfe9c79` in [`objects/emailed_tickets.rb`](https://github.com/yegor256/0pdd/blob/master/objects/emailed_tickets.rb) (lines 25-27) has to be resolved: Let's implement a unit test for this class, using some SMTP stubbing engine, to catch the emails it is sending. We must be sure that the functionality works.

The puzzle was created by Yegor Bugayenko on 06-Apr-17.

Estimate: 30 minut

[2017-04-06 07:35] 0crat commented on #57
@yegor256 please, pay attention to this issue

[2017-04-06 07:53] 0pdd opened #58 "emailed_tickets.rb:25-27: Let's implement an integration test..."
The puzzle `26-2470bd41` in [`objects/emailed_tickets.rb`](https://github.com/yegor256/0pdd/blob/master/objects/emailed_tickets.rb) (lines 25-27) has to be resolved: Let's implement an integration test for this class, using some SMTP stubbing engine, to catch the emails it is sending. We must be sure that the functionality works.

The puzzle was created by Yegor Bugayenko on 06-Apr-17.

Estimate:

[2017-04-06 07:53] 0crat commented on #58
@yegor256 please, pay attention to this issue

[2017-04-06 07:55] #58 closed

[2017-04-06 07:55] 0pdd commented on #58
The puzzle `26-2470bd41` has disappeared from the source code, that's why I closed this issue.

[2017-04-06 08:00] yegor256 commented on #26
@rultor release, tag is `0.13`

[2017-04-06 08:01] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11337-292098669)

[2017-04-06 08:05] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11337-292098669) (took me 4min)

[2017-04-06 08:24] #26 closed

[2017-04-06 08:24] yegor256 opened #59 "reply to GitHub comments, if they happen"

[2017-04-06 08:36] yegor256 commented on #59
@0pdd hello

[2017-04-06 08:40] yegor256 commented on #59
@0pdd hey

[2017-04-06 08:41] yegor256 commented on #59
@0pdd hey

[2017-04-06 08:41] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot

[2017-04-06 08:42] yegor256 commented on #59
@rultor release, tag is `0.14`

[2017-04-06 08:43] rultor commented on #59
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11338-292108097)

[2017-04-06 08:44] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot

[2017-04-06 08:46] rultor commented on #59
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11338-292108097) (took me 3min)

[2017-04-06 08:54] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 09:05] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 09:15] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 09:24] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 09:34] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 09:44] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 09:47] #59 closed

[2017-04-06 09:47] yegor256 opened #60 "star all repositories we're touching"

[2017-04-06 09:54] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 10:05] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 10:14] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 10:24] 0pdd commented on #59
I see you're talking about me, but I can't reply, I'm not a chat bot.

[2017-04-06 11:06] yegor256 commented on #60
@rultor release, tag is `0.15`

[2017-04-06 11:07] rultor commented on #60
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11339-292140947)

[2017-04-06 11:11] rultor commented on #60
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11339-292140947) (took me 4min)

[2017-04-06 11:38] pchmielowski opened #61 "503 response"
After pushing a change to repo, 0pdd answers with:
[code]
[code]

[2017-04-06 11:38] 0crat commented on #61
@yegor256 please, pay attention to this issue

[2017-04-06 11:42] #60 closed

[2017-04-06 11:46] yegor256 commented on #61
@pchmielowski fixed already in https://github.com/yegor256/0pdd/commit/95007612ad99131cadefe8785fbde0b066270623 thanks

[2017-04-06 11:46] #61 closed

[2017-04-06 11:52] pchmielowski opened #62 "Doesn't see hidden files"
I have file `.zshrc` in repo. 0pdd doesn't see `@todo` marker in it.
I've made a copy called `zshrc` - with this file, it works correctly.

(To make it clear - by "hidden" I mean files starting with the dot)

[2017-04-06 11:52] 0crat commented on #62
@yegor256 please, pay attention to this issue

[2017-04-06 12:12] yegor256 commented on #49
@rultor release, tag is `0.16`

[2017-04-06 12:12] rultor commented on #49
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11343-292154859)

[2017-04-06 12:17] rultor commented on #49
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11343-292154859) (took me 4min)

[2017-04-06 12:17] #49 closed

[2017-04-06 12:41] yegor256 commented on #62
@pchmielowski interesting, I will take a look now, cross posted it here: https://github.com/yegor256/pdd/issues/61

[2017-04-06 13:32] yegor256 commented on #62
@rultor release, tag is `0.16.1`

[2017-04-06 13:33] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11346-292175645)

[2017-04-06 13:37] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11346-292175645) (took me 4min)

[2017-04-06 13:39] yegor256 commented on #62
@pchmielowski should be fine now, please check

[2017-04-06 13:45] #19 closed

[2017-04-06 15:06] pchmielowski commented on #62
Now it is OK. Thanks!

[2017-04-06 15:06] #62 closed

[2017-04-06 16:45] yegor256 opened #63 "issue submission doesn't work"

[2017-04-06 16:48] yegor256 commented on #63
@rultor release, tag is `0.16.2`

[2017-04-06 16:49] rultor commented on #63
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11348-292235067)

[2017-04-06 16:53] rultor commented on #63
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11348-292235067) (took me 4min)

[2017-04-06 16:53] #63 closed

[2017-04-06 19:23] 0pdd opened #64 "safe_tickets.rb:27-29: Would be great to make sure the..."
The puzzle `40-679dfbe3` in [`objects/safe_tickets.rb`](https://github.com/yegor256/0pdd/blob/master/objects/safe_tickets.rb) (lines 27-29) has to be resolved: Would be great to make sure the exceptions that we swallow here are also emailed to the admin, in order not to be lost. Let's do it as soon as possible.

The puzzle was created by Yegor Bugayenko on 06-Apr-17.

Estimate: 30 minutes, role: I

[2017-04-06 19:23] 0crat commented on #64
@yegor256 please, pay attention to this issue

[2017-04-06 19:24] yegor256 commented on #64
Hey, I'll fix it

[2017-04-06 19:30] 0pdd opened #65 "safe_tickets.rb:52-54: Let's implement the emailing of the..."
The puzzle `64-9110b6ed` in [`objects/safe_tickets.rb`](https://github.com/yegor256/0pdd/blob/master/objects/safe_tickets.rb) (lines 52-54) has to be resolved: Let's implement the emailing of the exception. Somehow we need to encapsulate the email client and format the exception backtrace to make it look nice.

The puzzle was created by Yegor Bugayenko on 06-Apr-17.

Estimate: 30 minutes, role: IM

[2017-04-06 19:30] 0pdd commented on #64
The puzzle `40-679dfbe3` has disappeared from the source code, that's why I closed this issue.

[2017-04-06 19:30] #64 closed

[2017-04-06 19:30] 0crat commented on #65
@yegor256 please, pay attention to this issue

[2017-04-07 01:32] carlosmiranda commented on #40
@yegor256 any updates on this one? We're seeing this behavior again in Xockets Layer, as well as old puzzles that are not being closed.

[2017-04-07 01:34] 0pdd commented on #40
I see you're talking about me; I can't reply, I'm not a chat bot.

[2017-04-07 14:19] yegor256 opened #66 "identify the user"
[code]

[2017-04-07 14:21] yegor256 commented on #66
@rultor release, tag is `0.16.3`

[2017-04-07 14:22] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11357-292549797)

[2017-04-07 14:26] rultor commented on #66
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11357-292549797) (spent 4min)

[code]

[2017-04-07 20:28] yegor256 commented on #66
@rultor release, tag is `0.16.3`

[2017-04-07 20:29] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11357-292643608)

[2017-04-07 20:32] rultor commented on #66
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11357-292643608) (spent 3min)

[code]

[2017-04-07 20:40] yegor256 commented on #66
@rultor release, tag is `0.16.3`

[2017-04-07 20:41] rultor commented on #66
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11357-292646099)

[2017-04-07 20:44] rultor commented on #66
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11357-292646099) (took me 3min)

[2017-04-07 20:45] #66 closed

[2017-04-08 20:46] DronMDF opened #67 "0pdd does not create issue..."
https://github.com/DronMDF/goost/blob/master/kuznyechik/Imit.cpp

Where I was wrong?

[2017-04-08 20:46] 0crat commented on #67
@yegor256 please, pay attention to this issue

[2017-04-09 15:20] yegor256 commented on #40
@carlosmiranda I think I fixed it already. Let me monitor the situation for a few days.

[2017-04-09 18:45] DronMDF commented on #67
Yes, this is my mistake. One of the 4 comments turned out to be an incorrect format and 0pdd fell on an exception.

It's strange that three correct todo did not appear in the tracker...

[2017-04-09 18:45] #67 closed

[2017-04-09 18:51] DronMDF opened #68 "An error in one of the comments results in ignoring all the others."
In case of violation of formatting 0pdd falls by exception.
This happens even if most of the comments are correctly written.

My merge [commit](https://github.com/DronMDF/goost/commit/abe40615b7362843b1f8c1ba6dbe12d457048b6d) for example.

[2017-04-09 18:51] 0crat commented on #68
@yegor256 please, pay attention to this issue

[2017-04-10 14:55] yegor256 commented on #68
@DronMDF yes, this is how it's supposed to be. If [pdd](https://github.com/yegor256/pdd) can't parse your _entire_ code base, it will crash and we can't update your puzzles.

[2017-04-10 15:00] yegor256 commented on #65
@0pdd you there?

[2017-04-10 15:03] 0pdd commented on #65
I see you're talking about me; I can't reply, I'm not a chat bot.

[2017-04-10 15:07] yegor256 opened #69 "notification processing is messy"

[2017-04-10 15:28] yegor256 commented on #69
@0pdd how are you?

[2017-04-10 15:28] yegor256 commented on #69
@0pdd are you there

dude?

[2017-04-10 15:28] 0pdd commented on #69
I see you're talking about me; I can't reply, I'm not a chat bot.

[2017-04-10 15:41] yegor256 commented on #69
@0pdd talk to me

[2017-04-10 15:41] 0pdd commented on #69
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-04-10 15:42] yegor256 commented on #69
I'm just talking, @0pdd

[2017-04-10 15:42] yegor256 commented on #69
@rultor release, tag is `0.16.4`

[2017-04-10 15:43] rultor commented on #69
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11376-292989339)

[2017-04-10 15:46] #69 closed

[2017-04-10 15:46] rultor commented on #69
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11376-292989339) (took me 3min)

[2017-04-11 00:37] carlosmiranda commented on #40
@yegor256 thanks. However there are still a couple of tickets on XL that you were not able to close...

[2017-04-12 07:49] yegor256 opened #70 "don't mention estimate if it's not present"
In `github_tickets.rb` we are saying

[code]

Let's skip the estimate if it's equal to 0 and skip the role if it's equal to `IMP`.

[2017-04-12 15:15] yegor256 opened #71 "git pull can't merge"

[2017-04-12 15:17] extsoft opened #72 "0pdd doesn't handle force pushes"
Repository - [https://github.com/extsoft/insight](https://github.com/extsoft/insight).

Steps to reproduce:
1. Push new commit
2. Amend (`git commit --amend`) and push again (`git push -f`)

Actual:
Email subject: ` [extsoft/insight] test 0pdd (23420d6)`
Body:
[code]

[2017-04-12 15:17] 0crat commented on #72
@yegor256 please, pay attention to this issue

[2017-04-12 15:27] yegor256 commented on #71
@rultor release, tag is `0.16.5`

[2017-04-12 15:27] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11390-293614582)

[2017-04-12 15:30] yegor256 commented on #71
@rultor stop

[2017-04-12 15:31] rultor commented on #71
@yegor256 OK, I'll try to stop current task.

[2017-04-12 15:32] rultor commented on #71
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11390-293615881) (spent 5min)

[code]

[2017-04-12 15:33] yegor256 commented on #71
@rultor release, tag is `0.16.5`

[2017-04-12 15:34] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11390-293616887)

[2017-04-12 15:40] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11390-293616887) (took me 5min)

[2017-04-12 15:41] #71 closed

[2017-04-12 15:42] yegor256 opened #73 "error: unknown option `allow-unrelated-histories'"
after #71

[code]

[2017-04-12 15:42] yegor256 commented on #73
@rultor release, tag is `0.16.6`

[2017-04-12 15:43] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11391-293620087)

[2017-04-12 15:47] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11391-293620087) (took me 4min)

[2017-04-12 15:48] yegor256 commented on #72
@extsoft thanks for reporting

[2017-04-12 15:50] yegor256 commented on #72
@extsoft reproduced in 	78d1bc9 and fixed in d65985f

[2017-04-12 15:50] yegor256 commented on #72
@rultor release, tag is `0.16.7`

[2017-04-12 15:52] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11392-293622699)

[2017-04-12 15:57] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11392-293622699) (took me 5min)

[2017-04-12 15:57] yegor256 commented on #72
@extsoft try it now, please.

[2017-04-12 17:58] extsoft commented on #72
It still reproduces. Log:
[code]

[2017-04-13 11:53] yegor256 commented on #72
@rultor release, tag is `0.16.8`

[2017-04-13 11:54] rultor commented on #72
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11392-293869771)

[2017-04-13 11:58] rultor commented on #72
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11392-293869771) (took me 4min)

[2017-04-13 12:04] yegor256 commented on #72
@extsoft can you please try now?

[2017-04-13 12:08] #73 closed

[2017-04-13 12:09] yegor256 opened #74 "post comments to commits when new puzzles found"
Let's post commit comments if/when new puzzles are found or old ones were closed.

[2017-04-13 12:26] extsoft commented on #72
@yegor256 it still the same. Please consider to use `git reset origin/master --hard` to retrieve latest version of changes.

[2017-04-13 14:24] yegor256 commented on #72
@extsoft I'm doing it already: https://github.com/yegor256/0pdd/blob/0.16.8/objects/git_repo.rb#L87 :( I can't understand how to reproduce the problem you're having now in your repo. And it's different from what you reported originally. Let's close this ticket and report a new one, with the bug we're having now, please.

[2017-04-13 14:27] yegor256 commented on #14
@vivekimsit what is the status of this one?

[2017-04-13 17:28] vivekimsit commented on #14
@yegor256 I thinks its already merged #43

[2017-04-14 21:20] extsoft commented on #72
Solved. @yegor256 thank you for support.

[2017-04-14 21:20] #72 closed

[2017-04-16 18:51] SilasReinagel opened #75 "Duplicate Tickets - Round 2"
This may or may not be the same underlying issue as #40 .

If it is, then #40 isn't fixed yet. It could be something else also.

However, we were seeing duplicate tickets getting created in our repository yesterday:
https://github.com/EnigmaDragons/MegaBuy/issues/106
https://github.com/EnigmaDragons/MegaBuy/issues/107
https://github.com/EnigmaDragons/MegaBuy/issues/108
https://github.com/EnigmaDra

[2017-04-16 18:51] 0crat commented on #75
@yegor256 please, pay attention to this issue

[2017-04-16 18:53] yegor256 commented on #75
@SilasReinagel thanks! Will investigate and fix soon.

[2017-04-17 06:02] yegor256 opened #76 "git rebase fails when remote branch diverges"

[2017-04-17 06:02] yegor256 commented on #72
@extsoft more in #76

[2017-04-17 07:57] 0pdd opened #77 "0pdd.rb:91-93: Would be better to store these two..."
The puzzle `76-925a3c27` in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 91-93) has to be resolved: Would be better to store these two guys somewhere in configuration and re-use on every click. At the moment we are making too many unnecessary calls to the operating system.

The puzzle was created by 0pdd on 17-Apr-17.

Estimate: 30 minutes, role: IMP.

If you have any t

[2017-04-17 07:57] 0crat commented on #77
@yegor256 please, pay attention to this issue

[2017-04-17 08:37] #77 closed

[2017-04-17 08:37] 0pdd commented on #77
The puzzle `76-925a3c27` has disappeared from the source code, that's why I closed this issue.

[2017-04-17 10:31] yegor256 commented on #76
@rultor release, tag is `0.16.9`

[2017-04-17 10:32] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11415-294447098)

[2017-04-17 10:36] rultor commented on #76
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11415-294447098) (spent 4min)

[code]

[2017-04-17 10:42] yegor256 commented on #76
@rultor release, tag is `0.16.9`

[2017-04-17 10:42] rultor commented on #76
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11415-294448395)

[2017-04-17 10:47] rultor commented on #76
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11415-294448395) (took me 5min)

[2017-04-17 10:48] #76 closed

[2017-04-18 07:32] yegor256 opened #78 "fatal: Could not parse object"
[code]

[2017-04-18 07:42] yegor256 opened #79 "pdd 0.17.4"

[2017-04-18 07:43] yegor256 commented on #79
@rultor release, tag is `0.16.10`

[2017-04-18 07:43] rultor commented on #79
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11420-294716784)

[2017-04-18 07:47] rultor commented on #79
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11420-294716784) (took me 4min)

[2017-04-18 07:48] #79 closed

[2017-04-18 15:26] yegor256 commented on #78
@rultor release, tag is `0.16.11`

[2017-04-18 15:26] rultor commented on #78
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11425-294880905)

[2017-04-18 15:30] rultor commented on #78
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11425-294880905) (took me 4min)

[2017-04-25 07:25] #78 closed

[2017-04-25 07:26] yegor256 commented on #78
I don't think it's fixed, though... Just closing because the error is not visible any more.

[2017-04-25 09:05] yegor256 opened #80 "log"

[2017-04-25 10:59] 0pdd opened #81 "0pdd.rb:142-144: Let's create an integration test for..."
The puzzle `80-31addd77` in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 142-144) has to be resolved: Let's create an integration test for this feature, with DynamoDB Local. It's important to make sure that log works. Also, class Log should be used in the test.

The puzzle was created by yegor256 on 25-Apr-17.

Estimate: 30 minutes, role: IMP.

If you have any technical

[2017-04-25 10:59] 0crat commented on #81
@yegor256 please, pay attention to this issue

[2017-04-25 11:00] 0pdd opened #82 "0pdd.rb:142-144: Let's create an integration test for..."
The puzzle `80-31addd77` in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 142-144) has to be resolved: Let's create an integration test for this feature, with DynamoDB Local. It's important to make sure that log works. Also, class Log should be used in the test.

The puzzle was created by yegor256 on 25-Apr-17.

Estimate: 30 minutes, role: IMP.

If you have any technical

[2017-04-25 11:00] 0crat commented on #82
@yegor256 please, pay attention to this issue

[2017-04-25 11:02] #81 closed

[2017-04-25 11:03] 0pdd opened #83 "0pdd.rb:142-144: Let's create an integration test for..."
The puzzle `80-31addd77` in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 142-144) has to be resolved: Let's create an integration test for this feature, with DynamoDB Local. It's important to make sure that log works. Also, class Log should be used in the test.

The puzzle was created by yegor256 on 25-Apr-17.

Estimate: 30 minutes, role: IMP.

If you have any technical

[2017-04-25 11:03] 0crat commented on #83
@yegor256 please, pay attention to this issue

[2017-04-25 11:14] 0pdd commented on #83
The puzzle `80-31addd77` has disappeared from the source code, that's why I closed this issue.

[2017-04-25 11:14] #83 closed

[2017-04-25 11:20] #82 closed

[2017-04-25 11:21] 0pdd opened #84 "0pdd.rb:142-145: Let's create an integration test for..."
The puzzle `80-59dbe53a` in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 142-145) has to be resolved: Let's create an integration test for this feature, with DynamoDB Local. It's important to make sure that log works. Also, class Log should be used in the test. Let's use Maven plugin, like it's done in yegor256/sixnines GitHub project.

The puzzle was created by yegor25

[2017-04-25 11:21] 0crat commented on #84
@yegor256 please, pay attention to this issue

[2017-04-25 11:41] #84 closed

[2017-04-25 11:41] 0pdd commented on #84
The puzzle `80-59dbe53a` has disappeared from the source code, that's why I closed this issue.

[2017-04-25 11:48] yegor256 commented on #80
@rultor release, tag is `0.17`

[2017-04-25 11:50] rultor commented on #80
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11494-297004566)

[2017-04-25 11:51] yegor256 commented on #75
@SilasReinagel I think the problem is fixed in #80 This won't happen again.

[2017-04-25 11:55] rultor commented on #80
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11494-297004566) (took me 5min)

[2017-04-25 12:27] #80 closed

[2017-04-26 14:46] #68 closed

[2017-04-26 15:11] yegor256 commented on #74
@rultor release, tag is `0.18`

[2017-04-26 15:12] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11525-297440820)

[2017-04-26 15:15] rultor commented on #74
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11525-297440820) (spent 3min)

[code]

[2017-04-26 15:16] yegor256 commented on #74
@rultor release, tag is `0.18`

[2017-04-26 15:18] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11525-297442605)

[2017-04-26 15:20] rultor commented on #74
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11525-297442605) (spent 2min)

[code]

[2017-04-26 15:23] yegor256 commented on #74
@rultor release, tag is `0.18`

[2017-04-26 15:24] rultor commented on #74
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11525-297445588)

[2017-04-26 15:28] rultor commented on #74
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11525-297445588) (took me 4min)

[2017-04-26 15:29] #74 closed

[2017-04-27 13:22] yegor256 commented on #70
@rultor release, tag is `0.18.1`

[2017-04-27 13:23] rultor commented on #70
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11539-297711347)

[2017-04-27 13:26] rultor commented on #70
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11539-297711347) (took me 3min)

[2017-04-30 09:20] yegor256 opened #85 "GitHub invites are not coming in"

[2017-04-30 09:22] yegor256 commented on #85
@rultor release, tag is `0.18.2`

[2017-04-30 09:23] rultor commented on #85
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11554-298221387)

[2017-04-30 09:26] rultor commented on #85
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11554-298221387) (took me 3min)

[2017-04-30 09:31] #85 closed

[2017-05-02 21:24] 0crat commented on #53
Oops! Job `gh:yegor256/0pdd#53` was not in scope

[2017-05-02 21:24] 0crat commented on #52
Oops! Job `gh:yegor256/0pdd#52` was not in scope

[2017-05-02 21:25] 0crat commented on #54
Oops! Job `gh:yegor256/0pdd#54` was not in scope

[2017-05-02 21:25] 0crat commented on #29
Oops! Job `gh:yegor256/0pdd#29` was not in scope

[2017-05-02 21:25] 0crat commented on #55
Oops! Job `gh:yegor256/0pdd#55` was not in scope

[2017-05-02 21:25] 0crat commented on #56
Oops! Job `gh:yegor256/0pdd#56` was not in scope

[2017-05-02 21:25] 0crat commented on #58
Oops! Job `gh:yegor256/0pdd#58` was not in scope

[2017-05-02 21:25] 0crat commented on #26
Oops! Job `gh:yegor256/0pdd#26` was not in scope

[2017-05-02 21:25] 0crat commented on #59
Oops! Job `gh:yegor256/0pdd#59` was not in scope

[2017-05-02 21:25] 0crat commented on #60
Oops! Job `gh:yegor256/0pdd#60` was not in scope

[2017-05-02 21:25] 0crat commented on #49
Oops! Job `gh:yegor256/0pdd#49` was not in scope

[2017-05-02 21:25] 0crat commented on #19
Oops! Job `gh:yegor256/0pdd#19` was not in scope

[2017-05-02 21:25] 0crat commented on #62
Oops! Job `gh:yegor256/0pdd#62` was not in scope

[2017-05-02 21:25] 0crat commented on #62
Oops! Job `gh:yegor256/0pdd#62` was not in scope

[2017-05-02 21:25] 0crat commented on #63
Oops! Job `gh:yegor256/0pdd#63` was not in scope

[2017-05-02 21:25] 0crat commented on #64
Oops! Job `gh:yegor256/0pdd#64` was not in scope

[2017-05-02 21:25] 0crat commented on #66
Oops! Job `gh:yegor256/0pdd#66` was not in scope

[2017-05-02 21:25] 0crat commented on #67
Oops! Job `gh:yegor256/0pdd#67` was not in scope

[2017-05-02 21:25] 0crat commented on #69
Oops! Job `gh:yegor256/0pdd#69` was not in scope

[2017-05-02 21:26] 0crat commented on #71
Oops! Job `gh:yegor256/0pdd#71` was not in scope

[2017-05-02 21:26] 0crat commented on #73
Oops! Job `gh:yegor256/0pdd#73` was not in scope

[2017-05-02 21:26] 0crat commented on #72
Oops! Job `gh:yegor256/0pdd#72` was not in scope

[2017-05-02 21:26] 0crat commented on #77
Oops! Job `gh:yegor256/0pdd#77` was not in scope

[2017-05-02 21:26] 0crat commented on #76
Oops! Job `gh:yegor256/0pdd#76` was not in scope

[2017-05-02 21:26] 0crat commented on #79
Oops! Job `gh:yegor256/0pdd#79` was not in scope

[2017-05-02 21:26] 0crat commented on #78
Oops! Job `gh:yegor256/0pdd#78` was not in scope

[2017-05-02 21:26] 0crat commented on #83
Oops! Job `gh:yegor256/0pdd#83` was not in scope

[2017-05-02 21:26] 0crat commented on #84
Oops! Job `gh:yegor256/0pdd#84` was not in scope

[2017-05-02 21:26] 0crat commented on #80
Oops! Job `gh:yegor256/0pdd#80` was not in scope

[2017-05-02 21:26] 0crat commented on #74
Oops! Job `gh:yegor256/0pdd#74` was not in scope

[2017-05-02 21:26] 0crat commented on #70
Oops! Job `gh:yegor256/0pdd#70` was not in scope

[2017-05-02 21:26] 0crat commented on #85
Oops! Job `gh:yegor256/0pdd#85` was not in scope

[2017-05-04 04:18] KrisRoofe commented on #73
refer to this stackoverflow post http://stackoverflow.com/questions/41356766/unknown-option-allow-unrelated-histories

[2017-05-04 13:35] amihaiemil opened #86 "0pdd closed existing ticket"
0pdd closed a ticket which still had its puzzle in the code.
Steps:

commit 1: added a puzzle and the [new ticket](https://github.com/decorators-squad/versioneye-api/issues/49) was opened -- ok

commit 2: removed another puzzle from the code, the corresponding [ticket](https://github.com/decorators-squad/versioneye-api/issues/37) was closed, together with the ticket opened in commit 1 (even though

[2017-05-04 13:35] 0crat commented on #86
@yegor256 please, pay attention to this issue

[2017-05-04 16:09] yegor256 commented on #86
@amihaiemil it does look weird... Let me investigate.

[2017-05-04 16:14] #14 closed

[2017-05-04 16:14] 0pdd commented on #14
The puzzle `3-9fa46796` has disappeared from the source code, that's why I closed this issue.

[2017-05-04 16:14] 0crat commented on #14
Oops! Job `gh:yegor256/0pdd#14` was not in scope

[2017-05-08 18:11] yegor256 commented on #86
@amihaiemil I can't understand why that happened :( Let's monitor this situation.

[2017-05-08 18:12] amihaiemil commented on #86
@yegor256 sure. I'll keep an eye open for it, see if it happens again :D

[2017-05-11 18:56] yegor256 opened #87 "puzzles.rb: undefined method `[]' for nil:NilClass"
[code]

[2017-05-11 19:39] yegor256 commented on #87
@rultor release, tag is `0.18.3`

[2017-05-11 19:40] rultor commented on #87
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11659-300895510)

[2017-05-11 19:44] rultor commented on #87
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11659-300895510) (took me 4min)

[2017-05-11 19:45] #87 closed

[2017-05-11 19:45] 0crat commented on #87
Oops! Job `gh:yegor256/0pdd#87` was not in scope

[2017-05-11 20:04] 0crat commented on #65
Oops! Job `gh:yegor256/0pdd#65` was not in scope

[2017-05-11 20:04] yegor256 commented on #65
@rultor release, tag is `0.18.4`

[2017-05-11 20:05] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11662-300901631)

[2017-05-11 20:10] rultor commented on #65
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11662-300901631) (took me 5min)

[2017-05-23 21:12] yegor256 opened #88 "let's accept both JSON and urlencoded hooks"
Let's accept both `application/json` and `application/x-www-form-urlencoded` from GitHub

[2017-05-28 19:55] Slach opened #89 "Can 0pdd create puzzles from golang code ?"
@yegor256 pls see https://github.com/Slach/test_tasks/commit/ee5593bcd9712f555c506a3334b417c6ff3ec346
what i need improve in my code for use PDD in my development workflow?

[2017-05-28 19:55] 0crat commented on #89
@yegor256 please, pay attention to this issue

[2017-05-29 13:14] yegor256 commented on #89
@Slach you must format puzzles as explained here: https://github.com/yegor256/pdd#how-to-run

[2017-05-29 14:05] yegor256 opened #90 "more information in emails"

[2017-05-29 14:05] yegor256 commented on #90
@rultor release, tag is `0.18.5`

[2017-05-29 14:07] rultor commented on #90
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11804-304669017)

[2017-05-29 14:13] rultor commented on #90
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11804-304669017) (spent 6min)

[code]

[2017-05-29 14:18] yegor256 commented on #90
@rultor release, tag is `0.18.5`

[2017-05-29 14:19] rultor commented on #90
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11804-304671592)

[2017-05-29 14:22] rultor commented on #90
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11804-304671592) (spent 3min)

[code]

[2017-05-29 14:30] yegor256 commented on #90
@rultor release, tag is `0.18.5`

[2017-05-29 14:31] rultor commented on #90
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11804-304674933)

[2017-05-29 14:35] rultor commented on #90
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11804-304674933) (took me 4min)

[2017-05-29 14:37] #90 closed

[2017-05-29 14:37] 0crat commented on #90
Oops! Job `gh:yegor256/0pdd#90` was not in scope

[2017-05-30 14:57] #89 closed

[2017-05-30 14:57] 0crat commented on #89
Oops! Job `gh:yegor256/0pdd#89` was not in scope

[2017-05-31 07:44] #75 closed

[2017-05-31 07:44] 0crat commented on #75
Oops! Job `gh:yegor256/0pdd#75` was not in scope

[2017-05-31 07:46] SilasReinagel opened #91 "Unknown PDD parsing bug"
https://github.com/EnigmaDragons/MegaBuy/commit/6038f359218e93973054245c7d9df1e9356ffd0f

https://github.com/EnigmaDragons/MegaBuy/commit/02629134003aa5515c801ec37a2c9129a350f98d

[2017-05-31 07:47] 0crat commented on #91
@yegor256 please, pay attention to this issue

[2017-05-31 11:08] Slach opened #92 "single line comment format for puzzles ?"
@yegor256  would pdd parse single line comment?
like this
[code]

i submit some code changes here https://github.com/Slach/test_tasks/pull/3/commits/f52c2ed70dd0e53f866cec081857c66c6497ec2d
but pdd have a zero reaction

[2017-05-31 11:08] 0crat commented on #92
@yegor256 please, pay attention to this issue

[2017-06-02 08:57] yegor256 opened #93 "report more in logs"
Let's make them more informative

[2017-06-02 10:02] yegor256 commented on #93
@rultor release, tag is `0.18.6`

[2017-06-02 10:03] yegor256 commented on #91
@SilasReinagel we'll have more logs after #93

[2017-06-02 10:03] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11858-305745093)

[2017-06-02 10:07] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11858-305745093) (took me 3min)

[2017-06-02 10:09] #93 closed

[2017-06-02 10:09] 0crat commented on #93
Oops! Job `gh:yegor256/0pdd#93` was not in scope

[2017-06-02 10:11] yegor256 commented on #92
@Slach the format looks correct. Did you try to parse it using [pdd](https://github.com/yegor256/pdd) command line tool?

[2017-06-02 10:34] DronMDF opened #94 "pdd closing active puzzle issues..."
dronmdf/2out#58 is closed.

But puzzle text still in source code. https://github.com/DronMDF/2out/blob/master/src/TextReport.cpp#L41

[2017-06-02 10:34] 0crat commented on #94
@yegor256 please, pay attention to this issue

[2017-06-02 12:38] Slach commented on #92
yep, i figure out in .pdd format and add allowed duplicates
thanks for your feedback

[2017-06-02 12:38] #92 closed

[2017-06-02 12:38] 0crat commented on #92
Oops! Job `gh:yegor256/0pdd#92` was not in scope

[2017-06-02 15:03] DronMDF commented on #94
May be this can help...
https://github.com/DronMDF/2out/commit/dee2d7c09d5a90e82ba10c3a30df1a4e36b0228b
0pdd write some information in comments... and ignore my puzzles.

[2017-06-02 21:21] DronMDF commented on #94
Local pdd 0.17.8 work fine.

[2017-06-03 05:42] yegor256 opened #95 "uninitialized constant GithubTickets::Truncate"
[code]

[2017-06-03 05:48] yegor256 commented on #95
@rultor release, tag is `0.18.7`

[2017-06-03 05:48] rultor commented on #95
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11867-305953608)

[2017-06-03 05:53] rultor commented on #95
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11867-305953608) (took me 4min)

[2017-06-03 06:33] #95 closed

[2017-06-03 06:33] 0crat commented on #95
Oops! Job `gh:yegor256/0pdd#95` was not in scope

[2017-06-03 19:02] DronMDF commented on #94
Local pdd 0.17.8 work fine.

[2017-06-08 06:38] yegor256 commented on #94
@DronMDF it was a bug on our side, already fixed. Can you confirm? Works now?

[2017-06-08 07:08] DronMDF commented on #94
@yegor256 What caused the problem?
In last week I haven't lost my puzzles.

[2017-06-10 10:33] ashtonhogan opened #96 "bot not creating issues"
I have some @todo comments as per styling documentation in my code but no issues have been created... will this only occur for new commits?

https://github.com/ashtonhogan/elegantdb

[2017-06-10 10:33] 0crat commented on #96
@yegor256 please, pay attention to this issue

[2017-06-12 10:34] yegor256 commented on #96
@ashtonhogan did you configure the webhook?

[2017-06-12 10:35] yegor256 commented on #96
@ashtonhogan see the comments 0pdd posts to your commits, for example: https://github.com/ashtonhogan/elegantdb/commit/ec6f41f629d0688f7e6f4e6f05f0cd33d87e13b1

[2017-06-22 14:06] driver733 opened #97 "Is it possible to configure 0pdd bot to fetch puzzles from all branches (not just master)?"
As of now @0pdd creates issues only from the puzzles found in the master branch. I would like it to create issues from all branches.
This would be useful in the following scenario:

1. Create a puzzle in code.
2. Commit and push it to a new branch.
3. Write the code that closes the created issue.
4. Remove the puzzle from code.
5. Commit the code (the issue will be closed by the bot).
6. Merge the

[2017-06-22 14:06] 0crat commented on #97
@yegor256 please, pay attention to this issue

[2017-06-23 07:50] SilasReinagel commented on #91
This one is still a big problem. We're unable to use 0PDD because of it.

[2017-06-25 20:16] yegor256 commented on #91
@SilasReinagel I can't figure out what's going on, but my best guess is that your puzzles clash into each other, because their ID's are equal. Try to use longer texts for them and see what happens. I see that you're using just a few words -- it's a bad practice. Make sure your texts are long enough.

[2017-06-27 08:52] yegor256 commented on #97
@driver733 well, this is against the workflow we're trying to enforce with 0pdd. You must only do what `master` tells you to do.

[2017-06-27 08:53] yegor256 opened #98 "git checkout master doesn't work"
[code]

[2017-06-27 10:37] skapral opened #99 "Could not parse object/Your branch and 'origin/master' have diverged"
https://github.com/project-avral/oo-atom/commit/9c5f8238a9ef58a280fced6283858886f27166f5#commitcomment-22772561

I suspect that root cause of this issue is that I did some force pushes earlier. I aware that it is a sin, but the main question is: what can I do now to fix this issue?

[2017-06-27 10:37] 0crat commented on #99
@yegor256 please, pay attention to this issue

[2017-06-28 11:41] yegor256 commented on #99
@skapral I'm aware of this problem and will try to fix ASAP. I don't know how, though :) #98 is relevant

[2017-06-28 13:37] driver733 commented on #97
@yegor256 Alright

[2017-06-28 13:37] #97 closed

[2017-06-28 13:37] 0crat commented on #97
Oops! Job `gh:yegor256/0pdd#97` was not in scope

[2017-06-28 13:48] skapral commented on #99
@yegor256 thanks for feedback. About the root cause - did I guessed right? Are there any known workarounds?

[2017-06-29 07:49] yegor256 commented on #99
@skapral yes, the root cause is your "forced push". The problem is that I don't know how to reproduce this trouble in the test.

[2017-06-29 18:41] skapral commented on #99
I'll try. However, I'm not a Ruby guy, so it may take a while.

[2017-07-21 06:28] yegor256 opened #100 "sentry"
Let's add sentry for error tracking.

[2017-07-21 06:43] yegor256 commented on #100
@rultor release, tag is `0.19`

[2017-07-21 06:44] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12440-316918277)

[2017-07-21 06:48] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12440-316918277) (spent 3min)

[code]

[2017-07-21 06:49] yegor256 commented on #100
@rultor release, tag is `0.19`

[2017-07-21 06:50] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12440-316919290)

[2017-07-21 06:54] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12440-316919290) (spent 3min)

[code]

[2017-07-21 07:18] yegor256 commented on #100
@rultor release, tag is `0.19`

[2017-07-21 07:19] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12440-316924665)

[2017-07-21 07:21] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12440-316924665) (spent 2min)

[code]

[2017-07-21 07:30] yegor256 commented on #100
@rultor release, tag is `0.19`

[2017-07-21 07:30] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12440-316926971)

[2017-07-21 07:35] rultor commented on #100
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12440-316926971) (took me 4min)

[2017-07-21 07:38] #100 closed

[2017-07-21 07:38] 0crat commented on #100
Oops! Job `gh:yegor256/0pdd#100` was not in scope

[2017-07-24 06:20] yegor256 opened #101 "send release version to sentry"
Let's send release version there.

[2017-07-24 06:25] yegor256 commented on #101
@rultor release, tag is `0.19.1`

[2017-07-24 06:26] rultor commented on #101
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12473-317330426)

[2017-07-24 06:29] rultor commented on #101
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12473-317330426) (took me 3min)

[2017-07-24 06:32] #101 closed

[2017-07-24 06:32] 0crat commented on #101
Oops! Job `gh:yegor256/0pdd#101` was not in scope

[2017-07-27 18:08] nikialeksey opened #102 "0pdd can't parse gif"
[Sample](https://github.com/nikialeksey/FullScreenDialog/commit/577cf1695ffecf89d928b30b0368b7abb0da3ccf#commitcomment-23338042)

Is it bug? May be there is some configuration with file exclusion strategy?

[2017-07-27 18:08] 0crat commented on #102
@yegor256 please, pay attention to this issue

[2017-07-27 18:48] yegor256 commented on #102
@nikialeksey do you want it to go into the GIF file and find `@todo` puzzle there? Or you want that file just to be ignored?

[2017-07-28 10:39] nikialeksey commented on #102
@yegor256 Of course, want to be ignored))) it's not a text, I don't edit it by myself)

[2017-07-28 17:30] nikialeksey commented on #102
Thanks! But, is this a normal that 0pdd make comment for me, because he could not parse the gif? I think, 0pdd should skip files he cant parse

[2017-07-31 13:50] yegor256 commented on #28
fixed with codecov.io

[2017-07-31 13:50] #28 closed

[2017-07-31 13:50] 0crat commented on #28
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-05 11:23] g4s8 opened #103 "Parent issue link"
It will be handy if PDD bot puts a link to parent task in puzzle issue comment.

E.g. if I create a puzzle:
[code]
I want to see a link to `#1` issue in a new puzzle.

[2017-08-05 11:23] 0crat commented on #103
@yegor256 please, pay attention to this issue

[2017-08-05 15:10] yegor256 commented on #103
@0crat assign me

[2017-08-05 15:10] 0crat commented on #103
@yegor256 Job `gh:yegor256/0pdd#103` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-05 15:10] 0crat commented on #103
+15 points just awarded to @g4s8, total is [+630](http://www.0crat.com/u/g4s8).

[2017-08-05 15:10] yegor256 commented on #103
@rultor release, tag is `0.20`

[2017-08-05 15:11] rultor commented on #103
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12592-320448972)

[2017-08-05 15:15] rultor commented on #103
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12592-320448972) (took me 4min)

[2017-08-05 16:48] g4s8 commented on #103
@yegor256 thanks, it's working

[2017-08-05 16:48] #103 closed

[2017-08-05 16:48] 0crat commented on #103
Job `gh:yegor256/0pdd#103` is now out of scope.

[2017-08-05 16:48] 0crat commented on #103
+30 points just awarded to @yegor256, total is [+1170](http://www.0crat.com/u/yegor256).

[2017-08-05 17:12] caarlos0 opened #104 "security concerns"
0pdd.com shows recent projects in its home page, including private repos.

Any "attacker" can see them, and, knowing a repo exists and is managed by 0pdd, the "attacker" can see the tasks of a repo he doesn't have access to by accessing `0pdd.com/p?name=owner/repo`.

We should probably hide private repos on the home page and add login + permission checks to the `/p` endpoint.

[2017-08-05 17:12] 0crat commented on #104
@yegor256 please, pay attention to this issue

[2017-08-05 17:13] yegor256 commented on #104
@0crat in

[2017-08-05 17:13] 0crat commented on #104
@yegor256 Job `gh:yegor256/0pdd#104` is in scope.

[2017-08-05 17:13] 0crat commented on #104
+15 points just awarded to @caarlos0, total is [+180](http://www.0crat.com/u/caarlos0).

[2017-08-11 16:38] yegor256 opened #105 "Octokit::BadGateway"
In production a few hours ago

[code]

I think we need to retry in this case. Or let's think about something smarter.

[2017-08-18 21:11] skapral commented on #99
Ok. I give up. It is not reproduced for me either. I gave another try to my project and the issue is not reproduced.

Probably we need a button on the project's page on 0pdd.com, like "drop corrupted repo from 0pdd and start anew"? What do you think?

[2017-08-26 18:41] fxnn opened #106 "Tag already exists, won't submit again (false positive)"
0pdd stopped to file issues for new puzzles on my project. Instead, it replies to every commit with the message:

    Tag "2-0082b70e/submit" already exists, won't submit again.

However, I only filed this puzzle once, in exactly one place in the code. Later commits didn't even change the file the tag is in. Also, there are no other `@todo` lines with the marker `#2`.

* [Project at 0pdd.com](http

[2017-08-26 18:41] 0crat commented on #106
@yegor256 please, pay attention to this issue

[2017-08-26 18:46] fxnn commented on #106
Oh, this bug could be related to the fact that the [project's 0pdd.com page](http://www.0pdd.com/p?name=fxnn/deadbox) shows `0 alive, 0 total` puzzles and an rather empty [XML file](http://www.0pdd.com/xml?name=fxnn/deadbox)

However, there should be something like 10 puzzles for the project.

[2017-08-29 07:38] yegor256 commented on #106
@fxnn indeed, the problem is that the XML file is empty, but the log says that all issues were submitted to GitHub: http://www.0pdd.com/p?name=fxnn/deadbox Let me investigate the reason.

[2017-08-29 07:41] 0crat commented on #88
Job `gh:yegor256/0pdd#88` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-08-29 07:41] 0crat commented on #88
+15 points just awarded to @yegor256, total is [+2520](http://www.0crat.com/u/yegor256).

[2017-08-29 10:46] #88 closed

[2017-08-29 10:46] 0crat commented on #88
Job `gh:yegor256/0pdd#88` is now out of scope.

[2017-08-29 10:46] 0crat commented on #88
+30 points just awarded to @yegor256, total is [+2550](http://www.0crat.com/u/yegor256).

[2017-08-29 10:54] yegor256 commented on #88
@rultor release, tag is `0.21`

[2017-08-29 10:55] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12842-325628400)

[2017-08-29 10:59] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12842-325628400) (took me 3min)

[2017-08-29 16:35] yegor256 opened #107 "login with glogin"
let's implement it

[2017-08-29 18:54] yegor256 commented on #107
@rultor release, tag is `0.21`

[2017-08-29 18:54] rultor commented on #107
@yegor256 Invalid release tag `0.21` specified. There is already a release `0.21` newer than the given release in this repository.

[2017-08-29 18:54] rultor commented on #107
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2017-08-29 18:55] yegor256 commented on #107
@rultor release, tag is `0.22`

[2017-08-29 18:56] rultor commented on #107
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12848-325761232)

[2017-08-29 19:00] rultor commented on #107
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12848-325761232) (took me 3min)

[2017-08-29 19:06] #107 closed

[2017-08-29 19:07] 0crat commented on #107
Oops! Job `gh:yegor256/0pdd#107` was not in scope

[2017-08-30 07:07] yegor256 commented on #106
@fxnn I tried everything, but wasn't able to reproduce the bug :( Looks like it happens when there many puzzles in one commit. Or maybe after my manipulations, it's just gone. Anyway, please, try to push again to your repo and we'll see.

[2017-08-30 07:31] fxnn commented on #106
@yegor256 Okay, I [pushed](https://github.com/fxnn/deadbox/commit/1e066de8873d00e22985c1f466a47932ef8383e1) to the repo and it seems that @0pdd discovered all puzzles now! Also, the [project's page on 0pdd.com](http://www.0pdd.com/p?name=fxnn/deadbox) now correctly displays all puzzles and the XML is non-empty.

@0pdd filed issues that were already there, but I guess that's okay as you deleted the

[2017-08-30 20:45] yegor256 commented on #106
@fxnn I'm glad this issue is solved, but we have to keep an eye on it. I don't really know what was the problem. Please, close this ticket and don't hesitate to submit new ones if you spot any problem. Thanks for using 0pdd! :)

[2017-08-30 21:42] fxnn commented on #106
Be sure that I'll report any issues!

[2017-08-30 21:42] #106 closed

[2017-08-30 21:43] 0crat commented on #106
Oops! Job `gh:yegor256/0pdd#106` was not in scope

[2017-09-05 14:39] yegor256 opened #108 "GET answer on GitHub webhook"
Let's reply something

[2017-09-05 14:41] yegor256 commented on #108
@rultor release, tag is `0.22.1`

[2017-09-05 14:41] #108 closed

[2017-09-05 14:41] 0crat commented on #108
Oops! Job `gh:yegor256/0pdd#108` was not in scope

[2017-09-05 14:42] rultor commented on #108
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12914-327197092)

[2017-09-05 14:46] rultor commented on #108
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12914-327197092) (took me 3min)

[2017-09-08 10:04] amihaiemil opened #109 "Assign todo directly?"
Would be nice to be able to specify the assignee directly in the todo puzzle:
[code]
Or is it already possible somehow?

[2017-09-08 10:04] 0crat commented on #109
@yegor256 please, pay attention to this issue

[2017-09-09 20:57] DronMDF opened #110 "puzzle count is differ."
0pdd say 20 puzzles: http://www.0pdd.com/p?name=DronMDF/goost
github have 20 open issues from pdd https://github.com/DronMDF/goost/issues/created_by/0pdd

But pdd say 26 puzzle

[code]

Why 0pdd not creat issues?

[2017-09-09 20:57] 0crat commented on #110
@yegor256 please, pay attention to this issue

[2017-09-09 21:02] DronMDF commented on #110
I found problem, but not understand it.
https://github.com/DronMDF/goost/commit/9ab739e74b114943d43c89a9029467a5be0948bd#commitcomment-24152511

[2017-09-09 21:09] DronMDF commented on #94
@yegor256  Problem cause again.

Puzzle https://github.com/DronMDF/2out/issues/261 still in code, but closed.

[2017-09-11 11:35] DronMDF commented on #110
I tried to close todo's, but 0pdd always finds something to break off.
https://github.com/DronMDF/goost/commit/94c1eb49de87ca151c3368c1f4df7c31ff90acc4

[2017-09-12 09:44] yegor256 commented on #94
@DronMDF looks weird, I'm investigating...

[2017-09-12 11:55] yegor256 commented on #110
@DronMDF it's a bug on our side. For some very strange reason, sometimes 0pdd creates GitHub issues, but doesn't record them in the XML document. Then, later it may create duplicate issues. Issue DronMDF/goost#185 is a good example of such situation. The issue exists in GitHub, but is absent in the XML document. To prevent duplicate issues creation we have a log, which tracks each GitHub operation

[2017-09-12 11:56] yegor256 commented on #110
@DronMDF Let me investigate and introduce a fix.

[2017-09-12 12:02] yegor256 commented on #110
@DronMDF what I see now is that this happens _sometimes_ when a number of puzzles are coming in in a single commit, check these lines in the log:

[code]

All four tickets recorded here were created in GitHub, but are absent in XML :(

[2017-09-12 12:05] DronMDF commented on #110
By todo id - this is a different commits.
I can analyze this.

[2017-09-12 12:07] yegor256 commented on #110
@DronMDF IDs are not based on commits, they are just MD5 hash of puzzle texts.

[2017-09-12 12:31] DronMDF commented on #110
@yegor256 If i rename file, pdd close old puzzle and open new.
DronMDF/goost#182 puzzle add in c177052d
DronMDF/goost#183 puzzle add in 78b6adfb and changed in 706fd649
DronMDF/goost#184 puzzle add in 23ec6bcc63 and changed twice, last in c177052d
DronMDF/goost#185 puzzle add in 6d53a484

[2017-09-12 12:43] yegor256 commented on #110
@DronMDF the location of the puzzle shouldn't change anything, since the ID doesn't change. This is how the ID is calculated: https://github.com/yegor256/pdd/blob/0.17.9/lib/pdd/source.rb#L74 Only the "body" (text of the puzzle) is taken into account.

[2017-09-12 12:49] DronMDF commented on #110
@yegor256 I change body. By autoreplacment.
This is not a problem.

Renaming files should not lead to the removal and creation of tasks?

[2017-09-12 12:52] yegor256 commented on #110
@DronMDF no, renaming or moving files should not affect GitHub tickets. If this is now what happens, it's a bug, please report it. But normally, no matter what file the puzzle is located in, it's still one and the same puzzle. Provided, it's text is not changed.

[2017-09-12 20:10] DronMDF commented on #110
@yegor256 The problem still remains.
https://github.com/DronMDF/goost/commit/6d13d83d7541f4884e6a25877feed039dd922027#commitcomment-24259412

[2017-09-14 10:45] 0pdd commented on #11
The puzzle `3-09c2d743` has disappeared from the source code, that's why I closed this issue.

[2017-09-14 10:45] #11 closed

[2017-09-14 10:45] 0crat commented on #11
Oops! Job `gh:yegor256/0pdd#11` was not in scope

[2017-09-14 11:11] DronMDF commented on #110
@yegor256 0pdd was wailed.

http://www.0pdd.com/p?name=DronMDF/goost

[code]

This is global or project problem?

0pdd not react on new commit.
https://github.com/DronMDF/goost/commit/109052db7707232e7987b1c3609073f149cb775a

[2017-09-14 15:11] DronMDF commented on #110
@yegor256 The problem still remains.
https://github.com/DronMDF/goost/commit/dd5248e3740cce30f2da35819a374d56bc5eefd0

Badge still 20/42, not changed.

[2017-09-14 17:15] 0pdd opened #111 "0pdd.rb:57-59: Let's add DynamoDB Local for the..."
The puzzle `110-9c9d8a7c` (from #110) in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 57-59) has to be resolved: "Let's add DynamoDB Local for the testing cycle and make sure we work correctly with Dynamo persistence layer. Somehow we must also fix the Rakefile."

The puzzle was created by yegor256 on 14-Sep-17.

Estimate: 30 minutes, role: IMP.

If you have any technic

[2017-09-14 17:15] 0crat commented on #111
@yegor256 please, pay attention to this issue

[2017-09-14 17:15] 0pdd opened #112 "0pdd.rb:199-201: Let's not show the MORE link in the..."
The puzzle `110-1d6b79a2` (from #110) in [`0pdd.rb`](https://github.com/yegor256/0pdd/blob/master/0pdd.rb) (lines 199-201) has to be resolved: "Let's not show the MORE link in the log list if the list doesn't have any more elements. At the moment we keep showing that MORE link if any elements are there."

The puzzle was created by yegor256 on 14-Sep-17.

Estimate: 30 minutes, role: IMP.

If you ha

[2017-09-14 17:15] 0crat commented on #112
@yegor256 please, pay attention to this issue

[2017-09-14 17:15] 0pdd opened #113 "Rakefile:28-30: Let's make puzzles.xsd publicly..."
The puzzle `110-b6547ac0` (from #110) in [`Rakefile`](https://github.com/yegor256/0pdd/blob/master/Rakefile) (lines 28-30) has to be resolved: "Let's make puzzles.xsd publicly avaiable in the web and let's add it to the XML files we save, so that users can see the XSD schema together with the XML content."

The puzzle was created by yegor256 on 14-Sep-17.

Estimate: 30 minutes, role: IMP.

If you

[2017-09-14 17:15] 0crat commented on #113
@yegor256 please, pay attention to this issue

[2017-09-15 04:22] yegor256 commented on #110
@rultor release, tag is `0.22.2`

[2017-09-15 04:23] rultor commented on #110
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12974-329677534)

[2017-09-15 04:25] yegor256 commented on #109
@amihaiemil nice idea, but it's out of scope of 0pdd. You can use 0crat.com for that, it will assign tickets to people automatically. 0pdd is not supposed to be that smart.

[2017-09-15 04:25] #109 closed

[2017-09-15 04:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 04:25] 0crat commented on #109
Oops! Job `gh:yegor256/0pdd#109` was not in scope

[2017-09-15 04:27] rultor commented on #110
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12974-329677534) (took me 3min)

[2017-09-15 04:29] yegor256 commented on #110
@DronMDF please try now

[2017-09-15 04:54] yegor256 opened #114 "XML snapshot"
Let's make it possible to download XML snapshot through the web

[2017-09-15 04:54] 0crat commented on #114
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 05:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 05:46] yegor256 commented on #114
@rultor release, tag is `0.23`

[2017-09-15 05:47] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12979-329687581)

[2017-09-15 05:51] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12979-329687581) (took me 4min)

[2017-09-15 05:55] 0crat commented on #114
Job `gh:yegor256/0pdd#114` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-15 05:55] 0crat commented on #114
+15 points just awarded to @yegor256, total is [+3225](http://www.0crat.com/u/yegor256).

[2017-09-15 06:22] #114 closed

[2017-09-15 06:22] 0crat commented on #114
Job `gh:yegor256/0pdd#114` is now out of scope.

[2017-09-15 06:22] 0crat commented on #114
+30 points just awarded to @yegor256, total is [+3255](http://www.0crat.com/u/yegor256).

[2017-09-15 06:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 07:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 08:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 09:00] DronMDF commented on #110
@yegor256 Problem still remains.
https://github.com/DronMDF/goost/commit/4124352fbc483dbde24c7dcaae4a7c22e8dc6495

This list is very old. (And badge is very old)
http://www.0pdd.com/p?name=DronMDF/goost

0pdd create #222 (173-f882b25b) where it in puzzle tree?
But this puzzle present in snapshot.

[2017-09-15 09:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 10:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 11:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 12:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 13:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 14:21] yegor256 opened #115 "log items"
Let's make them visible

[2017-09-15 14:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 15:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 16:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 17:25] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 18:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 19:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 20:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 21:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 22:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-15 23:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 00:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 01:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 02:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 03:26] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 04:27] 0crat commented on #109
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-16 08:22] yegor256 commented on #115
@rultor release, tag is `0.24`

[2017-09-16 08:22] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12981-329954402)

[2017-09-16 08:26] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12981-329954402) (took me 3min)

[2017-09-16 08:27] #115 closed

[2017-09-16 08:27] 0crat commented on #115
Oops! Job `gh:yegor256/0pdd#115` was not in scope

[2017-09-16 08:35] yegor256 opened #116 "we must save after each submit()"
We're missing some GitHub tickets, let's save after each one.

[2017-09-16 09:24] 0pdd commented on #48
The puzzle `41-15a94873` has disappeared from the source code, that's why I closed this issue.

[2017-09-16 09:24] #48 closed

[2017-09-16 09:24] 0crat commented on #48
Oops! Job `gh:yegor256/0pdd#48` was not in scope

[2017-09-16 09:25] yegor256 commented on #116
@rultor release, tag is `0.24.1`

[2017-09-16 09:25] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12982-329957267)

[2017-09-16 09:30] yegor256 commented on #110
@DronMDF let's try again, I made some major fixes in #116

[2017-09-16 09:30] rultor commented on #116
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12982-329957267) (took me 4min)

[2017-09-16 09:31] #116 closed

[2017-09-16 09:31] 0crat commented on #116
Oops! Job `gh:yegor256/0pdd#116` was not in scope

[2017-09-16 17:28] fxnn opened #117 "log: undefined local variable or method `user' for #"
The page [`http://www.0pdd.com/log?name=fxnn/deadbox`](http://www.0pdd.com/log?name=fxnn/deadbox) currently shows an internal error:

[code]

[2017-09-16 17:28] 0crat commented on #117
@yegor256 please, pay attention to this issue

[2017-09-16 17:31] fxnn commented on #117
Problem also exists for other GitHub repos, e.g. [`http://www.0pdd.com/log?name=kkamkou/gitmostwanted.com`](http://www.0pdd.com/log?name=kkamkou/gitmostwanted.com). No problem for e.g. the `name` page, see [`http://www.0pdd.com/p?name=fxnn/deadbox`](http://www.0pdd.com/p?name=fxnn/deadbox).

[2017-09-16 19:47] DronMDF commented on #110
Looks okay.
Thanks.

[2017-09-16 19:47] #110 closed

[2017-09-16 19:47] 0crat commented on #110
Oops! Job `gh:yegor256/0pdd#110` was not in scope

[2017-09-16 19:52] DronMDF commented on #110
@yegor256 Strange... if bug closed, 0pdd should pay +30. or not?
No assigned DEV?

[2017-09-16 21:19] DronMDF opened #118 "Puzzle cause repited issue."
https://github.com/DronMDF/goost/issues/237
https://github.com/DronMDF/goost/issues/222
https://github.com/DronMDF/goost/issues/185

Is this the result of cleaning the logs?

[2017-09-16 21:19] 0crat commented on #118
@yegor256 please, pay attention to this issue

[2017-09-17 10:28] DronMDF opened #119 "0pdd log view problem (Internal error)"
[code]

[2017-09-17 10:28] 0crat commented on #119
@yegor256 please, pay attention to this issue

[2017-09-17 20:16] yegor256 commented on #110
@DronMDF 0crat pays you, not 0pdd :) Yes, +30, if the DEV was assigned.

[2017-09-17 20:17] yegor256 commented on #118
@DronMDF yes, this happened because I cleaned the log. Please, delete older tickets.

[2017-09-17 20:17] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-17 20:17] #118 closed

[2017-09-17 21:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-17 21:48] 0crat commented on #119
Job `gh:yegor256/0pdd#119` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-17 21:50] yegor256 commented on #119
@DronMDF should be fine now, please check

[2017-09-17 21:50] yegor256 commented on #119
@DronMDF and many thanks for reporting, appreciate your help!

[2017-09-17 21:51] yegor256 commented on #117
@fxnn please, check now, I believe it's fixed.

[2017-09-17 22:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-17 23:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 00:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 01:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 02:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 03:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 04:18] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 04:52] fxnn commented on #117
@yegor256 Confirmed! Thank you.

[2017-09-18 04:52] #117 closed

[2017-09-18 04:54] 0crat commented on #117
Oops! Job `gh:yegor256/0pdd#117` was not in scope

[2017-09-18 05:19] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 05:26] DronMDF commented on #118
I'm sorry, I broke everything. 😀

[2017-09-18 06:19] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 06:35] DronMDF commented on #119
It work.
Thanks.

[2017-09-18 06:35] #119 closed

[2017-09-18 06:39] 0crat commented on #119
Job `gh:yegor256/0pdd#119` is now out of scope.

[2017-09-18 06:43] 0crat commented on #119
+30 points just awarded to @yegor256, total is [+3330](http://www.0crat.com/u/yegor256).

[2017-09-18 07:19] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 08:19] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 09:19] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 10:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 11:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 12:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 13:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 14:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 15:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 16:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 17:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 18:20] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 19:21] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-18 20:21] 0crat commented on #118
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-09-29 18:06] yegor256 opened #120 "TypeError: no implicit conversion of nil into String"
https://sentry.io/zerocracy/0pdd/issues/356005491/

[code]

[2017-09-29 18:08] yegor256 opened #121 "RuntimeError: set -x;set -e;set -o pipefail;cd /tmp/0pdd20170922-4-grthfi/pivot-libre/tideman && git reset --ha..."
https://sentry.io/zerocracy/0pdd/issues/354479117/

[code]

[2017-09-30 19:08] 0pdd commented on #111
The puzzle `110-9c9d8a7c` has disappeared from the source code, that's why I closed this issue.

[2017-09-30 19:08] #111 closed

[2017-09-30 19:09] 0crat commented on #111
Oops! Job `gh:yegor256/0pdd#111` was not in scope

[2017-09-30 19:14] yegor256 commented on #120
@rultor release, tag is `0.24.2`

[2017-09-30 19:15] 0crat commented on #121
Job `gh:yegor256/0pdd#121` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 19:15] 0crat commented on #121
+15 points just awarded to @yegor256, total is [+3540](http://www.0crat.com/u/yegor256).

[2017-09-30 19:15] rultor commented on #120
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13054-333329774)

[2017-09-30 19:18] 0crat commented on #120
Job `gh:yegor256/0pdd#120` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-30 19:18] 0crat commented on #120
+15 points just awarded to @yegor256, total is [+3555](http://www.0crat.com/u/yegor256).

[2017-09-30 19:19] rultor commented on #120
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13054-333329774) (took me 3min)

[2017-09-30 19:20] #120 closed

[2017-09-30 19:20] 0crat commented on #120
Job `gh:yegor256/0pdd#120` is now out of scope.

[2017-09-30 19:20] 0crat commented on #120
+30 points just awarded to @yegor256, total is [+3585](http://www.0crat.com/u/yegor256).

[2017-09-30 19:22] yegor256 opened #122 "RuntimeError: set -x;set -e;set -o pipefail;git clone --depth=1 git@github.com:teamed/yegor256/tacit /tmp/0pdd2..."
https://sentry.io/zerocracy/0pdd/issues/354344791/

[code]

[2017-09-30 19:35] yegor256 commented on #121
@rultor release, tag is `0.24.3`

[2017-09-30 19:36] rultor commented on #121
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13055-333330994)

[2017-09-30 19:39] rultor commented on #121
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13055-333330994) (took me 3min)

[2017-09-30 19:44] yegor256 commented on #122
@rultor release, tag is `0.24.4`

[2017-09-30 19:44] #121 closed

[2017-09-30 19:44] 0crat commented on #121
Job `gh:yegor256/0pdd#121` is now out of scope.

[2017-09-30 19:44] 0crat commented on #121
+30 points just awarded to @yegor256, total is [+3615](http://www.0crat.com/u/yegor256).

[2017-09-30 19:45] rultor commented on #122
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13056-333331510)

[2017-09-30 19:46] yegor256 commented on #94
@DronMDF is it still a problem or you can close the issue?

[2017-09-30 19:47] yegor256 commented on #40
@carlosmiranda is it still a problem or you can close the issue?

[2017-09-30 19:48] rultor commented on #122
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13056-333331510) (took me 3min)

[2017-09-30 19:53] yegor256 commented on #104
@rultor release, tag is `0.24.5`

[2017-09-30 19:54] yegor256 commented on #104
@caarlos0 I believe it's fixed now, private repos won't be visible on the front page. Thanks for reporting this!

[2017-09-30 19:54] rultor commented on #104
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13057-333332053)

[2017-09-30 19:57] DronMDF commented on #94
Recently I have not observed this.

[2017-09-30 19:57] #94 closed

[2017-09-30 19:57] 0crat commented on #94
Oops! Job `gh:yegor256/0pdd#94` was not in scope

[2017-09-30 19:57] rultor commented on #104
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13057-333332053) (took me 3min)

[2017-09-30 20:41] #122 closed

[2017-09-30 20:41] 0crat commented on #122
Oops! Job `gh:yegor256/0pdd#122` was not in scope

[2017-10-01 20:35] DronMDF opened #123 "0pdd does not close issue"
Issue https://github.com/DronMDF/goost/issues/214
Created from puzzle in kuznyechik/Iterator.h

puzzle was removed in this merge commit: https://github.com/DronMDF/goost/commit/7c0d9fd3f8b07b6a576fe00f48e709d9226013cb#comments

Issue sill open.

[2017-10-01 20:35] 0crat commented on #123
@yegor256 please, pay attention to this issue

[2017-10-01 23:31] carlosmiranda commented on #40
@yegor256 seems ok now. Thanks. :)

[2017-10-01 23:31] #40 closed

[2017-10-01 23:31] 0crat commented on #40
Oops! Job `gh:yegor256/0pdd#40` was not in scope

[2017-10-02 15:02] yegor256 opened #124 "pull request notifications"
Every time we see a new pull request we must calculate what it gives us, in terms of adding new puzzles and removing existing now. And then post a message to the pull request with a quick summary of what's going to happen. Just like codecov.io is doing about code coverage, for example: yegor256/cactoos#48

[2017-10-02 19:57] yegor256 opened #125 "Cannot rebase: You have unstaged changes."
[code]

[2017-10-03 15:54] yegor256 commented on #125
@rultor release, tag is `0.24.6`

[2017-10-03 15:54] rultor commented on #125
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13070-333887063)

[2017-10-03 15:59] rultor commented on #125
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13070-333887063) (took me 4min)

[2017-10-07 06:16] tommasop opened #126 "Setup local development copy of 0pdd"
I was trying to setup the 0pdd project locally.

When I do a rackup it complains about a [config.yml](https://github.com/yegor256/0pdd/blob/224420cfbf43cba6f3269c00cbd5b8ebae2f82d6/deploy.sh#L8) missing.

Is there any config.yml example to be added to the repository to guide in development setup?

Thanks

[2017-10-07 06:16] 0crat commented on #126
@yegor256 please, pay attention to this issue

[2017-10-07 09:45] yegor256 commented on #126
@tommasop what exactly do you do? How can I reproduce the problem?

[2017-10-08 06:53] tommasop commented on #126
I found out what I needed thanks

[2017-10-08 06:53] #126 closed

[2017-10-08 06:53] 0crat commented on #126
Oops! Job `gh:yegor256/0pdd#126` was not in scope

[2017-10-08 12:03] irbuch commented on #123
I've investigated this issue . So, probably  the cause of this issue it's  that github was unavailable when #0pdd was trying to update status of the customer`s issue in repo. after committed and merged.
You can check the id of puzzle 103-9cc10377 from the issue in customer`s repo. by the link http://www.0pdd.com/p?name=DronMDF/goost, (just Ctrl + F and past ID in browser ), as you can see id with

[2017-10-08 18:19] DronMDF commented on #123
@irbuch If 0pdd cause problem with update status on github - him should not commit status of Job, I think.

What should I do with this now? To go and close for 0pdd tickets by hand? Wash the idea in another.

The problem is repeated again and again.
https://github.com/DronMDF/goost/issues/277
https://github.com/DronMDF/goost/issues/286

[2017-10-08 19:17] irbuch commented on #123
I agree with you that  0pdd should close issues after puzzle was removed or changed, but I thought that this issue appeared only one.
In case of two issues above, puzzles of them still in your code in master branch:
https://github.com/DronMDF/goost/blob/master/magma/BlockIterator.h#L12

[2017-10-08 19:36] DronMDF commented on #123
I comment removed line in merge commits for all issues.

BlockIterator - This is https://github.com/DronMDF/goost/issues/278 and
https://github.com/DronMDF/goost/issues/279
It ticket is open, this is a ok.

Андрей Валяев
Twitter: @Dronmdf
skype: dron_valyaev
G+: google.com/+АндрейВаляев
<http://google.com/+%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B9%D0%92%D0%B0%D0%BB%D1%8F%D0%B5%D0%B2>

2017-10-08 22:17

[2017-10-08 21:24] yegor256 commented on #123
@irbuch I don't think that's the case, because when we fail to update GitHub an exception is thrown and reported to Sentry. I don't have anything in Sentry, no errors, no exceptions. But maybe I'm wrong and exceptions are being swallowed somewhere somehow. What do you suggest to do?

[2017-10-08 21:25] yegor256 commented on #123
@irbuch please, don't forget to always start your message with the name of the person you're sending it to. Otherwise, I will just miss it. More about it: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#4-avoid-noiseaddress-your-comments

[2017-10-08 21:30] yegor256 opened #127 "Octokit::InvalidRepository: Invalid Repository. Use user/repo format."
https://sentry.io/zerocracy/0pdd/issues/361893877/

[code]

Full stack trace:

[code]

[2017-10-08 21:33] yegor256 commented on #127
@irbuch can you take care of this one? It seems to be not so complex and can be solved in one pull request (I hope).

[2017-10-08 21:34] yegor256 commented on #127
@0crat assign @irbuch

[2017-10-08 21:34] 0crat commented on #127
@yegor256 Job `gh:yegor256/0pdd#127` assigned to @irbuch, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @irbuch is not a member of this project yet, but can request to join. @irbuch check your [Zerocracy profile](http://www.0crat.com/u/irbuch) and follow the instructions.

[2017-10-08 21:34] 0crat commented on #127
Bug was reported: +15 points just awarded to @yegor256, total is [+3725](http://www.0crat.com/u/yegor256).

[2017-10-08 21:41] yegor256 commented on #125
It happens only sometimes. For example:

  * Happened here: https://github.com/yegor256/pdd/commit/732ea9f2fc4bfd8cbdc1a2c9e59513606586bf2d#comments
  * Didn't happen here: https://github.com/yegor256/pdd/commit/b840dc0d0a5a88d7e4cd8980df0c7464baec9f83

[2017-10-08 21:42] yegor256 commented on #125
@irbuch can you try to fix this too?

[2017-10-08 21:44] yegor256 opened #128 "Octokit::NotFound: GET https://api.github.com/repos/extsoft/insight: 404 - Not Found // See: https://developer.githu..."
https://sentry.io/zerocracy/0pdd/issues/362698976/

[code]

Full:

[code]

[2017-10-08 21:46] yegor256 commented on #128
@irbuch can you take care of this one? It seems to be not so complex and can be solved in one pull request (I hope).

[2017-10-08 21:46] yegor256 commented on #128
@0crat assign @irbuch

[2017-10-08 21:46] 0crat commented on #128
@yegor256 Job `gh:yegor256/0pdd#128` assigned to @irbuch, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @irbuch is not a member of this project yet, but can request to join. @irbuch check your [Zerocracy profile](http://www.0crat.com/u/irbuch) and follow the instructions.

[2017-10-08 21:46] 0crat commented on #128
Bug was reported: +15 points just awarded to @yegor256, total is [+3740](http://www.0crat.com/u/yegor256).

[2017-10-08 21:51] irbuch commented on #123
@yegor256 I can't reproduce this issue in my two test repositories (C++ , RoR). I know that prm. language doesn't matter but I've tried to simulate steps and text environment as  in code example, but without result. I will take some more time and try to investigate more detail.

[2017-10-09 11:47] yegor256 commented on #123
@irbuch that's the problem - it's very hard to reproduce this issue. I can't understand why it's happening __sometimes__. What we can do is to experiment and try. Try to reproduce in a unit test. Maybe we'll get lucky.

[2017-10-09 12:58] yegor256 opened #129 "JobEmailed should CC repository owner"
Let's improve `JobEmailed` so that it CC the owner of the repo, if his email is available in GitHub repo. In some cases it will work and emails will be sent.

[2017-10-09 12:58] yegor256 commented on #129
@0crat assign @irbuch

[2017-10-09 12:58] 0crat commented on #129
@yegor256 Job `gh:yegor256/0pdd#129` assigned to @irbuch, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @irbuch is not a member of this project yet, but can request to join. @irbuch check your [Zerocracy profile](http://www.0crat.com/u/irbuch) and follow the instructions.

[2017-10-09 12:59] 0crat commented on #129
Bug was reported: +15 points just awarded to @yegor256, total is [+3755](http://www.0crat.com/u/yegor256).

[2017-10-09 17:35] yegor256 commented on #102
@nikialeksey no, it doesn't skip them. It "fails fast" expecting you to have everything in order, or broken. Nothing in the middle.

[2017-10-09 17:40] yegor256 commented on #129
@0crat refuse

[2017-10-09 17:40] 0crat commented on #129
@yegor256 @irbuch resigned from `gh:yegor256/0pdd#129`, please stop working.

[2017-10-09 18:00] yegor256 commented on #128
@0crat refuse

[2017-10-09 18:01] 0crat commented on #128
@yegor256 @irbuch resigned from `gh:yegor256/0pdd#128`, please stop working.

[2017-10-09 18:42] yegor256 commented on #123
@irbuch @DronMDF I think I know what is the problem. It's here: https://github.com/yegor256/0pdd/blob/0.24.6/objects/puzzles.rb#L68-L70

We're checking all puzzles that are supposed to be closed and call `close()` on GitHub API. We don't record the fact that the issue was actually closed already. Thus, on each commit we're doing a many calls to GitHub API. Sometimes our usage goes over the limit a

[2017-10-09 19:02] tedtoer commented on #128
Octokit gets 404 error, It means that octokit has not access to this private repo
It might be in 2 cases:
1) Auth code is broken
2) Repo author did not get access for 0pdd

[2017-10-09 19:27] irbuch commented on #123
@yegor256 Got it. I will take care about this.

[2017-10-09 20:05] yegor256 commented on #123
@irbuch also, I think that silently ignoring the fact that we are over the limit with GitHub API is not a good idea. We may have similar problems in the future. We should think about some other mechanism. Maybe we should delay the operation, saving it into some queue, like AWS SQS. But this is for the future.

[2017-10-09 21:32] irbuch opened #130 "Check repository and archives of releases on some leak of credentials."
Need to find and remove potential  vulnerabilities of personal data, such as password or keys, from some config files which can remained  in code-base.

[2017-10-09 21:32] 0crat commented on #130
@yegor256 please, pay attention to this issue

[2017-10-10 02:47] nikialeksey commented on #102
Got it! Thanks

[2017-10-10 02:47] #102 closed

[2017-10-10 02:47] 0crat commented on #102
Oops! Job `gh:yegor256/0pdd#102` was not in scope

[2017-10-10 08:55] yegor256 commented on #130
@rultor release, tag is `0.24.7`

[2017-10-10 08:55] yegor256 commented on #130
@rultor release, tag is `0.24.7`

[2017-10-10 08:56] rultor commented on #130
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13114-335406731)

[2017-10-10 08:59] rultor commented on #130
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13114-335406731) (took me 3min)

[2017-10-10 09:10] 0crat commented on #130
Job `gh:yegor256/0pdd#130` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-10 09:10] 0crat commented on #130
Job `gh:yegor256/0pdd#130` is already assigned to @yegor256, sorry.

[2017-10-10 09:10] 0crat commented on #130
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+3790](http://www.0crat.com/u/yegor256).

[2017-10-10 09:15] yegor256 commented on #130
@irbuch I believe it's fixed, all keys were revoked. Many thanks for reporting this!

[2017-10-10 12:42] yegor256 opened #131 "535 Authentication Credentials Invalid"
[code]

[2017-10-10 13:02] yegor256 commented on #131
@rultor release, tag is `0.24.8`

[2017-10-10 13:02] rultor commented on #131
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13117-335464942)

[2017-10-10 13:09] rultor commented on #131
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13117-335464942) (took me 6min)

[2017-10-10 13:16] DronMDF commented on #131
@yegor256 Thanks.

[2017-10-10 13:31] yegor256 commented on #131
@rultor release, tag is `0.24.9`

[2017-10-10 13:31] rultor commented on #131
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13117-335472943)

[2017-10-10 13:35] rultor commented on #131
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13117-335472943) (took me 3min)

[2017-10-10 13:38] #131 closed

[2017-10-10 13:38] 0crat commented on #131
Oops! Job `gh:yegor256/0pdd#131` was not in scope

[2017-10-10 13:38] yegor256 commented on #130
@irbuch please, close this ticket if the problem was solved. Thanks.

[2017-10-10 13:47] yegor256 commented on #128
@tedtoer yes, in either case we should handle this situation correctly. Instead of showing this exception to the user, let's render the page right.

@tedtoer please, don't forget to start your message with the name of the person you're talking to. Otherwise, I just miss your messages.

[2017-10-10 14:03] irbuch commented on #130
If credentials in releases 24.5 and lower was revoked,  I will close issue, but config.yml still there.

[2017-10-10 14:08] #130 closed

[2017-10-10 14:08] 0crat commented on #130
Job `gh:yegor256/0pdd#130` is now out of scope.

[2017-10-10 14:09] 0crat commented on #130
Order was successfully finished: +30 points just awarded to @yegor256, total is [+3820](http://www.0crat.com/u/yegor256).

[2017-10-10 14:35] tedtoer commented on #128
@yegor256 yes, I'll try to fix it with render the error page instead of showing exception

[2017-10-10 14:45] yegor256 commented on #128
@tedtoer great, thanks. First, make sure you can reproduce the problem with a unit test. Then, fix it. Then, send a pull request for review.

[2017-10-10 14:46] yegor256 commented on #130
@irbuch it's OK, the file will stay there, but all credentials are expired, no harm will be done. Thanks again for your help.

[2017-10-11 04:23] tedtoer commented on #128
@yegor256 I sent PR, please check out

[2017-10-12 10:19] #128 closed

[2017-10-12 10:19] 0crat commented on #128
Job `gh:yegor256/0pdd#128` is now out of scope.

[2017-10-12 10:41] yegor256 commented on #128
@tedtoer thanks!

[2017-10-12 10:41] yegor256 commented on #127
@0crat assign @tedtoer

[2017-10-12 10:42] 0crat commented on #127
@yegor256 Job `gh:yegor256/0pdd#127` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @tedtoer is not a member of this project yet, but can request to join. @tedtoer check your [Zerocracy profile](http://www.0crat.com/u/tedtoer) and follow the instructions.

[2017-10-12 10:55] tedtoer commented on #127
@yegor256 how can I take an access to https://sentry.io/zerocracy/0pdd/issues/361893877/ ?
I just logged at http://www.0crat.com/ through my github profile

[2017-10-12 11:02] yegor256 commented on #127
@tedtoer you should have Sentry access now

[2017-10-12 11:04] 0crat commented on #104
Job `gh:yegor256/0pdd#104` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-12 11:05] 0crat commented on #129
Job `gh:yegor256/0pdd#129` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-12 11:09] yegor256 opened #133 "deps are outdated"
See https://gemnasium.com/yegor256/0pdd

Let's upgrade them. Also, can we make sure that `rake` fails if some dependencies are outdated? That would be the best solution.

[2017-10-12 11:09] 0crat commented on #133
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-12 11:09] 0crat commented on #133
Job `gh:yegor256/0pdd#133` is in scope.

[2017-10-12 11:09] 0crat commented on #133
There is an unrecoverablefailure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[2017-10-12 11:09] 0crat commented on #133
Job `gh:yegor256/0pdd#133` assigned to @0crat, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)). @0crat is not a member of this project yet, but can request to join. @0crat check your [Zerocracy profile](http://www.0crat.com/u/0crat) and follow the instructions.

[2017-10-12 11:10] 0crat commented on #133
Bug was reported: +15 points just awarded to @yegor256, total is [+3985](http://www.0crat.com/u/yegor256).

[2017-10-12 11:10] 0crat commented on #133
Oops! Job `gh:yegor256/0pdd#133` is already in scope

[2017-10-12 11:12] yegor256 commented on #133
@0crat refuse

[2017-10-12 11:12] 0crat commented on #133
@yegor256 @0crat resigned from `gh:yegor256/0pdd#133`, please stop working.

[2017-10-12 11:22] 0crat commented on #133
Job `gh:yegor256/0pdd#133` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-12 11:41] #104 closed

[2017-10-12 11:41] 0crat commented on #104
Job `gh:yegor256/0pdd#104` is now out of scope.

[2017-10-12 11:41] 0crat commented on #104
Order was successfully finished: +30 points just awarded to @tedtoer, total is [+30](http://www.0crat.com/u/tedtoer).

[2017-10-12 12:10] 0crat commented on #133
@tedtoer resigned from `gh:yegor256/0pdd#133`, please stop working.

[2017-10-12 12:10] 0crat commented on #133
Oops! Job `gh:yegor256/0pdd#133` is not assigned, can't get performer

[2017-10-12 16:12] tedtoer commented on #127
@yegor256 when I go https://sentry.io/zerocracy/0pdd/issues/361893877/ i get "The project you were looking for was not found.", but I have access to Zerocracy organization
I think its because access rights settings

[2017-10-12 18:03] yegor256 commented on #127
@tedtoer here is the project you need: https://sentry.io/zerocracy/0pdd-j0/

[2017-10-12 18:20] tedtoer commented on #127
@yegor256 yes, I saw it, but there are not issues in this project

[2017-10-12 18:21] yegor256 commented on #127
@tedtoer they will be there once we deploy the new version, wait for it.

[2017-10-12 18:22] tedtoer commented on #127
@yegor256 ah, ok. Please mention me here when you deployed

[2017-10-15 15:08] tedtoer commented on #129
@yegor256 what is "CC" in this case?

[2017-10-15 15:11] tedtoer commented on #129
@yegor256 Is "CC" a "closed copy"?

[2017-10-15 17:04] tedtoer commented on #129
@yegor256 I sent PR, please check out

[2017-10-15 18:27] #129 closed

[2017-10-15 18:27] 0crat commented on #129
Oops! There is an open order for this job, @tedtoer is still working with it.

[2017-10-15 18:38] yegor256 commented on #129
@rultor release, tag is `0.25`

[2017-10-15 18:39] rultor commented on #129
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13151-336731787)

[2017-10-15 18:42] rultor commented on #129
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13151-336731787) (took me 3min)

[2017-10-15 18:50] yegor256 commented on #129
@tedtoer thanks a lot!

[2017-10-15 20:33] DronMDF commented on #123
@yegor256 At this moment i have 4 solved, but open issue.
https://github.com/DronMDF/goost/issues/214
https://github.com/DronMDF/goost/issues/277
https://github.com/DronMDF/goost/issues/286
https://github.com/DronMDF/goost/issues/290
In some cases, there was a file renaming.

[2017-10-16 07:31] yegor256 commented on #127
@tedtoer version 0.25 is in production, you should see exceptions in Sentry

[2017-10-16 07:33] yegor256 commented on #127
@tedtoer I believe this problem is fixed already.

[2017-10-16 07:33] #127 closed

[2017-10-16 07:34] 0crat commented on #127
Oops! There is an open order for this job, @tedtoer is still working with it.

[2017-10-16 07:35] yegor256 commented on #105
@0crat assign @tedtoer

[2017-10-16 07:36] 0crat commented on #105
@yegor256 Job `gh:yegor256/0pdd#105` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-16 07:37] 0crat commented on #105
Bug was reported: +15 points just awarded to @yegor256, total is [+4040](http://www.0crat.com/u/yegor256).

[2017-10-16 07:38] yegor256 opened #135 "content-type mistake for error pages"
Looks like we're setting incorrect content-type for error pages (404 and 400). That's why this is what I'm getting for http://www.0pdd.com/snapshot?name=0/_qsdssd
![screen shot 2017-10-16 at 10 37 25 am](https://user-images.githubusercontent.com/526301/31600171-1925f798-b25e-11e7-967b-d3e1c5d2fcde.png)

[2017-10-16 07:38] yegor256 commented on #135
@0crat assign @tedtoer

[2017-10-16 07:39] 0crat commented on #135
@yegor256 Job `gh:yegor256/0pdd#135` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-16 07:40] 0crat commented on #135
Bug was reported: +15 points just awarded to @yegor256, total is [+4055](http://www.0crat.com/u/yegor256).

[2017-10-16 07:40] yegor256 commented on #70
@0crat assign @tedtoer

[2017-10-16 07:41] yegor256 commented on #99
@0crat assign @tedtoer

[2017-10-16 07:41] 0crat commented on #70
@yegor256 Job `gh:yegor256/0pdd#70` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-16 07:43] 0crat commented on #70
Bug was reported: +15 points just awarded to @yegor256, total is [+4070](http://www.0crat.com/u/yegor256).

[2017-10-16 07:43] 0crat commented on #99
@yegor256 Job `gh:yegor256/0pdd#99` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-23 18:59] DronMDF commented on #123
@yegor256 Is there any progress on this issue?

[2017-10-24 14:49] yegor256 commented on #123
@DronMDF not yet. Looks like I have to fix it myself.

[2017-10-24 15:52] 0crat commented on #123
Job `gh:yegor256/0pdd#123` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-10-24 15:53] 0crat commented on #123
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+4315](http://www.0crat.com/u/yegor256).

[2017-10-24 16:52] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is already assigned to @yegor256.

[2017-10-24 16:56] DronMDF commented on #123
@yegor256 I have an idea.
'assign my' should cost -35. assign other - -5.

assign my for -5 is very profit.

[2017-10-24 17:23] yegor256 commented on #123
@rultor release, tag is `0.25.1`

[2017-10-24 17:25] rultor commented on #123
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13219-339067426)

[2017-10-24 17:30] rultor commented on #123
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13219-339067426) (took me 4min)

[2017-10-24 17:33] yegor256 commented on #123
@DronMDF I believe the issue is fixed. Let's monitor...

[2017-10-24 17:52] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is already assigned to @yegor256.

[2017-10-24 18:53] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is already assigned to @yegor256.

[2017-10-24 21:28] irbuch opened #136 "How to clear duplicate puzzles ?"
My issues in list are closed, but during creation a of a new puzzle I'm  getting error:
[code]
even if I remove puzzles in ```tmp```  folder, the  issue still reproduce.
 In  post-parsing rules I've specified:
```--rule=max-duplicates:3```

[2017-10-24 21:28] 0crat commented on #136
@yegor256 please, pay attention to this issue

[2017-10-25 13:29] yegor256 opened #137 "`wait_readable': execution expired (Timeout::Error)"
Can't close issues (none of them):

[code]

[2017-10-25 15:36] #137 closed

[2017-10-25 15:36] 0crat commented on #137
Oops! There is no order for job `gh:yegor256/0pdd#137`.

[2017-10-25 15:36] 0crat commented on #137
Oops! Job `gh:yegor256/0pdd#137` is not in scope.

[2017-10-25 15:37] yegor256 commented on #136
@irbuch `--rule=max-duplicates:` doesn't work. You may have only one puzzle per project. Just make sure they are all unique and never have the same text.

[2017-10-25 15:44] yegor256 commented on #123
@DronMDF I made many changes in #137 Hopefully, they will help. Let's watch.

[2017-10-25 16:34] rultor commented on #137
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13223-339389731) (took me 3min)

[2017-10-25 20:07] #136 closed

[2017-10-25 20:08] 0crat commented on #136
Oops! There is no order for job `gh:yegor256/0pdd#136`.

[2017-10-25 20:08] 0crat commented on #136
Oops! Job `gh:yegor256/0pdd#136` is not in scope.

[2017-11-06 08:28] yegor256 opened #138 "stricter XSD"
Let's make it stricter to avoid errors

[2017-11-06 08:29] 0crat commented on #138
Job `gh:yegor256/0pdd#138` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-06 08:33] 0crat commented on #138
Bug was reported: +15 points just awarded to @yegor256, total is [+5145](http://www.0crat.com/u/yegor256).

[2017-11-06 08:33] 0crat commented on #138
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5145](http://www.0crat.com/u/yegor256).

[2017-11-06 13:28] yegor256 commented on #138
@rultor release, tag is `0.25.3`

[2017-11-06 13:29] rultor commented on #138
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13330-342148258)

[2017-11-06 13:32] rultor commented on #138
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13330-342148258) (took me 3min)

[2017-11-06 13:34] #138 closed

[2017-11-06 13:34] 0crat commented on #138
Job `gh:yegor256/0pdd#138` is now out of scope.

[2017-11-06 13:35] 0crat commented on #138
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5175](http://www.0crat.com/u/yegor256).

[2017-11-06 13:41] #113 closed

[2017-11-06 13:41] 0pdd commented on #113
The puzzle `110-b6547ac0` has disappeared from the source code, that's why I closed this issue.

[2017-11-06 13:41] 0crat commented on #113
Oops! There is no order for job `gh:yegor256/0pdd#113`.

[2017-11-06 13:41] 0crat commented on #113
Oops! Job `gh:yegor256/0pdd#113` is not in scope.

[2017-11-06 13:42] yegor256 commented on #113
@rultor release, tag is `0.25.4`

[2017-11-06 13:44] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13332-342151745)

[2017-11-06 13:45] yegor256 commented on #86
@amihaiemil is it still an issue? If not, please close

[2017-11-06 13:47] rultor commented on #113
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13332-342151745) (took me 3min)

[2017-11-06 13:53] yegor256 opened #139 "upgrade rubocop to its latest version"
Let's upgrade rubocop to the latest version.

[2017-11-06 13:55] yegor256 commented on #23
I guess I was wrong, we won't resubmit them, everything will work fine.

[2017-11-06 13:55] #23 closed

[2017-11-06 13:56] 0crat commented on #23
Oops! There is no order for job `gh:yegor256/0pdd#23`.

[2017-11-06 13:56] 0crat commented on #23
Oops! Job `gh:yegor256/0pdd#23` is not in scope.

[2017-11-06 13:56] 0crat commented on #15
@yegor256 please, pay attention to this issue

[2017-11-06 13:56] 0crat commented on #15
Oops! There is no order for job `gh:yegor256/0pdd#15`.

[2017-11-06 13:56] 0crat commented on #15
Oops! Job `gh:yegor256/0pdd#15` is not in scope.

[2017-11-06 13:57] 0pdd commented on #15
The puzzle `13-4c2685d4` has disappeared from the source code, that's why I closed this issue.

[2017-11-06 13:57] #15 closed

[2017-11-06 13:58] 0crat commented on #15
Oops! There is no order for job `gh:yegor256/0pdd#15`.

[2017-11-06 13:58] 0crat commented on #15
Oops! Job `gh:yegor256/0pdd#15` is not in scope.

[2017-11-06 13:58] yegor256 commented on #91
@SilasReinagel is this still an issue? We made many changes to the software since this bug was reported. I believe it's fixed already. Please, check.

[2017-11-06 14:25] yegor256 opened #140 "RuntimeError: XML has 1 errors"
https://sentry.io/zerocracy/0pdd-j0/issues/399937148/

[code]

[2017-11-06 14:25] yegor256 commented on #140
@rultor release, tag is `0.25.5`

[2017-11-06 14:26] rultor commented on #140
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13334-342163708)

[2017-11-06 14:30] rultor commented on #140
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13334-342163708) (took me 3min)

[2017-11-06 14:35] #140 closed

[2017-11-06 14:36] 0crat commented on #140
Oops! There is no order for job `gh:yegor256/0pdd#140`.

[2017-11-06 14:36] 0crat commented on #140
Oops! Job `gh:yegor256/0pdd#140` is not in scope.

[2017-11-06 14:37] yegor256 opened #141 "ERROR: Element 'puzzles': The attribute 'date' is required but missing."
[code]

[2017-11-06 14:45] yegor256 commented on #141
@rultor release, tag is `0.25.6`

[2017-11-06 14:46] rultor commented on #141
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13335-342169554)

[2017-11-06 14:49] rultor commented on #141
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13335-342169554) (took me 3min)

[2017-11-06 14:52] #141 closed

[2017-11-06 14:52] 0crat commented on #141
Oops! There is no order for job `gh:yegor256/0pdd#141`.

[2017-11-06 14:52] 0crat commented on #141
Oops! Job `gh:yegor256/0pdd#141` is not in scope.

[2017-11-06 18:36] yegor256 opened #142 "breaks XML on submit"
[code]

[2017-11-06 18:51] yegor256 commented on #142
@rultor release, tag is `0.25.7`

[2017-11-06 18:52] rultor commented on #142
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13337-342247657)

[2017-11-06 18:56] rultor commented on #142
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13337-342247657) (took me 3min)

[2017-11-06 19:25] #142 closed

[2017-11-06 19:26] 0crat commented on #142
Oops! There is no order for job `gh:yegor256/0pdd#142`.

[2017-11-06 19:26] 0crat commented on #142
Oops! Job `gh:yegor256/0pdd#142` is not in scope.

[2017-11-11 10:59] amihaiemil commented on #86
@yegor256 I haven't noticed. Closing for now.

[2017-11-11 10:59] #86 closed

[2017-11-11 11:00] 0crat commented on #86
Oops! There is no order for job `gh:yegor256/0pdd#86`.

[2017-11-12 10:10] yegor256 opened #143 "automatically accept GitHub invitations to organizations"
At the moment we only accept repository invitations. Let's accept ones into organizations.

[2017-11-12 10:20] 0crat commented on #143
Job `gh:yegor256/0pdd#143` is in scope.

[2017-11-12 10:20] 0crat commented on #143
Bug was reported: +15 points just awarded to @yegor256, total is [+5290](http://www.0crat.com/u/yegor256).

[2017-11-12 16:15] extsoft opened #144 "Tag "9-5878affc/closed" already exists, won't close again."
Please take a look for [this message](https://github.com/extsoft/elegant-git/commit/4f1b3d85cc6f7fec9e7fa3479b454d9ed87e951a#commitcomment-25533431). New puzzles can be created.

The same for the next commit - https://github.com/extsoft/elegant-git/commit/9d083db472673043a31cb6f594dfd6654a2db6f8#commitcomment-25565935

[2017-11-12 16:15] 0crat commented on #144
@yegor256 please, pay attention to this issue

[2017-11-12 19:45] yegor256 opened #145 "make it possible to delete a single entry"
Let's add delete button

[2017-11-12 19:46] 0crat commented on #145
Job `gh:yegor256/0pdd#145` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-12 19:52] 0crat commented on #145
Bug was reported: +15 points just awarded to @yegor256, total is [+5300](http://www.0crat.com/u/yegor256).

[2017-11-12 19:52] 0crat commented on #145
Manual assignment of issues is discouraged, see par.19: -5 points just awarded to @yegor256, total is [+5300](http://www.0crat.com/u/yegor256).

[2017-11-12 19:53] yegor256 commented on #144
@extsoft I fixed it, please try again. If you see this bug again, please report.

[2017-11-12 19:53] yegor256 commented on #145
@rultor release, tag is `0.25.8`

[2017-11-12 19:54] rultor commented on #145
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13371-343762457)

[2017-11-12 19:59] rultor commented on #145
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13371-343762457) (took me 4min)

[2017-11-12 20:00] #145 closed

[2017-11-12 20:01] 0crat commented on #145
Job `gh:yegor256/0pdd#145` is now out of scope.

[2017-11-12 20:02] 0crat commented on #145
Order was successfully finished: +30 points just awarded to @yegor256, total is [+5330](http://www.0crat.com/u/yegor256).

[2017-11-14 14:49] 0crat commented on #127
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:52] 0crat commented on #129
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:54] 0crat commented on #133
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:55] 0crat commented on #105
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:56] 0crat commented on #135
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:57] 0crat commented on #70
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 14:58] 0crat commented on #99
@tedtoer this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:00] 0crat commented on #123
@yegor256 this job was assigned to you 8 days ago.
It will be taken away from you after 10 days from start (this is our policy).

[2017-11-14 15:13] 0crat commented on #127
@tedtoer resigned from `gh:yegor256/0pdd#127`, please stop working.

[2017-11-14 15:13] 0crat commented on #129
@tedtoer resigned from `gh:yegor256/0pdd#129`, please stop working.

[2017-11-14 15:13] 0crat commented on #133
@tedtoer resigned from `gh:yegor256/0pdd#133`, please stop working.

[2017-11-14 15:13] 0crat commented on #105
@tedtoer resigned from `gh:yegor256/0pdd#105`, please stop working.

[2017-11-14 15:14] 0crat commented on #135
@tedtoer resigned from `gh:yegor256/0pdd#135`, please stop working.

[2017-11-14 15:14] 0crat commented on #70
@tedtoer resigned from `gh:yegor256/0pdd#70`, please stop working.

[2017-11-14 15:14] 0crat commented on #99
@tedtoer resigned from `gh:yegor256/0pdd#99`, please stop working.

[2017-11-14 15:14] 0crat commented on #123
@yegor256 resigned from `gh:yegor256/0pdd#123`, please stop working.

[2017-11-14 15:14] 0crat commented on #127
Oops! Job `gh:yegor256/0pdd#127` is not assigned to anyone.

[2017-11-14 15:14] 0crat commented on #129
Oops! Job `gh:yegor256/0pdd#129` is not assigned to anyone.

[2017-11-14 15:14] 0crat commented on #133
Oops! Job `gh:yegor256/0pdd#133` is not assigned to anyone.

[2017-11-14 15:14] 0crat commented on #105
Oops! Job `gh:yegor256/0pdd#105` is not assigned to anyone.

[2017-11-14 15:14] 0crat commented on #135
Oops! Job `gh:yegor256/0pdd#135` is not assigned to anyone.

[2017-11-14 15:14] 0crat commented on #70
Oops! Job `gh:yegor256/0pdd#70` is not assigned to anyone.

[2017-11-14 15:14] 0crat commented on #99
Oops! Job `gh:yegor256/0pdd#99` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #127
Oops! Job `gh:yegor256/0pdd#127` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #129
Oops! Job `gh:yegor256/0pdd#129` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #105
Oops! Job `gh:yegor256/0pdd#105` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #135
Oops! Job `gh:yegor256/0pdd#135` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #70
Oops! Job `gh:yegor256/0pdd#70` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #99
Oops! Job `gh:yegor256/0pdd#99` is not assigned to anyone.

[2017-11-14 15:15] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #127
Oops! Job `gh:yegor256/0pdd#127` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #129
Oops! Job `gh:yegor256/0pdd#129` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #105
Oops! Job `gh:yegor256/0pdd#105` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #135
Oops! Job `gh:yegor256/0pdd#135` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #70
Oops! Job `gh:yegor256/0pdd#70` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #99
Oops! Job `gh:yegor256/0pdd#99` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #127
Oops! Job `gh:yegor256/0pdd#127` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #129
Oops! Job `gh:yegor256/0pdd#129` is not assigned to anyone.

[2017-11-14 15:16] 0crat commented on #105
Oops! Job `gh:yegor256/0pdd#105` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #135
Oops! Job `gh:yegor256/0pdd#135` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #70
Oops! Job `gh:yegor256/0pdd#70` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #99
Oops! Job `gh:yegor256/0pdd#99` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #127
Oops! Job `gh:yegor256/0pdd#127` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #129
Oops! Job `gh:yegor256/0pdd#129` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #99
Oops! Job `gh:yegor256/0pdd#99` is not assigned to anyone.

[2017-11-14 15:17] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is not assigned to anyone.

[2017-11-14 15:18] 0crat commented on #129
Oops! Job `gh:yegor256/0pdd#129` is not assigned to anyone.

[2017-11-14 15:18] 0crat commented on #123
Oops! Job `gh:yegor256/0pdd#123` is not assigned to anyone.

[2017-11-16 20:10] 0crat commented on #143
Job `gh:yegor256/0pdd#143` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-11-21 19:59] 0crat commented on #143
@tedtoer this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-22 13:49] kalloc commented on #126
@yegor256
I would like to run private copy of 0pdd web service, I need working configuration.
I don't found  `config.yml` in repo.
It helps if you show me an example, i can read source, but it will spend more time.

thanks

[2017-11-23 12:40] yegor256 commented on #123
@DronMDF I think we can close this ticket? Or you still see the problem?

[2017-11-23 12:44] DronMDF commented on #123
@yegor256 This is fixed, IMO.

[2017-11-23 12:44] #123 closed

[2017-11-23 12:46] yegor256 commented on #126
@kalloc see 494bc19 Does it help?

[2017-11-23 13:22] 0crat commented on #123
Job `gh:yegor256/0pdd#123` is now out of scope.

[2017-11-23 13:32] 0crat commented on #123
Order was successfully finished: +30 points just awarded to @tedtoer, total is [+90](http://www.0crat.com/u/tedtoer).

[2017-11-23 22:20] kalloc commented on #126
@yegor256 yeap, thanks

[2017-11-24 17:44] yegor256 commented on #144
@extsoft works fine?

[2017-11-24 20:09] extsoft commented on #144
@yegor256 Sorry for the long reply. Yes, it works.

[2017-11-24 20:09] #144 closed

[2017-11-24 20:10] 0crat commented on #143
@tedtoer this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [par.8](http://datum.zerocracy.com/pages/policy.html#8).

[2017-11-24 20:10] 0crat commented on #144
Oops! There is no order for job `gh:yegor256/0pdd#144`.

[2017-11-24 20:18] 0crat commented on #144
Oops! Job `gh:yegor256/0pdd#144` is not in scope.

[2017-11-26 21:01] 0crat commented on #143
@tedtoer resigned from `gh:yegor256/0pdd#143`, please stop working.

[2017-11-26 21:31] 0crat commented on #143
Job `gh:yegor256/0pdd#143` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-01 19:36] php-coder opened #146 "Document how it works with branches"
Quote from [the article](http://www.yegor256.com/2017/04/05/pdd-in-action.html):

Does it mean that it will react on any pushes on any branches? How to avoid tickets creation when I'm pushing to temporary (working) branch? I'd like to limit 0pdd to create the issues only when I'm pushing to the master branch. How I can do that?

[2017-12-01 19:36] 0crat commented on #146
@yegor256 please, pay attention to this issue

[2017-12-01 20:42] yegor256 commented on #146
@php-coder this is how it works, only with the `master` branch (actually, the default one). All other branches are ignored, see: https://github.com/yegor256/0pdd/blob/0.25.8/0pdd.rb#L406

[2017-12-01 21:17] php-coder commented on #146
@yegor256 Thanks!

Is this setting came from a config file and can be configured by user?

[2017-12-02 00:01] php-coder opened #147 "Make issue subject configurable"
0pdd uses hard-coded and undocumented format for issues' subject. I'd like to change it to exclude filename and lines and leave only a comment.

In particular, I'm trying to resolve the following:

<img width="642" alt="2017-12-02 0 55 31" src="https://user-images.githubusercontent.com/87088/33508676-09ad4f74-d6fc-11e7-849a-0d33defbb7db.png">

Also, I'd like to know why there are only `...`? I exp

[2017-12-02 00:01] 0crat commented on #147
@yegor256 please, pay attention to this issue

[2017-12-02 00:04] php-coder opened #148 "Make issue body configurable"
If would be very handy to be able to customize issue's body.

For example, user could solve https://github.com/yegor256/0pdd/issues/70 on his own. Also it will become possible to use custom formatting.

[2017-12-02 00:05] 0crat commented on #148
@yegor256 please, pay attention to this issue

[2017-12-02 00:10] php-coder opened #149 "Issue body: use stable links"
The links to the master branch could quickly became inaccessible if file is renamed/modified. It's better to use stable links (with commit hash in path). In this case, GitHub even will be able to embed a related lines of code to the issue.

[2017-12-02 00:10] 0crat commented on #149
@yegor256 please, pay attention to this issue

[2017-12-02 00:18] php-coder opened #150 "Document whether it's safe to modify generated issues"
I don't properly understand all the details and I have many question on what I can do and what I can't. In particular, I'm scare that all the issues will be closed after my actions. This point can be clarified in documentation.

It is safe to modify issues' titles?
It is safe to modify issues' bodies?
What will happen if I close one of such issues manually? I hope that it won't be reopened or a ne

[2017-12-02 00:18] 0crat commented on #150
@yegor256 please, pay attention to this issue

[2017-12-02 00:23] php-coder opened #151 "Issue title: compact format for single-line todo"
Issue's title `ImportSeriesForm.java:83-83: ...` could be simplified to `ImportSeriesForm.java:83: ...`

[2017-12-02 00:23] 0crat commented on #151
@yegor256 please, pay attention to this issue

[2017-12-02 00:50] php-coder opened #152 "Clarify whether collaborator access is needed or it isn't"
Quote from

I'm a bit frustrated because 1) the similar instruction in [the blog](http://www.yegor256.com/2017/04/05/pdd-in-action.html) doesn't have this step 2) looks like it works without this. So, perhaps, this is outdated and can be removed?

If it's not, then I'd like to know why I need to add @0pdd as collaborator and how to grant  read-only access to it (I didn't find).

[2017-12-02 00:50] 0crat commented on #152
@yegor256 please, pay attention to this issue

[2017-12-02 09:05] dgroup commented on #18
Hi @yegor256 ,
Does 0pdd works with private repositories?

Today i've observer this issue:
[code]

[2017-12-02 09:08] dgroup commented on #18
Looks like my format of the @todo messages is wrong.
They should be written in accordance to https://github.com/yegor256/pdd#how-to-format.

[2017-12-03 00:34] php-coder opened #153 ".coveralls.yml: do we really need it if we use codecov.io now?"
As far I can see we're using codecov.io for code coverage. Is the `.coveralls.yml` file is used? Also I see that it contains repo token, I hope that it's not something that should be kept secret.

[2017-12-03 00:34] 0crat commented on #153
@yegor256 please, pay attention to this issue

[2017-12-03 05:25] yegor256 commented on #147
@php-coder sounds like a good idea, let me implement it

[2017-12-03 05:49] yegor256 commented on #147
@rultor release, tag is `0.26`

[2017-12-03 05:50] rultor commented on #147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13519-348742321)

[2017-12-03 05:51] yegor256 commented on #147
@php-coder I guess it works now, please try (see the updated README in 2893ec9)

[2017-12-03 05:54] rultor commented on #147
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13519-348742321) (took me 4min)

[2017-12-03 05:55] yegor256 commented on #146
@php-coder we're getting this information from your GitHub repository, see: https://help.github.com/articles/setting-the-default-branch/

[2017-12-03 06:07] yegor256 commented on #148
@php-coder I don't like the idea of making it entirely configurable, but we definitely can make certain parts "skippable". What would you like to skip? What formatting options would you like to see?

[2017-12-03 08:47] yegor256 commented on #153
@php-coder you're right, it's garbage, deleted in f1fb363

[2017-12-03 08:47] #153 closed

[2017-12-03 08:49] 0crat commented on #153
Oops! There is no order for job `gh:yegor256/0pdd#153`.

[2017-12-03 08:49] 0crat commented on #153
Oops! Job `gh:yegor256/0pdd#153` is not in scope.

[2017-12-03 14:50] php-coder commented on #147
Thanks!

[2017-12-03 15:11] php-coder commented on #148
At least I need the following:
- stable links (https://github.com/yegor256/0pdd/issues/149)
- optional estimate/role (https://github.com/yegor256/0pdd/issues/70)
- custom messages that is added to a subject (that supports inserting dynamic values, like commit hash, issue, author). At this time, I have to manually edit each issue after it's creation

Additionally I'd like to see a snippet with the

[2017-12-03 16:57] php-coder opened #154 "Fails to create an issue: 422 - Invalid request: No subschema in "anyOf" matched"
See an error here: https://github.com/php-coder/mystamps/commit/2da5416037b0c80c1f0689a4ea31a1185f0b60d9#commitcomment-26016070

Could be related to recently introduced "short-title" feature: https://github.com/yegor256/0pdd/issues/147

[2017-12-03 16:58] 0crat commented on #154
@yegor256 please, pay attention to this issue

[2017-12-03 17:04] php-coder commented on #154
I confirm that it relates to "short-title" feature.

[2017-12-03 17:11] php-coder opened #155 "Document a behavior: comment and puzzle is being created from the latest commit"
It could be a bit unexpected when you see it first time, but puzzle could be created on a commit that actually doesn't add puzzle at all.

For example, if you have 2 commits where the first is adding puzzle, but you are pushing them together. In this case, comment will be added to the 2nd commit.

The same could happen when 0pdd fails due to a parsing bug and later  you push another commit that fi

[2017-12-03 17:11] 0crat commented on #155
@yegor256 please, pay attention to this issue

[2017-12-04 09:52] yegor256 commented on #155
@php-coder see 41eb565 Would that be enough?

[2017-12-04 10:23] php-coder commented on #155
If it's possible I'd like to see something like "known issues" section in the documentation.

[2017-12-04 11:11] yegor256 commented on #27
@rultor release, tag is `0.27`

[2017-12-04 11:12] rultor commented on #27
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13526-348931605)

[2017-12-04 11:16] rultor commented on #27
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13526-348931605) (took me 4min)

[2017-12-04 11:32] php-coder commented on #27
For the record: the implementation differs from the proposed in the issues body. Here is an example of using the new feature (not also that it should be in `.0pdd.yml` file): https://github.com/yegor256/0pdd/commit/60aa0eaf35d6afe7704471a9dc22604953dc7c13

[2017-12-04 11:37] yegor256 commented on #27
@php-coder I updated the description of the ticket, thanks

[2017-12-04 11:40] php-coder commented on #27
@yegor256 Another one: s/Somewhere in .pdd/Somewhere in .0pdd/

[2017-12-04 11:48] php-coder commented on #27
@yegor256 There are a few errors in the build log that didn't fails the build bug look suspicious to me:

1) This could be a real error:
[code]

2) The next one probably is expected to happen, but is it possible to not show the exception in this case?
[code]

[2017-12-04 11:49] php-coder commented on #27
The messages also could be improved by disabling colored output from the commands (or properly filtering such an output).

[2017-12-04 11:54] php-coder commented on #147
When I tried to use it, it didn't work: https://github.com/yegor256/0pdd/issues/154

[2017-12-04 12:06] yegor256 opened #156 "test/test_credentials doesn't fail the build"
Here: http://www.rultor.com/t/13526-348931605

[code]

[2017-12-04 12:07] yegor256 commented on #27
@php-coder I created #156 thanks!

[2017-12-04 12:13] yegor256 commented on #156
@rultor release, tag is `0.27.1`

[2017-12-04 12:14] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13527-348945315)

[2017-12-04 12:17] rultor commented on #156
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13527-348945315) (spent 3min)

[code]

[2017-12-04 14:49] yegor256 commented on #156
@rultor release, tag is `0.27.1`

[2017-12-04 14:49] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13527-348983648)

[2017-12-04 14:52] rultor commented on #156
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13527-348983648) (spent 3min)

[code]

[2017-12-04 14:53] yegor256 commented on #156
ultor release, tag is `0.27.1`

[2017-12-04 14:55] yegor256 commented on #156
@rultor release, tag is 0.27.1

[2017-12-04 14:56] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13527-348985557)

[2017-12-04 14:59] rultor commented on #156
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13527-348985557) (took me 3min)

[2017-12-04 15:00] #156 closed

[2017-12-04 15:04] yegor256 opened #157 "catch Octokit::NotFound if tags can't be added"
let's catch it

[2017-12-04 15:10] yegor256 commented on #157
@rultor release, tag is `0.27.2`

[2017-12-04 15:11] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13528-348990228)

[2017-12-04 15:14] rultor commented on #157
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13528-348990228) (took me 3min)

[2017-12-04 15:18] 0crat commented on #156
Oops! There is no order for job `gh:yegor256/0pdd#156`.

[2017-12-04 15:19] #157 closed

[2017-12-04 15:19] 0crat commented on #156
Oops! Job `gh:yegor256/0pdd#156` is not in scope.

[2017-12-04 15:19] yegor256 opened #158 "safely work with tags"
Let's make it safer

[2017-12-04 15:29] yegor256 commented on #158
@rultor release, tag is `0.27.3`

[2017-12-04 15:29] rultor commented on #158
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13529-348996210)

[2017-12-04 15:33] rultor commented on #158
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13529-348996210) (took me 3min)

[2017-12-04 15:38] 0crat commented on #157
Oops! There is no order for job `gh:yegor256/0pdd#157`.

[2017-12-04 15:46] #158 closed

[2017-12-04 15:46] 0crat commented on #157
Oops! Job `gh:yegor256/0pdd#157` is not in scope.

[2017-12-04 15:46] #27 closed

[2017-12-04 15:48] 0crat commented on #158
Oops! There is no order for job `gh:yegor256/0pdd#158`.

[2017-12-04 15:52] yegor256 commented on #155
@php-coder how about now: 9c0e9dd ?

[2017-12-04 15:59] 0crat commented on #158
Oops! Job `gh:yegor256/0pdd#158` is not in scope.

[2017-12-04 15:59] 0crat commented on #27
Oops! There is no order for job `gh:yegor256/0pdd#27`.

[2017-12-04 16:04] php-coder commented on #155
@yegor256 LGTM. Thanks!

[2017-12-04 16:04] #155 closed

[2017-12-04 16:04] 0crat commented on #27
Oops! Job `gh:yegor256/0pdd#27` is not in scope.

[2017-12-04 16:18] 0crat commented on #155
Oops! Job `gh:yegor256/0pdd#155` is not in scope.

[2017-12-04 17:30] yegor256 commented on #151
@rultor release, tag is `0.27.4`

[2017-12-04 17:32] rultor commented on #151
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13532-349038422)

[2017-12-04 17:35] rultor commented on #151
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13532-349038422) (took me 3min)

[2017-12-04 17:35] yegor256 commented on #151
@php-coder I believe it's fixed in 0.27.4 Thanks for the hint!

[2017-12-04 20:33] yegor256 commented on #149
@rultor release, tag is `0.27.5`

[2017-12-04 20:34] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13533-349096294)

[2017-12-04 20:37] rultor commented on #149
@php-coder @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13533-349096294) (spent 3min)

[code]

[2017-12-04 20:41] yegor256 commented on #149
@rultor release, tag is `0.27.5`

[2017-12-04 20:42] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13533-349098381)

[2017-12-04 20:46] rultor commented on #149
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13533-349098381) (took me 3min)

[2017-12-04 20:49] yegor256 commented on #149
@php-coder I believe it's fixed

[2017-12-04 20:55] php-coder commented on #149
@yegor256 WDYT about adding also lines: https://github.com/yegor256/0pdd/commit/a0f20ffaaba42852ac09ac158e2b14d4590a0074#r26042908 ?

[2017-12-04 20:55] yegor256 commented on #150
@php-coder how about 19d1daa ?

[2017-12-04 21:02] php-coder commented on #150
@yegor256 LGTM (and also see my comment).

[2017-12-04 21:06] yegor256 commented on #149
@rultor release, tag is `0.27.6`

[2017-12-04 21:09] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13533-349105425)

[2017-12-04 21:12] rultor commented on #149
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13533-349105425) (took me 3min)

[2017-12-04 21:18] yegor256 commented on #149
@rultor release, tag is `0.27.7`

[2017-12-04 21:18] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13533-349108712)

[2017-12-04 21:22] rultor commented on #149
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13533-349108712) (took me 3min)

[2017-12-04 21:32] yegor256 commented on #149
@php-coder I believe it works now, many thanks for the hint!

[2017-12-04 22:24] php-coder commented on #27
It's puzzling me because the issue mentioning "labels" in title, it operates on tags in the code, it uses "tags" in the configuration, but it still tries to add "labels".

Consider renaming it while it's not too late.

[2017-12-04 22:26] php-coder commented on #152
I found at least one use-case where it should be a collaborator with write permissions -- adding labels. Otherwise it will fail: https://github.com/php-coder/mystamps/issues/745#issuecomment-349123749

Anyway, doc is saying about "read-only access" that doesn't exists.

[2017-12-04 22:30] php-coder opened #159 "Improve handling of the empty list of collaborators"
See example: https://github.com/php-coder/mystamps/issues/745#issuecomment-349123749

We shouldn't show a list if it's empty. Moreover, if bot doesn't have permissions, most likely this list always will be empty.

[2017-12-04 22:30] 0crat commented on #159
@yegor256 please, pay attention to this issue

[2017-12-04 23:12] php-coder opened #160 "Fails to add a label: 422 - Validation Failed Error summary: resource: Label code: already_exists field"
Related to a new feature (https://github.com/yegor256/0pdd/issues/27) that doesn't work: https://github.com/php-coder/mystamps/commit/4ed41b45ab3bb7f8c3d45566db348af33f8552cc#commitcomment-26045909

[2017-12-04 23:12] 0crat commented on #160
@yegor256 please, pay attention to this issue

[2017-12-05 05:59] yegor256 commented on #159
@php-coder it's something else, fixed in 0883b86

[2017-12-05 06:00] yegor256 commented on #159
@rultor release, tag is `0.27.8`

[2017-12-05 06:00] rultor commented on #159
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13535-349204474)

[2017-12-05 06:03] rultor commented on #159
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13535-349204474) (took me 3min)

[2017-12-05 06:08] #149 closed

[2017-12-05 06:13] yegor256 commented on #154
@rultor release, tag is `0.27.9`

[2017-12-05 06:14] rultor commented on #154
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13536-349206519)

[2017-12-05 06:17] rultor commented on #154
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13536-349206519) (took me 3min)

[2017-12-05 06:18] 0crat commented on #149
Oops! There is no order for job `gh:yegor256/0pdd#149`.

[2017-12-05 06:19] yegor256 commented on #160
@rultor release, tag is `0.27.10`

[2017-12-05 06:20] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13537-349207409)

[2017-12-05 06:24] rultor commented on #160
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13537-349207409) (took me 3min)

[2017-12-05 06:28] 0crat commented on #149
Oops! Job `gh:yegor256/0pdd#149` is not in scope.

[2017-12-05 07:54] yegor256 commented on #160
@php-coder it's fixed, please check

[2017-12-05 07:59] yegor256 commented on #150
@php-coder thanks, fixed

[2017-12-05 08:09] yegor256 commented on #152
@php-coder here is the fix on the blog: https://github.com/yegor256/blog/commit/7d9409be2348d6686a2d5bffd99b893f7f599bd3

[2017-12-05 08:10] yegor256 commented on #152
@php-coder fixed in f4a0fb5

[2017-12-05 10:59] php-coder commented on #150
Thanks!

[2017-12-05 10:59] #150 closed

[2017-12-05 11:09] 0crat commented on #150
Oops! There is no order for job `gh:yegor256/0pdd#150`.

[2017-12-05 11:18] 0crat commented on #150
Oops! Job `gh:yegor256/0pdd#150` is not in scope.

[2017-12-05 11:20] php-coder opened #161 "Getting error: Tag "684-b075a77e/submit" already exists"
I'm seeing an error here: https://github.com/php-coder/mystamps/commit/0789b3b8706ad4f972441dcba9dfaa60bd94e924#commitcomment-26057673

When I'm searching for "684-b075a77e" at http://www.0pdd.com/p?name=php-coder/mystamps I see the comment indeed in the database but for some reason the comment doesn't have a link to related issue -- https://github.com/php-coder/mystamps/issues/747

This could mea

[2017-12-05 11:20] 0crat commented on #161
@yegor256 please, pay attention to this issue

[2017-12-06 07:11] yegor256 commented on #161
@php-coder it is indeed a bug on our side, which happened when we were playing with GitHub labels. The issue was created, but not properly recorded in our database. I will remove the log record now and a new issue will be created.

[2017-12-06 22:07] php-coder commented on #161
0pdd have just created a duplicated issue :-(

Now I don't need anything from the server because nothing to solve.

[2017-12-06 22:07] #161 closed

[2017-12-06 22:10] php-coder commented on #152
It fails to me otherwise: `POST https://api.github.com/repos/php-coder/mystamps/labels: 404 - Not Found // See: https://developer.github.com/v3/issues/labels/#create-a-label`

See https://github.com/php-coder/mystamps/issues/748#issuecomment-349789210

[2017-12-07 04:28] 0crat commented on #143
@tedtoer resigned from `gh:yegor256/0pdd#143`, please stop working.

[2017-12-07 04:28] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 04:28] 0crat commented on #143
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-07 10:28] 0crat commented on #143
Job `gh:yegor256/0pdd#143` assigned to @tedtoer, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-12-07 12:40] yegor256 commented on #159
@php-coder I believe it's fixed, please check

[2017-12-07 12:41] yegor256 commented on #154
@php-coder I believe it's fixed, please check

[2017-12-07 12:44] yegor256 commented on #152
@php-coder that's how I want it work. By default, you don't need it. Then, when you try to use labels, you will get this message and will add @0pdd to the list of collaborators.

[2017-12-07 12:44] yegor256 commented on #151
@php-coder please, check and close the ticket

[2017-12-07 12:46] yegor256 commented on #148
@php-coder I believe most of the problems are fixed here. Let's close this ticket and open a new one, per each issue you're still having

[2017-12-07 12:47] yegor256 commented on #147
@php-coder I believe it's fixed, right?

[2017-12-07 14:45] yegor256 opened #162 "show exit code in exception"

[2017-12-07 15:00] #154 closed

[2017-12-08 11:59] #148 closed

[2017-12-08 12:01] php-coder opened #163 "Make length of the issue's title configurable"
I'd like to be able to configure length of the issue's title. 60 characters isn't enough to me.

[2017-12-08 12:01] 0crat commented on #163
@yegor256 please, pay attention to this issue

[2017-12-08 12:02] #151 closed

[2017-12-08 12:06] php-coder commented on #152
Could you document it? It could go to the chapter about using labels (I personally would also mention it in the above steps).

[2017-12-08 12:09] 0crat commented on #148
Oops! There is no order for job `gh:yegor256/0pdd#148`.

[2017-12-08 12:10] 0crat commented on #148
Oops! Job `gh:yegor256/0pdd#148` is not in scope.

[2017-12-08 12:10] 0crat commented on #151
Oops! There is no order for job `gh:yegor256/0pdd#151`.

[2017-12-08 12:11] #147 closed

[2017-12-08 12:11] 0crat commented on #151
Oops! Job `gh:yegor256/0pdd#151` is not in scope.

[2017-12-08 12:15] php-coder opened #164 "Ability to append custom text to an issue's body"
Extracted from https://github.com/yegor256/0pdd/issues/148#issuecomment-348781406:

I'd like to be able to add an additional information to the body of every issue that is being created by bot. It should not just allow me to append a text but also support simple templating: commit, original issue number, and, probably, author should be supported.

[2017-12-08 12:15] 0crat commented on #164
@yegor256 please, pay attention to this issue

[2017-12-08 12:15] #159 closed

[2017-12-08 13:21] php-coder opened #165 "Strip a path to the temporary root directory from the error message"
The full path to the file makes sense for pdd but it's useless to me when it's being reported by 0pdd because the root directory is a temporary directory:
[code]

Instead o

I'd like to see

Note that in my example, I also removed `php-coder/mystamps` part.

[2017-12-08 13:22] php-coder commented on #165
P.S. See there: https://github.com/php-coder/mystamps/commit/bb4f863ada5ae98a9656664e9c1c3453e09b0192#commitcomment-26140735

[2017-12-08 13:29] 0crat commented on #159
Oops! There is no order for job `gh:yegor256/0pdd#159`.

[2017-12-08 13:33] 0crat commented on #147
Oops! There is no order for job `gh:yegor256/0pdd#147`.

[2017-12-08 13:33] 0crat commented on #147
Oops! Job `gh:yegor256/0pdd#147` is not in scope.

[2017-12-08 14:38] 0crat commented on #159
Oops! Job `gh:yegor256/0pdd#159` is not in scope.

[2017-12-11 13:22] yegor256 opened #166 "don't report log collisions"
Let's make the visible to the users only.

[2017-12-11 15:06] yegor256 commented on #166
@rultor release, tag is `0.27.11`

[2017-12-11 15:07] rultor commented on #166
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13559-350750759)

[2017-12-11 15:11] rultor commented on #166
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13559-350750759) (took me 3min)

[2017-12-11 15:28] #166 closed

[2017-12-11 15:48] #162 closed

[2017-12-11 15:48] yegor256 opened #167 "Octokit::InvalidRepository: Invalid Repository. Use user/repo format."
https://sentry.io/zerocracy/0pdd-j0/issues/371237692/

[code]

[2017-12-11 15:57] yegor256 commented on #167
@rultor release, tag is `0.27.12`

[2017-12-11 15:58] rultor commented on #167
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13560-350767031)

[2017-12-11 16:02] rultor commented on #167
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13560-350767031) (took me 3min)

[2017-12-11 16:11] #167 closed

[2017-12-12 15:05] 0crat commented on #167
Oops! There is no order for job `gh:yegor256/0pdd#167`.

[2017-12-12 15:05] 0crat commented on #167
Oops! Job `gh:yegor256/0pdd#167` is not in scope.

[2017-12-12 16:19] 0crat commented on #162
Oops! There is no order for job `gh:yegor256/0pdd#162`.

[2017-12-12 16:19] 0crat commented on #162
Oops! Job `gh:yegor256/0pdd#162` is not in scope.

[2017-12-12 23:07] php-coder opened #168 "[regression] Complains to commented lines in the XML file"
I've just faced the following error:

The full log is here: https://github.com/php-coder/mystamps/commit/ecfdd3c17d3e9968cca882fd899a43d8bdbe5f99#commitcomment-26226287

It complains to the following lines:

https://github.com/php-coder/mystamps/blob/ecfdd3c17d3e9968cca882fd899a43d8bdbe5f99/src/main/config/checkstyle.xml#L260-L268

Because it wasn't here before, I'm interesting to know: is it expe

[2017-12-13 20:25] 0crat commented on #168
@yegor256 please, pay attention to this issue

[2017-12-14 10:34] yegor256 commented on #168
@php-coder it's expected. Replace `@` with `&#x40;`

[2017-12-14 10:34] yegor256 commented on #165
@php-coder it's fixed, please check

[2017-12-14 10:35] yegor256 opened #169 "sentry must not see UserError"

[2017-12-14 11:27] php-coder commented on #168
Ok, thanks!

[2017-12-14 11:27] #168 closed

[2017-12-14 11:28] php-coder commented on #165
Ok, I check it when I'll see it next time.

[2017-12-14 11:28] #165 closed

[2017-12-14 12:35] #169 closed

[2017-12-14 12:55] yegor256 commented on #163
@rultor release, tag is `0.28`

[2017-12-14 12:56] rultor commented on #163
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13565-351703140)

[2017-12-14 13:00] rultor commented on #163
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13565-351703140) (took me 4min)

[2017-12-14 13:02] yegor256 commented on #163
@php-coder it's implemented, see the README

[2017-12-14 13:29] 0crat commented on #168
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/datum):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm/tree/1.0-SNAPSHOT) /cc @yegor256

[2017-12-14 13:49] php-coder commented on #163
@yegor256 Thanks!

[2017-12-14 13:50] #163 closed

[2017-12-14 14:28] 0crat commented on #169
Oops! Job `gh:yegor256/0pdd#169` is not in scope.

[2017-12-14 16:03] php-coder commented on #160
It's still there: https://github.com/php-coder/mystamps/issues/756#issuecomment-351752773

[code]

[2017-12-14 17:20] 0crat commented on #168
Oops! There is no order for job `gh:yegor256/0pdd#168`.

[2017-12-14 17:20] 0crat commented on #163
Oops! There is no order for job `gh:yegor256/0pdd#163`.

[2017-12-14 17:20] 0crat commented on #163
Oops! Job `gh:yegor256/0pdd#163` is not in scope.

[2017-12-14 18:29] 0crat commented on #168
Oops! Job `gh:yegor256/0pdd#168` is not in scope.

[2017-12-14 19:05] 0crat commented on #160
@yegor256 please, pay attention to this issue

[2017-12-15 20:23] yegor256 commented on #160
@rultor release, tag is `0.28.1`

[2017-12-15 20:23] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13537-352102881)

[2017-12-15 20:28] rultor commented on #160
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13537-352102881) (took me 4min)

[2017-12-15 20:31] yegor256 commented on #160
@php-coder can you please try again? It will fail, but the error message will contain more information for me. Please, post it here again. Thanks.

[2017-12-16 14:50] php-coder opened #170 "Doesn't work after using git push --force"
I pushed a single commit with `--force` flag and 0ppd stops working. It's either a bug or undocumented limitation.

Output (see also https://github.com/php-coder/mystamps/commit/43f4c93a199bf065403b33fd8693ee71f6e3793b#commitcomment-26310393):
[code]

[2017-12-17 10:19] 0crat commented on #99
@tedtoer resigned from `gh:yegor256/0pdd#99`, please stop working.

[2017-12-17 10:19] 0crat commented on #133
@tedtoer resigned from `gh:yegor256/0pdd#133`, please stop working.

[2017-12-17 10:28] 0crat commented on #135
@tedtoer resigned from `gh:yegor256/0pdd#135`, please stop working.

[2017-12-17 12:56] 0crat commented on #170
@yegor256 please, pay attention to this issue

[2017-12-17 12:58] 0crat commented on #70
@tedtoer resigned from `gh:yegor256/0pdd#70`, please stop working.

[2017-12-17 18:48] 0crat commented on #70
Job `gh:yegor256/0pdd#70` assigned to @tedtoer. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-17 22:43] php-coder commented on #160
Here is the error message (https://github.com/php-coder/mystamps/issues/760#issuecomment-352291691):
[code]

[2017-12-17 23:58] 0crat commented on #135
Job `gh:yegor256/0pdd#135` assigned to @tedtoer. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 04:48] 0crat commented on #105
Job `gh:yegor256/0pdd#105` assigned to @tedtoer. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 13:29] 0crat commented on #99
Job `gh:yegor256/0pdd#99` assigned to @tedtoer. The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-18 13:45] yegor256 commented on #170
@rultor relese, tag is `0.28.2`

[2017-12-18 13:46] rultor commented on #170
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2017-12-18 13:52] yegor256 commented on #170
@rultor release, tag is 0.28.2

[2017-12-18 13:53] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13580-352431156)

[2017-12-18 13:54] rultor commented on #170
@php-coder @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/13580-352431156) (spent 31s)

[code]

[2017-12-18 13:54] yegor256 commented on #170
@rultor release, tag is `0.28.2`

[2017-12-18 13:56] rultor commented on #170
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13580-352431596)

[2017-12-18 14:01] rultor commented on #170
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13580-352431596) (took me 4min)

[2017-12-18 14:02] yegor256 commented on #170
@php-coder it's definitely a bug. Can you please try again now?

[2017-12-18 14:07] php-coder commented on #170
@yegor256 Thanks! I'll reopen the issue if I find that it wasn't fixed.

[2017-12-18 14:07] #170 closed

[2017-12-18 14:09] 0crat commented on #170
Oops! There is no order for job `gh:yegor256/0pdd#170`.

[2017-12-18 14:09] 0crat commented on #170
Oops! Job `gh:yegor256/0pdd#170` is not in scope.

[2017-12-18 15:59] yegor256 commented on #160
@rultor release, tag is `0.28.3`

[2017-12-18 16:00] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13537-352469836)

[2017-12-18 16:04] rultor commented on #160
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13537-352469836) (took me 3min)

[2017-12-18 16:06] yegor256 commented on #160
@php-coder please, try again, we need more logs)

[2017-12-18 17:36] php-coder commented on #160
@yegor256 The error message it there: https://github.com/php-coder/mystamps/issues/761#issuecomment-352498223

Looks like GitHub returns not a full list of labels.

[2017-12-19 14:01] yegor256 commented on #160
@php-coder right, it's a bug. You have a long list of labels, but we're fetching just the first page of them from Github API. Let me fix it now.

[2017-12-19 14:17] yegor256 commented on #160
@rultor release, tag is `0.28.4`

[2017-12-19 14:18] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13537-352766185)

[2017-12-19 14:22] rultor commented on #160
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13537-352766185) (took me 4min)

[2017-12-19 14:26] yegor256 commented on #160
@php-coder please, check now. I believe, the problem should disappear. And thanks for your patience and your help!

[2017-12-19 22:43] php-coder commented on #160
@yegor256 It works! Thanks!

[2017-12-19 22:43] #160 closed

[2017-12-21 19:12] DronMDF opened #171 "National chars not shown in issue title"
https://github.com/DronMDF/manabot/issues/55

[2017-12-22 13:40] 0crat commented on #171
@yegor256 please, pay attention to this issue

[2017-12-22 19:00] yegor256 commented on #171
@DronMDF that's weird, let me take a look and fix.

[2017-12-25 10:33] yegor256 commented on #171
@rultor release, tag is `0.28.5`

[2017-12-25 10:34] rultor commented on #171
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/13623-353859140)

[2017-12-25 10:40] rultor commented on #171
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/13623-353859140) (took me 5min)

[2017-12-25 10:42] yegor256 commented on #171
@DronMDF check it now, please, seems to be fixed.

[2017-12-25 10:44] DronMDF commented on #171
@yegor256 Thank's. I'll check it out in the next few days.

[2017-12-27 17:29] 0crat commented on #70
@tedtoer resigned from `gh:yegor256/0pdd#70`, please stop working.

[2017-12-27 18:10] 0crat commented on #133
Job `gh:yegor256/0pdd#133` assigned to @tedtoer  ([profile](http://www.0crat.com/u/tedtoer})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-27 19:20] 0crat commented on #135
@tedtoer resigned from `gh:yegor256/0pdd#135`, please stop working.

[2017-12-27 20:59] DronMDF commented on #171
All fine. Thanks.

[2017-12-27 20:59] #171 closed

[2017-12-27 21:00] 0crat commented on #171
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

Cc @yegor256

[2017-12-27 21:00] 0crat commented on #171
Oops! Job `gh:yegor256/0pdd#171` was not in scope

[2017-12-28 00:11] 0crat commented on #105
@tedtoer resigned from `gh:yegor256/0pdd#105`, please stop working.

[2017-12-28 00:19] 0crat commented on #105
Job `gh:yegor256/0pdd#105` assigned to @tedtoer  ([profile](http://www.0crat.com/u/tedtoer})). The budget is [fixed](http://datum.zerocracy.com/pages/policy.html#4) and it is 30 minutes. Please, read the [Policy](http://datum.zerocracy.com/pages/policy.html) and go ahead.

[2017-12-28 08:29] 0crat commented on #99
@tedtoer resigned from `gh:yegor256/0pdd#99`, please stop working.

[2018-01-06 18:23] 0crat commented on #133
@tedtoer resigned from `gh:yegor256/0pdd#133`, please stop working.

[2018-01-06 21:53] php-coder opened #172 "Incindent: only 2 out of 4 puzzles were created and they aren't visible in the list of puzzles"
Yesterday I faced the following:
1) I pushed a couple of commits with 4 new puzzles
2) 0pdd discovered 4 puzzles on [the last commit](https://github.com/php-coder/mystamps/commit/fd2d107204f1157d71416fdbfaea811f63049e81) but created only 2 issues

I see that 2 other issues also were discovered as well because they are listed as 777-90f97a5a and 777-15085030 at http://www.0pdd.com/p?name=php-coder/

[2018-01-06 21:53] 0crat commented on #172
@yegor256 please, pay attention to this issue

[2018-01-08 15:46] yegor256 commented on #172
@php-coder what is the current situation? If these issues are created, it is more or less an expected behavior.

[2018-01-08 16:21] php-coder commented on #172
@yegor256 I push nothing to the master, so the state is the same. Should I push something to see whether 0pdd re-creates missing issues? What is the expected behavior?

[2018-01-08 16:47] yegor256 commented on #172
@php-coder yes, exactly, push something and see what happens, please.

[2018-01-09 22:34] php-coder commented on #172
@yegor256 The 2 missing issues were created and correctly linked in the report. Feel free to close the issue if you don't see what can be improved/fixed here.

What happened on the server side?

[2018-01-10 13:36] yegor256 commented on #172
@php-coder the problem is that sometimes we are going over the quota GitHub API is giving us. They allow only 5000 API requests per hour. If we are over quota, we just ignore puzzles. That's the best we can do. I don't know what else we can do. Any ideas?

Here is what we see time to time on the server:

[code]

[2018-01-10 14:03] php-coder commented on #172
I'd suggest the following:

1) at least notify users about that by adding a message like

2) Ideally, bot should remember such puzzles and try to create them again, after time out.

[2018-01-15 14:55] 0crat commented on #164
Job [#164](https://github.com/yegor256/0pdd/issues/164) is now in scope, role is `DEV`

[2018-01-15 15:15] 0crat commented on #164
The job [#164](https://github.com/yegor256/0pdd/issues/164) assigned to tedtoer. The budget is 30 minutes, see [§4](http://datum.zerocracy.com/pages/policy.html#4). Please, read [§8](http://datum.zerocracy.com/pages/policy.html#8) and [§9](http://datum.zerocracy.com/pages/policy.html#9). If the task is not clear, read [this](http://www.yegor256.com/2015/02/16/it-is-not-a-school.html) and [this](ht

[2018-01-22 19:34] 0crat commented on #164
@tedtoer[/z](https://www.0crat.com/u/tedtoer) this job was assigned to you 5 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-23 15:14] 0crat commented on #164
@tedtoer[/z](https://www.0crat.com/u/tedtoer) this job was assigned to you 8 days ago. It will be taken away from you soon, unless you close it, see [§8](http://datum.zerocracy.com/pages/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-01-24 19:07] t-izbassar opened #173 "Assign milestone for task"
Could be great to assign GitHub milestone for job. What do you think? For now it is manual step afaik.

[2018-01-24 19:07] 0crat commented on #173
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-24 19:09] yegor256 commented on #173
@t-izbassar not a bad idea, but how will we know which milestone to assign?

[2018-01-24 19:15] yegor256 commented on #173
@t-izbassar well, that will mean that programmers will make management decisions, which is not exactly how this should work. Programmers must only care about scope, while priorities of tasks must be set by managers. The only thing we can do, I believe, is to configure milestone assignment rules somehow in `.0pdd.yml`... WDYT?

[2018-01-24 19:22] t-izbassar commented on #173
@yegor256 yes, valid points. It made much more sense in my personal project where I'm the dev and the manager)

Regarding yml - the only thing is that pdd can create milestones for projects but not assign it. That seems impossible. And there are no so much sense in creating milestones in `.0pdd.yml` when they can be created manually. I will try to think about it. Maybe the `0crat` should do it aut

[2018-01-24 19:24] t-izbassar commented on #173
Will come up with issue in `0crat` repo as he is the man making management decision)

[2018-01-24 19:24] #173 closed

[2018-01-24 19:24] 0crat commented on #173
Job `gh:yegor256/0pdd#173` is not assigned, can't get start time

[2018-01-24 19:27] yegor256 commented on #173
@t-izbassar right, thanks!

[2018-01-24 19:34] 0crat commented on #173
Job [#173](https://github.com/yegor256/0pdd/issues/173) was not in scope

[2018-01-25 15:15] 0crat commented on #164
The user @tedtoer[/z](https://www.0crat.com/u/tedtoer) resigned from [#164](https://github.com/yegor256/0pdd/issues/164), please stop working

[2018-01-26 09:18] t-izbassar opened #174 "Inherit milestone from issue"
Scenario: issue 555 have milestone 2.0 assigned. When I work on that issue and create puzzles, those new issues should have the same 2.0 milestone assigned from the farm issue because it is obvious that puzzles are part of the issue and as issue is targeted to 2.0 release those puzzles should get the same target.

So the proposition is: get the milestone from issue if it's present and assign it to

[2018-01-26 09:18] 0crat commented on #174
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 12:55] yegor256 commented on #174
@t-izbassar totally agree, thanks for reporting!

[2018-01-26 12:56] 0crat commented on #174
Job [#174](https://github.com/yegor256/0pdd/issues/174) is now in scope, role is `DEV`

[2018-01-26 12:57] 0crat commented on #139
Job [#139](https://github.com/yegor256/0pdd/issues/139) is now in scope, role is `DEV`

[2018-01-26 12:58] 0crat commented on #139
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8360](https://www.0crat.com/u/yegor256)

[2018-01-26 13:02] 0crat commented on #24
Job [#24](https://github.com/yegor256/0pdd/issues/24) is now in scope, role is `DEV`

[2018-01-26 13:03] 0crat commented on #98
Job [#98](https://github.com/yegor256/0pdd/issues/98) is now in scope, role is `DEV`

[2018-01-26 13:03] 0crat commented on #30
Job [#30](https://github.com/yegor256/0pdd/issues/30) is now in scope, role is `DEV`

[2018-01-26 13:04] 0crat commented on #125
Job [#125](https://github.com/yegor256/0pdd/issues/125) is now in scope, role is `DEV`

[2018-01-26 13:04] yegor256 commented on #99
@0crat status

[2018-01-26 13:05] 0crat commented on #112
Job [#112](https://github.com/yegor256/0pdd/issues/112) is now in scope, role is `DEV`

[2018-01-26 13:07] 0crat commented on #24
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8435](https://www.0crat.com/u/yegor256)

[2018-01-26 13:08] 0crat commented on #98
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8435](https://www.0crat.com/u/yegor256)

[2018-01-26 13:08] 0crat commented on #30
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8435](https://www.0crat.com/u/yegor256)

[2018-01-26 13:08] 0crat commented on #125
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8435](https://www.0crat.com/u/yegor256)

[2018-01-26 13:08] 0crat commented on #99
@yegor256 This is what I know about this job, as in [§32](http://datum.zerocracy.com/pages/policy.html#32):

  * The job [#99](https://github.com/yegor256/0pdd/issues/99) is [in scope](http://datum.zerocracy.com/pages/policy.html#14) for 3mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://datum.zerocracy.com/pages/policy.html#4) is 30 minutes
  * These users ar

[2018-01-26 13:21] 0crat commented on #124
Job [#124](https://github.com/yegor256/0pdd/issues/124) is now in scope, role is `DEV`

[2018-01-26 13:22] 0crat commented on #112
Job [#112](https://github.com/yegor256/0pdd/issues/112) is already in scope

[2018-01-26 13:22] 0crat commented on #124
Bug was reported, see [§29](http://datum.zerocracy.com/pages/policy.html#29): +15 points just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256), total is [+8450](https://www.0crat.com/u/yegor256)

[2018-01-26 13:23] #20 closed

[2018-01-26 13:23] yegor256 commented on #20
Won't do it. Maybe later...

[2018-01-26 13:23] 0crat commented on #20
Job `gh:yegor256/0pdd#20` is not assigned, can't get start time

[2018-01-26 13:33] 0crat commented on #20
Job [#20](https://github.com/yegor256/0pdd/issues/20) was not in scope

[2018-01-26 14:41] jpnffigueiredo opened #175 "GitLab hook"
Do you plan to develop a gitlab hook?

[2018-01-26 14:41] 0crat commented on #175
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-01-26 16:57] yegor256 commented on #175
@jpnffigueiredo we will do it

[2018-01-26 16:57] 0crat commented on #175
Job [#175](https://github.com/yegor256/0pdd/issues/175) is now in scope, role is `DEV`

[2018-02-03 14:48] php-coder commented on #174
Yes, please. Because in my case all of the creates issues have "techdebt" label and they shouldn't belong to the any milestone.

[2018-02-07 09:38] rok-povsic opened #176 "0pdd user listed as being banned from assigning to a job"
Action:
Messaging `0crat status` in an issue that bot *0pdd* opened (is an author of).

Result:
In the reply, `0pdd` lists itself as the user being banned from assigning to the job because it is the author of the issue.

Expected result:
`0pdd` should not be listed as it's not a real user/DEV and cannot be assigned to a job in any case.

See [here](https://github.com/yegor256/jpeek/issues/112#issu